#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls1 https://github.com/AdrianDC/advanced_development_shell_tools/raw/master/extensions/syncthing/helpers.rc)

# === SyncThing Conflicts List Helper ===
function stconflictslist()
{
  # Usage: stconflictslist (List conflicts from SyncThing folders)

  # List conflicts from SyncThing folders
  find ./ -name '*.sync-conflict-*';
}

# === SyncThing Conflicts Clean Helper ===
function stconflictsclean()
{
  # Usage: stconflictsclean (Clean conflicts from SyncThing folders)

  # Clean conflicts from SyncThing folders
  find ./ -name '*.sync-conflict-*' -print -delete;
}

# === SyncThing Conflicts Resolve ===
function stconflictsresolve()
{
  # Usage: stconflictsresolve (Resolve conflicts from SyncThing folders)

  # Variables
  local file_conflict;
  local file_extension;
  local file_origin;

  # Header
  echo '';

  # Resolve conflicts from SyncThing folders
  while read -r file_conflict; do

    # Get file origin
    file_extension=${file_conflict##*.};
    file_origin=${file_conflict%.sync-conflict*}.${file_extension};

    # Compare conflict with origin
    echo "stconflictsresolve: Resolving '${file_origin}'...";
    pathscompare "${file_origin}" "${file_conflict}" --wait;
    echo '';

  done < <(find ./ -name '*.sync-conflict*');
}
