#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_shortcuts.rc)

# === ADB Reboot ===
function adbre()
{
  # Usage: adbre (Reboot device through adb)

  # Verify adb is ready
  adbready;

  # Reboot device through adb
  adb reboot;
}

# === ADB Regular Shortcuts ===
function adbs() { adb shell "${@}"; }
function adbdf() { adb shell df -H "${@}"; }
function adbpo() { adb shell reboot -p; }
function adbrb() { adb reboot bootloader; }
function adbrh() { adb shell setprop ctl.restart zygote; }
function adbrr() { adb reboot recovery; }
function adbsl() { adb shell ls -l "${@}"; }
function adbslz() { adb shell ls -lZ "${@}"; }
function adbsc() { adb shell cat "${@}"; }
function adbsg() { adb shell getprop "${@}"; }
function adbw() { adb 'wait-for-device'; }

# === ADB File Writer ===
function adbsw()
{
  # Usage: adbsw <"data"> <path> (Write a string to path through adb)

  # Write a string to path through adb
  adbro;
  adb shell "echo ${1} > ${2}";
}

# === ADB Partitions Shortcuts ===
function adbblkp() { adb shell ls -l /dev/block/bootdevice/by-name/; }
function adbfotarandom() { adb root; adb shell dd if=/dev/random of=/dev/block/platform/msm_sdcc.1/by-name/FOTAKernel; }
function adbfotazero() { adb root; adb shell dd if=/dev/zero of=/dev/block/platform/msm_sdcc.1/by-name/FOTAKernel; }
function adbmountcache() { adb shell mount -t ext4 /dev/block/platform/msm_sdcc.1/by-name/Cache /cache; }
function adbmountdata() { adb shell mount -t ext4 /dev/block/platform/msm_sdcc.1/by-name/Userdata /data; }
function adbmountmicrosd() { adb shell mkdir -p /storage/ext; adb shell mount -t ext4 /dev/block/mmcblk1p1 /storage/ext; }
function adbsgdisk() { adb shell sgdisk --print /dev/block/mmcblk0; }
function adbumountcache() { adb shell umount /cache; }
function adbumountdata() { adb shell umount /data; }
function adbumountmicrosd() { adb shell umount /storage/ext; }
function adbmount() { adbmountcache; adbmountdata; adbmountmicrosd; }
function adbumount() { adbumountcache; adbumountdata; adbumountmicrosd; }

# === ADB Advanced Shortcuts ===
function adbinfomem() { adb shell dumpsys meminfo; }
function adbrcbin() { adb shell restorecon -R /sbin; }
function adbemergencycalls() { adb shell setprop ril.ecclist "${@}"; }
function adbemergencylist() { adb shell getprop ril.ecclist; }
function adbservices() { adb shell service list; }
