#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === File Uploader BasketBuild ===
function fileuplbasketbuild()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: fileuplbasketbuild <file_path> <target_folder>';
    echo '';
    return;
  fi;

  # Variables
  local path="${1}";
  local target="${2}";

  # File full path
  if [ -f "${path}" ]; then
    path=$(readlink -f "${path}");
  fi;

  # Upload file to target
  $(getbash)/android_upload_basketbuild.sh "${path}" "${target}";
}

# === File Uploader Mega.nz ===
function fileupl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: fileupl <file_path> <target_folder>';
    echo '';
    return;
  fi;

  # Variables
  local path="${1}";
  local target="${2}";
  local time_start=$(date +%s);
  local time_span;

  # File full path
  if [ -f "${path}" ]; then
    path=$(readlink -f "${path}");
  fi;

  # Detect main target inclusion
  if [[ ! "${target}" =~ '/Root/Android/' ]]; then
    target="/Root/Android/${target}";
  fi;

  # Upload header informations
  echo '';
  echo -e " \e[1;33m[ Uploading to the server - Path '${target}' ]\e[0m";
  echo '';

  # Upload file to target
  megarm "${target}/$(basename ${path})" 2>/dev/null;
  megaput --path "${target}" "${path}";

  # Show upload time
  echo '';
  time_span=$(($(date +%s)-${time_start}));
  echo -e " \e[1;37m[ Upload done in ${time_span} secs ]\e[0m";
  echo '';
}

# === Dev File Uploader ===
function devupl()
{
  # Variables
  local filepath="${1}";
  if [ -z "${filepath}" ] && [ -f "${PackageResult}" ]; then
    filepath="${PackageResult}";
  fi;

  # File upload to Development
  fileupl "${filepath}" 'Development';
}

# === Private File Uploader ===
function privupl()
{
  # Variables
  local filepath="${1}";
  if [ -z "${filepath}" ] && [ -f "${PackageResult}" ]; then
    filepath="${PackageResult}";
  fi;

  # File upload to .private
  fileupl "${filepath}" '.private';
}

# === Fast File Uploader ===
function fastupl()
{
  # File upload to .private
  fileuplbasketbuild "${1}" '.private';

  # FTP direct download link
  echo -e "  \e[1;32mDirect download :\e[0m";
  echo '   source ~/.bash_android.basketbuild.main.rc;';
  echo "   wget http://basketbuild.com/uploads/devs/\${UploadUserName%%.s}/.private/$(basename ${1})";
  echo '';
}

# === Make and upload ===
function mmmupl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: mmmupl packageorpath';
    echo '';
    return;
  fi;

  # Build and upload to Development
  mmmzip "${1}";
  devupl "${PackageResult}";
}

# === Bootimage File Uploader ===
function devuplboot()
{
  # Variables
  local cwd=$(pwd);
  local device="${1}";
  croot;

  # Rename and upload
  mv "./out/target/product/${device}/boot.img" "./out/target/product/${device}/boot-${device}.img";
  devupl "./out/target/product/${device}/boot-${device}.img";

  # Restore path
  cd "${cwd}/";
}

# === ROM Device Upload ===
function devuplrom()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: devuplrom device [folder_path]';
    echo '';
    return;
  fi;

  # Variables
  local cwd=$(pwd);
  local device="${1}";
  local upload="${2}";
  local target=$(codenametotarget "${device}");
  local romfiles;
  local romfile;
  if [ -z "${upload}" ]; then
    upload="Development";
  fi;

  # ROM detection
  croot;
  romfiles=$(find "./out/target/product/${device}/"*"${device}"*".zip" \
                  "./out/target/product/${device}/"*"${target}"*".zip" \
                  -mtime -1 | sort);
  romfile='';
  for romfiletest in ${romfiles}; do
    if [ -f "${romfiletest}.md5sum" ]; then
      romfile="${romfiletest}";
    fi;
  done;
  if [ -z "${romfile}" ]; then
    romfile=$(echo "${romfiles}" | head -n1 | awk '{ print $NF }');
  fi;

  # ROM upload
  if [ ! -z "${romfile}" ]; then
    fileupl "${romfile}" "${upload}";
    export bash_android_uploaded_file="${romfile}";
  else
    export bash_android_uploaded_file='';
  fi;

  # End of process
  cd "${cwd}";
}

# === Adaptive Device Upload ===
function autodevupl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: autodevupl device [folder_path [file_path]]';
    echo '';
    return;
  fi;

  # Variables
  local rom_device="${1}";
  local rom_phone="${rom_device^}";
  local rom_target="${2}";
  local rom_files="${3}";

  # Target not final
  if [[ ! "${rom_target}" =~ "${rom_phone}" ]]; then

    # LineageOS
    if [[ "${rom_target}" =~ 'lineage' ]]; then
      rom_target="${rom_phone}/LineageOS-14.1";

    # Development
    else
      rom_target='Development';
    fi;
  fi;

  # Upload files
  if [ -z "${rom_files}" ]; then
    devuplrom "${rom_device}" "${rom_target}";
  else
    fileupl "${rom_files}" "${rom_target}";
  fi;
}

# === Pushbullet ROM Status ===
function pushbrom()
{
  # Access ROM root
  local cwd=$(pwd);
  croot;

  # Variables
  local device="${1}";
  local rom="${2:-ROM}";

  # ROM file
  romfile=$(find "./out/target/product/${device}/"*"${device}"*".zip" -mmin -30 | tail -n 1);
  if [ ! -z "${romfile}" ]; then
     pushb "${rom} for ${device} ready";
  else
     pushb "${rom} for ${device} failed";
  fi;

  # Restore ROM path
  cd "${cwd}";
}

# === AndroidFiles Syncer ===
function androidfilessync()
{
  # Use megasync inside AndroidFiles folder
  megasync . '/Root/Android' "${1}";
}
