#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_devices.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_tools.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_flash.rc)

# === ADB Bootimage Dumper ===
function adbbootdump()
{
  # Usage: adbbootdump (Dump bootimage from device)

  # Dump bootimage from device
  local kernel=$(androiddevicestarget boot);
  local cmdaddr=$(adb shell od -j 152 -N 4 -tx4 -An ${kernel} \
                | cut -c 2-9);
  local cmdsize=$(adb shell od -j 164 -N 4 -tx4 -An ${kernel} \
                | cut -c 2-9);
  if [ ! -z "${cmdaddr}" ] && [ $(echo "${cmdaddr}" | wc -l) -eq 1 ] && \
     [ ! -z "${cmdsize}" ] && [ $(echo "${cmdsize}" | wc -l) -eq 1 ]; then
    local bootsize=$((16#${cmdaddr}+16#${cmdsize}));
    adbsu "dd if=${kernel} of=/sdcard/boot.img skip=0 bs=${bootsize} count=1";
    adb pull /sdcard/boot.img;
  else
    adbsu "dd if=${kernel} of=/sdcard/boot.dump";
    adb pull /sdcard/boot.dump;
    adbbootcut boot.dump;
  fi;
}

# === ADB Bootimage Resizer ===
function adbbootcut()
{
  # Usage
  if [ -z "${1}" ] || [ ! -f "${1}" ]; then
    echo '';
    echo ' Usage: adbbootcut <file_path> (Trim bootimage dump)';
    echo '';
    return;
  fi;

  # Trim bootimage dump
  local cmdaddr=$(od -j 152 -N 4 -tx4 -An ${1} \
                | cut -c 2-9);
  local cmdsize=$(od -j 164 -N 4 -tx4 -An ${1} \
                | cut -c 2-9);
  local bootsize=$((16#${cmdaddr}+16#${cmdsize}));
  dd if=${1} of=boot.img skip=0 bs=${bootsize} count=1;
}

# === ADB TWRP Installer ===
function adbrecoveryinstall()
{
  # Usage
  if [ -z "${1}" ] || [ ! -f "${1}" ]; then
    echo '';
    echo ' Usage: adbrecoveryinstall <file_path> (Inject and reboot recovery)';
    echo '';
    return;
  fi;

  # Inject and reboot recovery
  local filename=$(basename ${1});
  adbro;
  adb shell mkdir -p /sdcard/;
  adb push "${1}" /sdcard/${filename};
  adb shell 'mkdir -p /cache/recovery';
  adb shell "echo 'install /sdcard/${filename}' > /cache/recovery/command";
  adb shell 'echo /cache/recovery/command: $(/cache/recovery/command)';
  adb reboot recovery;
}
