#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === LineageOS Commits Patcher for LegacyXperia ===
function lineagelxpatcher()
{
  # Build environment
  while [ ! -e './build/envsetup.sh' ]; do
    cd ../;
  done;
  source ./build/envsetup.sh;

  # Variables
  local BuildBranch="${1:-cm-14.1}";

  # Sources Manifest
  if [ ! -f '.repo/local_manifests/semc.xml' ]; then
    if [ ! -d './.repo/local_manifests/' ]; then
      mkdir './.repo/local_manifests/';
    fi;
    cd './.repo/local_manifests/'
    git clone https://github.com/LegacyXperia/local_manifests.git --single-branch -b ${BuildBranch} .;
    cd '../../';
  fi;

  # Update .repo/local_manifest contents
  cd ./.repo/local_manifests/;
  git fetch origin cm-14.1;
  git fetch http://review.msm7x30.org/LegacyXperia/local_manifests refs/changes/52/1552/5;
  git reset FETCH_HEAD;
  git stash -u;
  croot;

  # Reset local_manifest contents
  cd ./vendor/extra/;
  git fetch msm7x30 cm-14.1;
  git reset FETCH_HEAD;
  git stash -u;
  croot;

  # Retrieve work in progress holder
  ./vendor/extra/repopick.py -b LX_1563 LX_1586;

  # LegacyXperia patches
  ./vendor/extra/updates.sh;

  # mtdutils: Fix mounting partitions by-name
  cd ./bootable/recovery-twrp/;
  git fetch https://gerrit.omnirom.org/android_bootable_recovery refs/changes/55/21655/6;
  git cherry-pick FETCH_HEAD;
  croot;

  # msm7x30-common: Configure ART and use DEXPREOPT
  cd ./device/semc/msm7x30-common/;
  git fetch https://github.com/AdrianDC/lineage_development_sony8960 msm7x30-common;
  git cherry-pick FETCH_HEAD;
  croot;

  # Enable SU inclusion
  export WITH_SU=true;

  # Enable TWRP inclusion
  export WITH_TWRP=true;
}

# === LegacyXperia Repopick ===
function lxrepopick()
{
  # Build environment
  while [ ! -e './build/envsetup.sh' ]; do
    cd ../;
  done;

  # If LegacyXperia script is absent
  if [ ! -f './vendor/extra/repopick.py' ]; then
    echo '';
    echo ' LegacyXperia repopick.py was not found...';
    echo '';
    return;
  fi;

  # If LegacyXperia script is absent
  if [ -z "${1}" ] || [ ! -z "${2}" ]; then
    echo '';
    echo ' Usage: lxrepopick <commit_id>';
    echo '';
    return;
  fi;

  # Execute repopick command
  vendor/extra/repopick.py -b LX_${1};
}

# === LegacyXperia Kernel Defconfig ===
function lxdefconfig()
{
  # Find all defconfigs
  local defconfigs=$(ls arch/arm/configs/lx_*);

  # Update all defconfigs
  for defconfig in ${defconfigs}; do
    makedefconf ${defconfig//*\/};
  done;
}
