export GitEMail="";
export GitUserName="";

export AndroidROMs=("CyanogenMod" \
                    "AICP" \
                    "CM-13.0" \
                    "AOSP" \
                    "Nightly" \
                    "LegacyXperia-13.0" \
                    "LegacyXperia-12.1" \
                    "LegacyXperia-11.0" \
                    );
export AndroidSyncs=("CyanogenMod" \
                     "AICP" \
                     "CyanogenMod" \
                     "AOSP" \
                     "Nightly" \
                    "LegacyXperia-13.0" \
                    "LegacyXperia-12.1" \
                    "LegacyXperia-11.0" \
                     );
export AndroidTags=("cm-12.1" \
                    "lp5.1" \
                    "cm-13.0" \
                    "android-6.0.0_r1" \
                    "cm-13.0" \
                    "cm-13.0" \
                    "cm-12.1" \
                    "cm-11.0" \
                    );
export AndroidGits=("github" \
                    "aicp" \
                    "github" \
                    "github" \
                    "github" \
                    "github" \
                    "github" \
                    "github" \
                    );

export AndroidROM=${AndroidROMs[0]};
export AndroidTag=${AndroidTags[0]};
export AndroidGitHub="";
export AndroidForce="";
export AndroidSync="";
export AndroidDev="";

if [ -z "$PhoneName" ]; then
  export PhoneName="huashan";
fi;

ProjectPaths=("frameworks/base" \
              "packages/apps/Settings" \
              "hardware/libhardware" \
              "device/qcom/common" \
              "device/sony/huashan" \
              "hardware/sony/DASH" \
              "kernel/sony/msm8960t" \
              "vendor/cmsdk" \
              "vendor/sony" \
              );
ForceProjects=( \
               "device/sony/$PhoneName" \
               "frameworks/base" \
               "hardware/libhardware" \
               "hardware/sony/DASH" \
               "kernel/sony/msm8960t" \
               "packages/apps/Settings" \
               "vendor/cmsdk" \
               "vendor/sony" \
              );

UpdateProjects=( \
                "device/sony/$PhoneName" \
                "frameworks/base" \
                "hardware/sony/DASH" \
                "hardware/libhardware" \
                "packages/apps/Settings" \
                "vendor/cmsdk" \
                "vendor/sony" \
               );

if [ -f $ScriptDir/android_set_target.rc ]; then
  source $ScriptDir/android_set_target.rc;
fi;

# GitHub Credentials
export GitEMail="username@domain.com";
export GitUserName="Username";

# Create  ~/.bash_android.github.rc with the exports to override the credentials
if [ -f ~/.bash_android.github.rc ]; then
  source ~/.bash_android.github.rc;
fi;

export PathsDir="$PWD/Paths";
export AndroidDir="$PathsDir/$AndroidROM/Repo";
export CCacheDir="$PathsDir/CCache";
export GitHubDir="$PathsDir/GitHub";
export TargetDir="$PathsDir/Target";
export OutDir="$AndroidDir/out/target/product/$PhoneName";

export BuildJobs=8;
export CCacheSize=80G;
export SwapFile="$PWD/Paths/memory.swap";
export SwapSize=$((4*1024*1024));

export LogFile="$ScriptDir/script_logs.txt";
export SearchFile="$ScriptDir/search_logs.txt";

export USE_CCACHE=1;
export CCACHE_DIR=$CCacheDir;
export CCACHE_LOGFILE=$CCacheDir/ccache.log;

if [ -d "$HOME/bin" ]; then export PATH="$HOME/bin:$PATH"; fi;
if [ -d "/usr/lib/ccache" ]; then export PATH="/usr/lib/ccache:$PATH"; fi;
