#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Repo References Variables ===
export bash_android_referenced_aosp='huashan mint hayabusa tsubasa sony';
export bash_android_referenced_laos='huashan mint hayabusa tsubasa sony dora z3 lx fusion3';

# === Repo Referenced AOSP Devices ===
function reporeferencedaosp()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: reporeferencedaosp "{command_to_run}" "[device1 device2 ...]"';
    echo '';
    return;
  fi;

  # Variables
  local repocommon;
  local command_to_run=${1};
  local referenced_devices=${2:-${bash_android_referenced_aosp}};

  # Execute on common repo
  cdaosp;
  source ./build/envsetup.sh;
  repocommon=$(pwd);
  ${command_to_run};

  # Walk through devices
  for device in ${referenced_devices}; do

    # Select and verify the path existence
    cdaosp ${device};
    if [ ! "$(pwd)" = "${repocommon}" ]; then

      # Execute on device repo
      source ./build/envsetup.sh;
      ${command_to_run};

    fi;

  done;
}

# === Repo Referenced LineageOS Devices ===
function reporeferencedlaos()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: reporeferencedlaos "{command_to_run}" "[device1 device2 ...]"';
    echo '';
    return;
  fi;

  # Variables
  local repocommon;
  local command_to_run=${1};
  local referenced_devices=${2:-${bash_android_referenced_laos}};

  # Execute on common repo
  cdlaos;
  source ./build/envsetup.sh;
  repocommon=$(pwd);
  ${command_to_run};

  # Walk through devices
  for device in ${referenced_devices}; do

    # Select and verify the path existence
    cdlaos ${device};
    if [ ! "$(pwd)" = "${repocommon}" ]; then

      # Execute on device repo
      source ./build/envsetup.sh;
      ${command_to_run};

    fi;

  done;
}
