#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === CM13 WIP Picks ===
function cm13repopicks()
{
  source ./build/envsetup.sh;

  # CM charger
  repopick 155481;
  repopick 155482;
}

