#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Shell Entrypoint Handling ===
android_development_shell_tools_entrypoint=${BASH_SOURCE[0]};
android_development_shell_tools_entrypoint=${android_development_shell_tools_entrypoint:-${(%):-%N}};
if [ -z "${android_development_shell_tools_entrypoint}" ]; then
  echo '';
  echo -e ' \e[1;33mandroid_development_shell_tools by AdrianDC: \e[0;33mExecution path could not be found\e[0m';
  echo '';
  return;
fi;

# === Android Shell Tools Folder ===
android_development_shell_tools_branch=${android_development_shell_tools_branch:-master};
android_development_shell_tools_dir=$(dirname ${android_development_shell_tools_entrypoint});
android_development_shell_tools_extensions=${android_development_shell_tools_dir}/extensions;

# === Android Shell Tools Variables ===
android_development_shell_tools_url='https://github.com/AdrianDC/android_development_shell_tools';

# === Android Shell Tools Update ===
function shtoolsup()
{
  # Usage: shtoolsup (Reloads android_development_shell_tools scripts)

  # Reload sources
  source "${android_development_shell_tools_entrypoint}";
  echo '';
  echo -e ' \e[1;33mandroid_development_shell_tools by AdrianDC: \e[0;33mFunctions loaded properly\e[0m';
  echo '';
}

# === Android Shell Tools Sources ===
android_development_shell_tools_sources=(
  $(ls -1 ${android_development_shell_tools_dir}'/'*'.rc' \
  | grep -v "${android_development_shell_tools_entrypoint}" \
  | LC_ALL=C sort \
  | tr '\n' ' ')
  $(ls -1 ${android_development_shell_tools_extensions}'/'*'/'*'.rc' 2> /dev/null \
  | LC_ALL=C sort \
  | tr '\n' ' ')
);
android_development_shell_tools_scripts=(
  $(ls -1 ${android_development_shell_tools_dir}'/'*'.sh' \
  | LC_ALL=C sort \
  | tr '\n' ' ')
);

# === Android Shell Tools Importations ===
for file_source in ${android_development_shell_tools_sources[@]}; do

  # Import all android_development_shell_tools scripts
  source "${file_source}";

done;

# === Android Shell Tools Prebuilt Files ===
export android_development_shell_tools_files_strace_32=${android_development_shell_tools_dir}/android_files/strace_arm32;
export android_development_shell_tools_files_strace_64=${android_development_shell_tools_dir}/android_files/strace_arm64;
export android_development_shell_tools_flashable_android_base=${android_development_shell_tools_dir}/android_files/flashable_android_base.zip;
export android_development_shell_tools_scripts_kernel_injector=${android_development_shell_tools_dir}/android_files/scripts_kernel_injector;
export android_development_shell_tools_signapk_dir=${android_development_shell_tools_dir}/android_signapk;
export android_development_shell_tools_updater_flash_boot=${android_development_shell_tools_dir}/android_files/updater_script_flash_boot;
export android_development_shell_tools_updater_flash_fota=${android_development_shell_tools_dir}/android_files/updater_script_flash_fota;
export android_development_shell_tools_updater_install_system=${android_development_shell_tools_dir}/android_files/updater_script_install_system;
export android_development_shell_tools_updater_kernel_injector=${android_development_shell_tools_dir}/android_files/updater_script_kernel_injector;
export android_development_shell_tools_updater_multirom_secondary=${android_development_shell_tools_dir}/android_files/updater_script_multirom_secondary;

# === Android Shell Tools Path Getter ===
function shtoolsget()
{
  # Usage: shtoolsget (Get android_development_shell_tools path)

  # Get android_development_shell_tools path
  echo ${android_development_shell_tools_dir};
}

# === Android Shell Tools Path Access ===
function shtoolscd()
{
  # Usage: shtoolscd (Access android_development_shell_tools path)

  # Access android_development_shell_tools path
  cd "$(shtoolsget)";
}

# === Android Shell Tools Functions Editor ===
function shtoolse()
{
  # Usage: shtoolse <words> <to> <search> (Direct access to related sources)

  # Variables
  local files='';

  # Study all script files
  for file_source in ${android_development_shell_tools_entrypoint} ${android_development_shell_tools_sources[@]}; do
    for word in "${@}"; do
      grep -aiq "${word}" "${file_source}";

      # List found files
      if [ ${?} -eq 0 ]; then
        files="${files} ${file_source}";
        continue;
      fi;
    done;
  done;

  # Open listed files
  if [ ! -z "${files}" ]; then
    fileedit ${files};
  fi;
}

# === Android Shell Tools Syncer ===
function shtoolssync()
{
  # Usage: shtoolssync (Download new android_development_shell_tools changes)

  # Download upstream changes
  local currentdir=${PWD};
  cd "${android_development_shell_tools_dir}/";
  git fetch origin;
  git reset origin/${android_development_shell_tools_branch};
  git stash -u;
  git submodule init;
  git submodule update;
  cd "${currentdir}/";
  shtoolsup;
}

# === Android Shell Tools Pusher ===
function shtoolspush()
{
  # Usage: shtoolspush (Commit new changes to android_development_shell_tools)

  # Update README.md
  shtoolsreadme;

  # Commit changes to upstream
  local currentdir=${PWD};
  cd "${android_development_shell_tools_dir}/";
  git add -N *;
  git add . -Ap;
  git commit -s;
  git push -f origin HEAD:${android_development_shell_tools_branch};
  cd "${currentdir}/";
  shtoolsup;
}

# === Android Shell Tools Amend ===
function shtoolsamend()
{
  # Usage: shtoolsamend (Amend new changes to android_development_shell_tools)

  # Update README.md
  shtoolsreadme;

  # Amend changes to upstream
  local currentdir=${PWD};
  cd "${android_development_shell_tools_dir}/";
  git add -N *;
  git add . -Ap;
  git commit -s --amend;
  git push -f origin HEAD:${android_development_shell_tools_branch};
  cd "${currentdir}/";
  shtoolsup;
}

# === Android Shell Tools Menu ===
function shtools()
{
  # Usage: shtools (Entrypoint menu to android_development_shell_tools)

  # Variables
  local cnt=0;
  local key;
  local line_function;
  local line_usage;
  local list_functions=('');

  # Function header
  echo '';
  echo -e " \e[1;37m[ Android Development Shell Tools - Menu ]\e[0m";
  echo '';

  # Display shtools* menu
  for line_function in $(typeset -F | grep shtools | cut -d' ' -f 3 | grep -v '^shtools$'); do

    # Parse usage
    line_usage=$(grep -a "Usage: ${line_function} " ${android_development_shell_tools_entrypoint});
    if [ -z "${line_usage}" ]; then
      continue;
    fi;
    line_usage=${line_usage#*\(};
    line_usage=${line_usage%\)*};
    list_functions+=(${line_function});

    # Item choice
    cnt=$((cnt + 1));
    echo -e "  \e[1;33m${cnt}: \e[1;37m${line_function} \e[1;32m[${line_usage}]\e[0m";

  done;
  echo '';

  # Request user input
  printf " > Command to run [1-${cnt}] : ";
  read key;
  echo '';

  # Execute requested function
  ${list_functions[${key}]};
}

# === Android Shell Tools Options Menu ===
function shtools-()
{
  # Usage: shtools- (Options menu for android_development_shell_tools)

  # Variables
  local cnt;
  local key;
  local line_function;
  local line_option;
  local line_usage;
  local list_functions;

  # Loop until user exits
  key=-1;
  echo '';
  while [ ! "${key}" = '0' ]; do

    # Function header
    echo -e " \e[1;37m[ Android Development Shell Tools - Options ]\e[0m";
    echo '';

    # Display exit item
    echo -e "  \e[1;33m0: \e[1;37mKeep current options \e[1;32m[Exit the configuration]\e[0m";

    # Reset containers
    cnt=0;
    list_functions=('');

    # Display shtools-* menu
    for line_function in $(typeset -F | grep 'shtools-' | cut -d' ' -f 3 \
                         | grep -v '^shtools-$' \
                         | grep -v '\-active$'); do

      # Verify if the option is active
      line_option=${line_function%-enable};
      if [ ! "${line_option}" = "${line_function}" ] && ${line_option}-active 2> /dev/null; then
        continue;
      fi;

      # Verify if the option is inactive
      line_option=${line_function%-disable};
      if [ ! "${line_option}" = "${line_function}" ] && ! ${line_option}-active 2> /dev/null; then
        continue;
      fi;

      # Parse usage
      line_usage=$(grep -a "Usage: ${line_function} " ${android_development_shell_tools_sources[@]});
      if [ -z "${line_usage}" ]; then
        continue;
      fi;
      line_usage=${line_usage#*\(};
      line_usage=${line_usage%\)*};
      list_functions+=(${line_function});

      # Item choice
      cnt=$((cnt + 1));
      echo -e "  \e[1;33m${cnt}: \e[1;37m${line_function} \e[1;32m[${line_usage}]\e[0m";

    done;
    echo '';

    # Request user input
    printf " > Command to run [0-${cnt}] : ";
    read key;
    echo '';

    # Execute requested function
    ${list_functions[${key}]};

  done;
}

# === Android Shell Tools Differ ===
function shtoolsdiff()
{
  # Usage: shtoolsdiff (Compare with upstream android_development_shell_tools)

  # Compare with upstream
  local currentdir=${PWD};
  cd "${android_development_shell_tools_dir}/";
  git fetch origin;
  git diff HEAD origin/${android_development_shell_tools_branch};
  git diff HEAD;
  cd "${currentdir}/";
}

# === Android Shell Tools Log ===
function shtoolslog()
{
  # Usage: shtoolslog (Display android_development_shell_tools history)

  # Display project history
  local currentdir=${PWD};
  cd "${android_development_shell_tools_dir}/";
  git log --pretty=oneline -n 10;
  cd "${currentdir}/";
}

# === Android Shell Tools Reset ===
function shtoolsreset()
{
  # Usage: shtoolsreset (Reset project to remote HEAD)

  # Reset project to remote HEAD
  cd "${android_development_shell_tools_dir}/";
  git fetch origin;
  git reset origin/${android_development_shell_tools_branch};
  git diff --stat HEAD;
}

# === Android Shell Tools Master ===
function shtoolsmaster()
{
  # Usage: shtoolsmaster (Switch android_development_shell_tools to master branch)

  # Switch android_development_shell_tools to master branch
  local branch=${android_development_shell_tools_branch};
  android_development_shell_tools_branch=master;
  echo '';
  echo -e " \e[1;33mandroid_development_shell_tools: \e[0;33mSwitched from '${branch}' to '${android_development_shell_tools_branch}' branch\e[0m";
  echo '';
}

# === Android Shell Tools Staging ===
function shtoolsstaging()
{
  # Usage: shtoolsstaging (Switch android_development_shell_tools to staging branch)

  # Switch android_development_shell_tools to staging branch
  local branch=${android_development_shell_tools_branch};
  android_development_shell_tools_branch=staging;
  echo '';
  echo -e " \e[1;33mandroid_development_shell_tools: \e[0;33mSwitched from '${branch}' to '${android_development_shell_tools_branch}' branch\e[0m";
  echo '';
}

# === Android Shell Tools README.forum Updater ===
function shtoolsforum()
{
  # Usage: shtoolsforum (Refresh README.forum project presentation)

  # Variables
  local preview_file;
  local preview_files;
  local preview_timestamp;
  local readme_forum=${android_development_shell_tools_dir}/forums/README;
  local readme_md=${android_development_shell_tools_dir}/README;

  # Header
  echo '';
  echo -e ' \e[1;33mandroid_development_shell_tools:\e[0;33m Building README forum documentations\e[0m';
  echo '';

  # Handle multiple README files
  for ext in md previews.md samples.md; do

    # Prepare README.forum
    rm -f "${readme_forum}.${ext}";
    cp -v "${readme_md}.${ext}" "${readme_forum}.${ext}";

    # Convert from markdown to bbcode
    sed -i 's#!\[.*\](\(.*\))#[IMG]\1[/IMG]#g' "${readme_forum}.${ext}";
    sed -i 's#\[\([^]]*\)\](\([^)]*\))#[URL=\2]\1[/URL]#g' "${readme_forum}.${ext}";
    sed -i '/^[ ]*<br \/>$/d' "${readme_forum}.${ext}";
    sed -i 's#```\(cpp\|Shell\)#[CODE]#g' "${readme_forum}.${ext}";
    sed -i 's#```#[/CODE]#g' "${readme_forum}.${ext}";
    sed -i 's#\(`.*`\)#[FONT="Courier New"][I]\1[/I][/FONT]#g' "${readme_forum}.${ext}";
    sed -i 's#^\#\#\# \(.*\)$#[SIZE=5][B]\1[/B][/SIZE]#g' "${readme_forum}.${ext}";
    sed -i 's#^\#\#\#\# \(.*\)$#[SIZE=4][B]\1[/B][/SIZE]#g' "${readme_forum}.${ext}";
    sed -i ':a;N;$!ba;s#<!-- Center -->\n#[CENTER]#g;s#\n<!-- /Center -->#[/CENTER]#g' "${readme_forum}.${ext}";
    sed -i ':a;N;$!ba;s#<!-- Indent -->\n#[INDENT]#g;s#\n<!-- /Indent -->#[/INDENT]#g' "${readme_forum}.${ext}";
    sed -i 's#<!-- \(\|/\)List -->#[\1LIST]#g' "${readme_forum}.${ext}";
    sed -i 's#^ \* #[*]#g' "${readme_forum}.${ext}";
    sed -i 's#\*\*\([^*]*\)\*\*#[B]\1[/B]#g' "${readme_forum}.${ext}";
    sed -i 's#\*\([^]]\{1\}[^*]*\)\*#[I]\1[/I]#g' "${readme_forum}.${ext}";
    sed -i 's#__\([^*]*\)__#[U]\1[/U]#g' "${readme_forum}.${ext}";

    # Get all previews png files
    preview_files=$(grep 'docs/assets.*\.png' "${readme_forum}.${ext}" \
                  | sed "s/.*${android_development_shell_tools_url//\//\\\/}\/raw\/master\/\(.*\.png\).*/\1/g");
    for preview_file in ${preview_files}; do

      # Filter out wrong outputs
      if [ ! -f "${preview_file}" ]; then
        continue;
      fi;

      # Get file timestamp and replace text
      preview_timestamp=$(stat -c %Y "${preview_file}");
      sed -i "s#${preview_file}#${preview_file}?timestamp=${preview_timestamp}#g" "${readme_forum}.${ext}";
    done;

  done;

  # Parsed header
  echo '';
  echo '  README forum files successfully rebuilt';
  echo '';
}

# === Android Shell Tools README.md Updater ===
function shtoolsreadme()
{
  # Usage: shtoolsreadme (Refresh README.md functions usages)

  # Variables
  local command_file=$(mktemp);
  local delimiter_start='<!-- Functions Start -->';
  local delimiter_end='<!-- Functions End -->';
  local github_project_url="${android_development_shell_tools_url//\//\\\/}";
  local github_file_path='blob\/master';
  local github_raw_path='raw\/master';
  local line;
  local line_function;
  local line_standalone;
  local line_summary;
  local line_type;
  local line_usage;
  local path;
  local readme_functions='';

  # Unify locale for sorting
  local lc_all=${LC_ALL};
  LC_ALL=C;

  # Refresh files list
  shtoolsup;

  # Header
  echo -e ' \e[1;33mandroid_development_shell_tools:\e[0;33m Building README.md documentation\e[0m';
  echo -n '  ...';

  # Read all sources
  for file in ${android_development_shell_tools_entrypoint} ${android_development_shell_tools_sources[@]} ${android_development_shell_tools_scripts[@]}; do

    # Handle file path
    path=${file##${android_development_shell_tools_dir}/};

    # Parsing header
    echo -en "\r\033[K  Parsing ${path}";

    # Escape path
    path=${path//\//\\\/};

    # Detect standalone ready scripts
    line_standalone=$(grep -a '^# source <(curl -Ls' "${file}");

    # Detect .sh executable scripts
    if [ "${path: -3}" = '.sh' ]; then
      line_standalone=${github_project_url//\\\//\/}/${github_raw_path//\\\//\/}/${path};
    fi;

    # Create source section
    readme_functions+="### \[\&nbsp;Documentation: [${path}](${github_project_url}\/${github_file_path}\/${path})${line_standalone:+  - Standalone Import Ready}\&nbsp;\]\n";

    # Inject standalone import script
    if [ ! -z "${line_standalone}" ]; then
      line_standalone=${line_standalone//# source <\(curl -Ls/};
      line_standalone=${line_standalone//)/};
      readme_functions+="  \`\`\`Shell\n";
      for url in ${line_standalone}; do
        readme_functions+="source \<\(curl -Ls ${url//\//\\\/}\)\n";
      done;
      readme_functions+="  \`\`\`\n";
    fi;

    # Handle shell scripts content
    if [ "${path: -3}" = '.sh' ]; then

      # Parse shell script usage
      line_function=${path#*\/};
      line_function=${line_function%.sh};
      line_usage=$(grep -a "Usage: ${line_function}" "${file}");

      # Warning about missing usages
      if [ -z "${line_usage}" ]; then
        echo '';
        echo " ${path}: ERROR: '${line_function}.sh' has no usage";
        echo '';
       return;
      fi;

      # Parse usage and summary details
      line_summary=${line_usage#*\(};
      line_summary=${line_summary%\)*};
      line_usage=${line_usage/ \(*\)/};
      line_usage=${line_usage#\# Usage: };

      # Apply summary styling
      line_summary="<b>\\\[${line_summary}\\\]<\\/b>";

      # Append function details
      readme_functions+="  * [**\\\.\/${line_usage}** *${line_summary}*](${github_project_url}\/${github_file_path}\/${path//./\\\.})\n";

      # Sections separation
      readme_functions+="\n---\n";

      # Continue with the next file
      continue;

    fi;

    # Handle source contents
    while read line; do

      # Parse source functions
      line_function=${line};
      line_function=${line_function#function };
      line_function=${line_function#alias };
      line_function=${line_function%%()*};
      line_function=${line_function%%=*};
      line_type=${line};
      line_type=${line_type//*alias*/Alias};
      line_type=${line_type//*function*/Function};
      line_summary="\(${line_type}\)";
      line_usage='';

      # Parse function content
      if [ "${line_type}" = 'Function' ]; then

        # Parse single line function
        if [[ "${line}" == *"${line_function}()"*"{"*"}" ]]; then
          line_usage=${line#*\{ };
          line_usage=${line_usage% \}*};
          line_usage=${line_usage%;};
          line_usage=${line_usage// 2>*\/dev\/null/};

        # Parse function usage
        else
          line_usage=$(grep -a "Usage: ${line_function}\( \|'\|\"\)" "${file}");
          line_usage=${line_usage#*Usage: };
          line_usage=${line_usage%;};
          line_usage=${line_usage%$"'"};
          line_usage=${line_usage%$'"'};

          # Mark function summary field
          if [[ "${line_usage}" == *"("*")"* ]]; then
            line_usage=${line_usage/ \(/-SUMMARY-};
            line_usage=${line_usage/\)*/-SUMMARY-};

          # Warning about missing description
          else
            echo " ${path}: ${line_type} '${line_function}' has no description";
          fi;
        fi;

      # Parse alias content
      elif [ "${line_type}" = 'Alias' ]; then
        line_usage=${line};
        line_usage=${line_usage#*=};
        line_usage=${line_usage%;};
        line_usage=${line_usage#$"'"};
        line_usage=${line_usage#$'"'};
        line_usage=${line_usage%$"'"};
        line_usage=${line_usage%$'"'};
      fi;

      # Apply usage formattings
      if [ ! -z "${line_usage}" ]; then
        line_usage=${line_usage//\</&lt;};
        line_usage=${line_usage//\>/&gt;};
        line_usage=${line_usage//\//\\\/};
        line_usage=${line_usage//\|/\\\\\|};
        line_usage=${line_usage//\&/\\\&};
        line_usage=${line_usage//$"'"/\\$"'"};
        line_usage=${line_usage//$'"'/\\$'"'};
        line_usage=${line_usage//\$/\\\$};
        line_usage=${line_usage% };

        # Parse summary out
        if [[ "${line_usage}" == *"-SUMMARY-"*"-SUMMARY-"* ]]; then
          line_summary=${line_usage#*-SUMMARY-};
          line_summary=${line_summary%-SUMMARY-*};
          line_usage=${line_usage/-SUMMARY-*-SUMMARY-/};

          # Apply summary styling
          line_summary="<b>\\\[${line_summary}\\\]<\/b>";
        fi;

        # Apply usage styling
        if [ ! "${line_usage}" = "${line_function}" ]; then
          line_usage=" : *${line_usage}*";

        # Ignore function usage
        else
          line_usage='';
        fi;

      # Warning about missing usages
      else
        echo '';
        echo " ${path}: ERROR: ${line_type} '${line_function}' has no usage";
        echo '';
        return;
      fi;

      # Append function details
      readme_functions+="  * [**${line_function}** *${line_summary}*](${github_project_url}\/${github_file_path}\/${path})${line_usage}\n";

    done < <(grep -a "^alias.*=\|^function .*()" "${file}");

    # Sections separation
    readme_functions+="\n---\n";

  done;

  # Generation information
  readme_functions+="* #### Automatically generated by [shtoolsreadme](${github_project_url}\/${github_file_path}\/android_development_shell_tools.rc) for [android_development_shell_tools](${github_project_url})\n";

  # Inject README.md changes
  echo "/${delimiter_start}/{p; :a; N; /${delimiter_end}/!ba; s/.*\n/${readme_functions}/; };" > "${command_file}";
  sed -i -f "${command_file}" "${android_development_shell_tools_dir}/docs/README.md";
  rm "${command_file}";

  # Restore locale
  LC_ALL=${lc_all};

  # Parsed header
  echo -e '\r\033[K  README.md successfully rebuilt';
  echo '';
}
