#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === AOSP N Patcher ===
function aospnpatcher()
{
  # Repo root
  if [ -z "$(type -t croot)" ]; then
    while [ ! -e './build/envsetup.sh' ]; do
      cd ../;
    done;
    source ./build/envsetup.sh;
  fi;
  croot;

  # ==========================================================
  # Constants
  local projects_paths='
    bionic
    bootable/recovery
    build
    device/qcom/common
    device/sony/blue-common
    device/sony/hayabusa
    device/sony/huashan
    device/sony/mint
    device/sony/tsubasa
    external/e2fsprogs
    external/libnfc-nxp
    external/toybox
    frameworks/av
    frameworks/base
    frameworks/native
    frameworks/opt/telephony
    hardware/qcom/audio
    hardware/qcom/display
    hardware/qcom/fm
    hardware/qcom/media
    hardware/ril
    packages/apps/CellBroadcastReceiver
    packages/apps/Music
    packages/apps/Nfc
    packages/apps/Settings
    packages/providers/MediaProvider
    system/core
    system/sepolicy
    ';

  # ==========================================================
  # Variables
  local git_revs_count;
  local git_revs_count_local;
  local path_branch;
  local project_github;
  local project_unfinished;

  # Projects loader
  for path in ${1:-${projects_paths}}; do

    # Project selection
    path_branch=${path//\//_};
    echo '';
    echo " === ${path} [${path_branch}] ===";
    croot;

    # Ignore missing git projects
    if [ ! -d ${path}/.git ]; then
      echo '  .git project not found, ignoring...';
      continue;
    fi;
    cd ${path}/;

    # Targets selection
    case "${path}" in
      frameworks\/base)
        project_github='https://github.com/AdrianDC/platform_frameworks_base.git';;
      *)
        project_github='https://github.com/AdrianDC/aosp_development_sony8960.git';;
    esac;

    # Loop until project ready
    project_unfinished=1;
    while [ ${project_unfinished} -eq 1 ]; do

      # Fetch and compare
      git fetch ${project_github} ${path_branch};
      git_revs_count=$(git rev-list --left-right --count HEAD...FETCH_HEAD | tail -n 1);
      git_revs_count_local=$(echo "${git_revs_count}" | awk '{ print $1 }');
      git_revs_count_remote=$(echo "${git_revs_count}" | awk '{ print $2 }');
      echo " Differences: ${git_revs_count}";

      # Handle unupdated projects
      if [ ${git_revs_count_local} -ne 0 ]; then
        echo '';
        printf '  > Rebase onto newest changes [y/N] ? ';
        read key;

        # Update the tree
        if [[ "${key}" == 'y' ]] || [[ "${key}" == 'Y' ]]; then
          git cherry-pick --abort;
          git cherry-pick FETCH_HEAD~${git_revs_count_remote}..FETCH_HEAD;

          # Failed update
          if [ ${?} -ne 0 ]; then
            echo '';
            echo '  < Automatic update failed...';
            echo '     Stopping, push with : aospprojectpusher;';
            echo '';
            return;
          fi;

          # Automatic push
          aospprojectpusher;
        fi;

      # Project is ready, break the loop
      else
        project_unfinished=0;
      fi;

    done;

    # Cleanup
    git reset --hard FETCH_HEAD; git stash -u;

  done;

  # ==========================================================
  # repo root
  echo '';
  croot;
}
