#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Fetch Reset Assets ===
function gitfetchtreset()
{
  git fetch ${1:-$(githubusername)} ${2:-$(repogetbranch)};
  git reset FETCH_HEAD --hard;
}

# === Git Fetch Shortcuts ===
alias gitf='git fetch';
alias gitfmr='git fetch origin; git reset origin/master';
alias gitfs='git fetch origin; git reset origin/$(git rev-parse --abbrev-ref HEAD); git stash';
alias gitfsu='git fetch origin; git reset origin/$(git rev-parse --abbrev-ref HEAD); git stash -p';
alias gitfgr='gitfetchtreset github';
alias gitfor='gitfetchtreset origin';
alias gitforla='gitfetchtreset origin aosp/LA.UM.5.5_rb1.10';
alias gitfar='gitfetchtreset $(githubusername)';
