export GitEMail="username@domain.com";
export GitUserName="Username";

export UploadServer="s.basketbuild.com/webupload";
export UploadUserName="Username.s";
export UploadPassword="Password";
export UploadFolder="Path/To/Folder";

