#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_rom_projects.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_rom_lineageos_sonysodp.rc)

# === LineageOS SODP Patcher ===
function lineagesodppatcher()
{
  # Use the androidprojectpatcher helper
  androidprojectpatcher 'lineage_development_sonyaosp' 'lineageos_sony' '
    device/sony/common-aosp
    device/sony/dora
    device/sony/kagura
    device/sony/sepolicy
    device/sony/tone-common
    hardware/qcom/audio/default
    hardware/qcom/display
    packages/apps/FMRadio
    vendor/cm
    ' "${*}";
}

# === LineageOS SODP Rebaser ===
function lineagesodprebaser()
{
  # Use the androidprojectrebaser helper
  androidprojectrebaser 'sonyxperiadev' 'cm-14.1' '
    hardware/sony/camera::camera::aosp/LA.UM.5.5.r1
    hardware/sony/dataservices::vendor-qcom-opensource-dataservices::master
    kernel/sony/msm::kernel::aosp/LA.UM.5.5.r1
    ' "${*}";
}
