#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================


# === Sony Copyleft Builder ===
function mkcopyleft()
{
  # Environment
  if [ -z "${KBUILD_DIFFCONFIG}" ] || [ ! -z "${1}" ]; then

    # Usage
    if [ -z "${1}" ] || ! ls arch/arm*/configs/diffconfig/${1}_diffconfig 1> /dev/null 2>&1; then
      echo '';
      echo ' Usage: mkcopyleft [device_name_to_init]';
      echo '';
      return;
    fi;

    # Environment
    export ARCH=arm64;
    export CROSS_COMPILE=aarch64-linux-android-;
    export KBUILD_DIFFCONFIG=${1}_diffconfig;

    # Kernel configuration
    make msm-perf_defconfig;

  fi;

  # Environment
  local cross_compiler=$(readlink -f ../../../prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin);
  if [[ ! "${PATH}" =~ "${cross_compiler}" ]]; then
    export PATH=${cross_compiler}:${PATH};
  fi;

  # CCache usage
  local ccache_prefix='';
  if [ "$(type -t ccache 2> /dev/null)" = 'file' ]; then
    cache_prefix='ccache ';
    export CC='ccache gcc';
    export CXX='ccache g++';
    if [[ ! "${PATH}" =~ '/usr/lib/ccache' ]]; then
      export PATH=/usr/lib/ccache:${PATH}
    fi;
    echo ' CCache enabled';
  fi;

  # Kernel build
  ${cache_prefix}make -j$(grep -c ^processor /proc/cpuinfo);
}

# === Xperia X Performance Shortcuts ===
alias doradefconf='makedefconf msm-perf dora common';
alias doracopyleft='mkcopyleft dora';
alias doraaospdefconf='makedefconf aosp_tone_dora_defconfig';
alias doraaospkernel='makekernel tone_dora';
alias dorazipkernel='kernelinjectorzip dora arch/arm64/boot/Image.gz-dtb .';
alias sonykernelrebase='git fetch https://github.com/sonyxperiadev/kernel aosp/LA.UM.5.5.r1; git rebase FETCH_HEAD; gitpa';

# === Xperia X Performance Kernel Updater ===
function doraaospkernelupdate()
{
  # Build environment
  while [ ! -e './build/envsetup.sh' ]; do
    cd ../;
  done;
  source ./build/envsetup.sh;

  # Abort if common-kernel missing
  if [ ! -d "./device/sony/common-kernel" ]; then
    echo '';
    echo ' Error: common-kernel not found, prebuilt kernel not needed';
    echo '';
    return;
  fi;

  # Access kernel sources
  cd ./kernel/sony/msm/;

  # Compile kernel
  doraaospkernel;

  # Copy prebuilt kernel
  croot;
  cp -v ./kernel/sony/msm/arch/arm64/boot/Image.gz-dtb ./device/sony/common-kernel/kernel-dtb-dora;

  # Commit prebuilt kernel
  cd ./device/sony/common-kernel/;
  git add -v kernel-dtb-dora;
  git commit --no-edit -m "sony: dora: Update Xperia X Performance prebuilt kernel";
  croot;
}
