#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Options - Files Uploader - BasketBuild ===
function __shtools-uploads-basketbuild-enable()
{
  # Usage: __shtools-uploads-basketbuild-enable (Enable optional BasketBuild uploads)
  __shtoolsoptions '__shtools-uploads-basketbuild-' 'enable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_BASKETBUILD=true;
}
function __shtools-uploads-basketbuild-disable()
{
  # Usage: __shtools-uploads-basketbuild-disable (Disable optional BasketBuild uploads)
  __shtoolsoptions '__shtools-uploads-basketbuild-' 'disable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_BASKETBUILD=;
}
function __shtools-uploads-basketbuild-active()
{
  # Usage: __shtools-uploads-basketbuild-active (Get optional BasketBuild uploads)
  __shtoolsoptions '__shtools-uploads-basketbuild-';
  [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_BASKETBUILD}" ];
}

# === Options - Files Uploader - FTP ===
function __shtools-uploads-ftp-enable()
{
  # Usage: __shtools-uploads-ftp-enable (Enable optional FTP uploads)
  __shtoolsoptions '__shtools-uploads-ftp-' 'enable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_FTP=true;
}
function __shtools-uploads-ftp-disable()
{
  # Usage: __shtools-uploads-ftp-disable (Disable optional FTP uploads)
  __shtoolsoptions '__shtools-uploads-ftp-' 'disable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_FTP=;
}
function __shtools-uploads-ftp-active()
{
  # Usage: __shtools-uploads-ftp-active (Get optional FTP uploads)
  __shtoolsoptions '__shtools-uploads-ftp-';
  [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_FTP}" ];
}

# === Options - Files Uploader - Mega.nz ===
function __shtools-uploads-mega-enable()
{
  # Usage: __shtools-uploads-mega-enable (Enable optional Mega.nz uploads)
  __shtoolsoptions '__shtools-uploads-mega-' 'enable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_MEGA=true;
}
function __shtools-uploads-mega-disable()
{
  # Usage: __shtools-uploads-mega-disable (Disable optional Mega.nz uploads)
  __shtoolsoptions '__shtools-uploads-mega-' 'disable';
  export ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_MEGA=;
}
function __shtools-uploads-mega-active()
{
  # Usage: __shtools-uploads-mega-active (Get optional Mega.nz uploads)
  __shtoolsoptions '__shtools-uploads-mega-';
  [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_UPLOADS_MEGA}" ];
}
