#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_host.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_tools.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_adb_installers.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_release_helpers.rc)

# === ROM Output Cleaner ===
function outdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outdevcl <devicename> (Advanced ROM output cleaner for rebuilds)';
    echo '';
    return;
  fi;

  # Out path
  out_device_path=./out/target/product/${1};

  # Rebuild the build properties
  if [ -f "${out_device_path}/obj/ETC/system_build_prop_intermediates/build.prop" ]; then
    rm -f "${out_device_path}/obj/ETC/system_build_prop_intermediates/build.prop";
  fi;

  # Run bootimage output cleaner
  outbootdevcl "${1}";

  # Delete relevant outputs
  rm -rfv "${out_device_path}/"*"${1}"*".zip";
  rm -rfv "${out_device_path}/"*"${1}"*".zip.md5sum";
  rm -rfv "${out_device_path}/data";
  rm -rfv "${out_device_path}/obj/ETC/system_build_prop_intermediates";
  rm -rfv "${out_device_path}/obj/PACKAGING/target_files_intermediates";
  rm -rfv "${out_device_path}/ota_temp/RECOVERY/RAMDISK";
  rm -rfv "${out_device_path}/"*"ota"*".zip";
  rm -rfv "${out_device_path}/system";
  rm -rfv "${out_device_path}/utilities";
  rm -rfv "${out_device_path}/system"*;
}

# === ROM Output Boot Cleaner ===
function outbootdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outbootdevcl <devicename> (ROM output cleaner for bootimage rebuilds)';
    echo '';
    return;
  fi;

  # Out path
  out_device_path=./out/target/product/${1};

  # Rebuild the default properties
  if [ -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop" ]; then
    rm -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop";
  fi;
  if [ -f "${out_device_path}/recovery/root/default.prop" ]; then
    rm -f "${out_device_path}/recovery/root/default.prop";
  fi;

  # Delete relevant outputs
  rm -rfv "${out_device_path}/boot"*;
  rm -rfv "${out_device_path}/combinedroot";
  rm -rfv "${out_device_path}/combined"*;
  rm -rfv "${out_device_path}/install";
  rm -rfv "${out_device_path}/kernel";
  rm -rfv "${out_device_path}/ramdisk"*;
  rm -rfv "${out_device_path}/recovery";
  rm -rfv "${out_device_path}/recovery"*;
  rm -rfv "${out_device_path}/root";
}

# === ROM Output Sepolicies Cleaner ===
function outsepdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outsepdevcl <devicename> (ROM output cleaner for sepolicies rebuilds)';
    echo '';
    return;
  fi;

  # Out path
  out_device_path=./out/target/product/${1};

  # Cleanup ramdisk files
  rm -fv "${out_device_path}/root/file_contexts"*;
  rm -fv "${out_device_path}/root/"*"_contexts";
  rm -fv "${out_device_path}/root/sepolicy";
  rm -fv "${out_device_path}/combinedroot/file_contexts"*;
  rm -fv "${out_device_path}/combinedroot/"*"_contexts";
  rm -fv "${out_device_path}/combinedroot/sepolicy";
  rm -fv "${out_device_path}/recovery/root/file_contexts"*;
  rm -fv "${out_device_path}/recovery/root/"*"_contexts";
  rm -fv "${out_device_path}/recovery/root/sepolicy";
}

# === Ninja Disabler ===
function noninja()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: noninja <command...> (Run command without ninja)';
    echo '';
    return;
  fi;

  # Run command without ninja
  export USE_NINJA=false;
  export USE_SOONG_UI=false;
  "${@}";
  export USE_NINJA=;
  export USE_SOONG_UI=;
}

# === Build Without Ninja ===
function mmo()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: mmo <command...> (Build module without ninja)';
    echo '';
    return;
  fi;

  # Build module without ninja
  export USE_NINJA=false;
  export USE_SOONG_UI=false;
  mmm "${@}";
  export USE_NINJA=;
  export USE_SOONG_UI=;
}

# === Build & Install Without Ninja ===
function mmi()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: mmi <command...> (Build & install module without ninja)';
    echo '';
    return;
  fi;

  # Build & install module without ninja
  export USE_NINJA=false;
  export USE_SOONG_UI=false;
  adbi mmm "${@}";
  export USE_NINJA=;
  export USE_SOONG_UI=;
}

# === Build & Listen Without Ninja ===
function mmil()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: mmil <command...> (Build & list module without ninja)';
    echo '';
    return;
  fi;

  # Build & list module without ninja
  export USE_NINJA=false;
  export USE_SOONG_UI=false;
  adbil mmm "${@}";
  export USE_NINJA=;
  export USE_SOONG_UI=;
}

# === CCache Disabler ===
function noccache()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: noccache <command...> (Run command without CCache)';
    echo '';
    return;
  fi;

  # Run command without CCache
  local use_ccache=${USE_CCACHE};
  export USE_CCACHE=0;
  "${@}";
  export USE_CCACHE=${use_ccache};
}
