#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Build paths ===
export bash_android_mkboot=${bash_android_dir}/android_mkboot;

# === Boot Tools ===
function boottools()
{
  # Usage
  if [ -z "${1}" ] || [ ! -f "${1}" ]; then
    echo '  Usage: boottools boot.img';
    return;
  fi;

  # Variables
  local boot_file="${1}";
  local out_folder="${2}";

  # Extraction
  if [ -z "${out_folder}" ]; then
    out_folder=$(mktemp -d);
  fi;

  # Unpack
  rm -rf "${out_folder}";
  ${bash_android_mkboot}/mkboot "${boot_file}" "${out_folder}";

  # Edition mode
  if [ -z "${2}" ]; then

    # Edit
    nemo "${out_folder}";
    echo '';
    printf ' Press Enter to continue [ENTER] ';
    read key;
    echo '';

    # Repack
    if [ ! -f "${boot_file}.old" ]; then
      cp "${boot_file}" "${boot_file}.old";
    fi;
    rm -f "${boot_file}.tmp";
    mv "${boot_file}" "${boot_file}.tmp";
    ${bash_android_mkboot}/mkboot "${out_folder}" "${boot_file}";
    if [ -f "${boot_file}.tmp" ]; then
      rm -f "${boot_file}.tmp";
    fi;
    rm -rf "${out_folder}";

  fi;

  # End of process
  echo '';
}
