#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Push User ===
function gitpu()
{
  # Usage: gitpu [remote] [branch] [input]

  # Variables
  local remote=${1:-github};
  local branch=${2:-$(repogetbranch)};
  local input=${3};
  local cmd;

  # Get remote stats
  echo '';
  gitstat ${remote} ${branch} true;

  # Introduction
  echo '';
  local cmd="git push -f ${remote} HEAD:refs/heads/${branch}";
  printf "  ${cmd} [Y/n] ? ";
  if [ -z "${input}" ]; then
    read key;
  else
    key="${input}";
    echo "${key}";
  fi;
  echo '';

  # Abort push
  if [[ "${key}" == 'n' ]] || [[ "${key}" == 'N' ]]; then
    return;
  fi;

  # Fetch and push
  git fetch ${remote} ${branch};
  ${cmd};
  echo '';
}

# === Git Push Helpers ===
alias gitpa='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername)';
alias gitpa14='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) cm-14.1';
alias gitpala='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) LA.UM.5.5_rb1.10';
alias gitpal='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) local_manifests'
alias gitpaman='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) manifests'
alias gitpam='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) multirom';
alias gitpama='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) master';
alias gitpanmr='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) n-mr1'
alias gitpan='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) nougat';
alias gitpat='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) twrp';
alias gitpb='gitremoteverify backup gitrab && gitpu backup';
alias gitpp='gitremoteverify project false && gitpu project';
alias gitppm='gitremoteverify project false && gitpu project master';

# === Git Push Url Helper ===
function gitpurl() { gitpu "${1%/commits/*}" "${1#*/commits/}"; }
