#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Projects Statistics ===
function gitstat()
{
  # Usage
  if [ -z "${2}" ]; then
    echo " Usage: gitstat remote branch [stats_only]";
    return;
  fi;

  # Informations
  echo "git fetch ${1} ${2}; git rev-list --left-right --count HEAD...FETCH_HEAD;";

  # Request
  git fetch ${1} ${2};
  if [ ! -z "${3}" ]; then
    git --no-pager diff --stat HEAD FETCH_HEAD;
  else
    git --no-pager diff HEAD...FETCH_HEAD;
  fi;

  # Comparison
  echo '';
  printf ' New changes - missing : ';
  git rev-list --left-right --count HEAD...FETCH_HEAD;
}

# === Git Projects Statistics (shortcuts) ===
alias gitst='gitremoteverify origin gitrao && gitstat origin cm-14.1';
alias gitsto='gitremoteverify origin gitrao && gitstat origin $(git rev-parse --abbrev-ref HEAD)';
alias gitsta='gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) cm-14.1';
alias gitsta6='gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) aosp-6.0';
alias gitstaa6='gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) android-6.0';
alias gitstam='gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) master';
alias gitstatw='gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) twrp';
alias gitstg='gitremoteverify github false && gitstat github';
alias gitsti='gitremoteverify aicp gitrai && gitstat aicp mm6.0';
alias gitstt='gitremoteverify twrp gitrat && gitstat twrp android-6.0';
alias gitsts13='gitremoteverify origin gitrao && gitstat origin stable/cm-13.0-ZNH5Y';
alias gitstaosp='gitremoteverify aosp false && gitstat aosp master';
alias gitstsony='gitremoteverify origin gitraos && gitstat origin aosp/LA.UM.5.5.r1';
alias gitstfa='gitrao; gitremoteverify $(githubusername) gitraa && gitstat $(githubusername) cm-14.1 true';
alias gitstfs13='gitrao; gitremoteverify origin gitrao && gitstat origin stable/cm-13.0-ZNH5Y true';
