#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Module Zip Maker ===
function mmmzip()
{
  CurDir=$(pwd);
  TmpDir=$(mktemp -d);
  BuildParams="$@";
  BuildPathFirst="$1";

  if [ -z "$BuildParams" ]; then
    BuildParams=".";
    BuildPathFirst=".";
  fi;

  export USE_NINJA=false;
  LogFile="$TmpDir/mmm_logs.txt";
  OutFile="pack-"$(date +'%Y%m%d-%H%M')"-$(basename $(readlink -f $BuildPathFirst))-${TARGET_PRODUCT}.zip";
  TargetFile="$(xdg-user-dir DESKTOP)/Builds/$OutFile";
  mkdir -p $(dirname $TargetFile);
  path=$(readlink -f "$BuildPathFirst");
  if [ ! -d "$path" ]; then
    croot;
  fi;

  echo "";
  echo -e " \e[1;37m[ Module Zip Maker by Adrian DC - 2016 ]\e[0m";
  echo "";

  echo "";
  if [ -d "$(readlink -f "$path")" ] || ! $(mms -v >/dev/null 2>&1); then
    mmm -B $BuildParams | tee $LogFile;
  else
    mka $BuildParams | tee $LogFile;
  fi;
  Installs=$(grep "target/product/.*/system" $LogFile | sort | uniq);

  FilesList="";
  for FilePath in ${Installs[*]}
  do
    if [[ "$FilePath" =~ "/system" ]]; then
      FilePath=$(printf "$FilePath" | tail -1 \
               | sed "s/\x1B\[[0-9;]*[JKmsu]//g" \
               | sed "s/.*\/\([^\[]*.zip\).*/\1/g");
      FileTarget=$(echo $FilePath \
                 | sed "s/.*\(system\/.*\)/\1/g");
      FileDir=$(dirname $FileTarget);
      if [ ! -d "$TmpDir/$FileDir" ]; then
        mkdir -p "$TmpDir/$FileDir";
      fi;
      if [ -f "$FilePath" ]; then
        cp "$FilePath" "$TmpDir/$FileTarget";
        FilesList="$FilesList ./$FileTarget";
      fi;
    fi;
  done;

  cd "$TmpDir/";
  if [ ! -z "$FilesList" ]; then
    cp "$bash_android_flashable_zip" "$TmpDir/$OutFile.unsigned.zip";
    zip -g "$TmpDir/$OutFile.unsigned.zip" $FilesList;
    java -jar "$bash_android_sign_apk_dir/signapk-cm121.jar" \
         -w "$bash_android_sign_apk_dir/testkey.x509.pem" \
         "$bash_android_sign_apk_dir/testkey.pk8" \
         "$TmpDir/$OutFile.unsigned.zip" \
         "$TmpDir/$OutFile";
    rm -f "$TmpDir/$OutFile.unsigned.zip";
    cp "$TmpDir/$OutFile" "$TargetFile";
    export PackageResult="$TargetFile";
    echo "";
    echo -e " \e[1;37mPackage File:\e[0m $TargetFile";
  else
    export PackageResult="";
  fi;
  echo "";

  export USE_NINJA=;
  rm -rf "$TmpDir";
  cd "$CurDir";
}

# === System Zip Maker ===
function systozip()
{
  CurDir=$(pwd);
  TmpDir=$(mktemp -d);
  BuildParams="$1";
  BuildPathFirst="$1";

  if [ -z "$BuildParams" ]; then
    BuildParams=".";
    BuildPathFirst=".";
  fi;

  LogFile="$TmpDir/mmm_logs.txt";
  OutFile="pack-"$(date +'%Y%m%d-%H%M')"-$(basename $(readlink -f $BuildPathFirst))-${TARGET_PRODUCT}.zip";
  TargetFile="$(xdg-user-dir DESKTOP)/Builds/$OutFile";
  mkdir -p $(dirname $TargetFile);
  path=$(readlink -f "$BuildPathFirst");

  echo "";
  echo -e " \e[1;37m[ System To Zip Maker by Adrian DC - 2016 ]\e[0m";
  echo "";

  Installs=$(find "$BuildParams" -type f -printf '%P\n');

  FilesList="";
  for FilePath in ${Installs[*]}
  do
    FilePath=$(printf "$FilePath" | tail -1 \
             | sed "s/\x1B\[[0-9;]*[JKmsu]//g" \
             | sed "s/.*\/\([^\[]*.zip\).*/\1/g");
    FileTarget="system/$FilePath";
    FileDir=$(dirname $FileTarget);
    if [ ! -d "$TmpDir/$FileDir" ]; then
      mkdir -p "$TmpDir/$FileDir";
    fi;
    if [ -f "$FilePath" ]; then
      cp "$FilePath" "$TmpDir/$FileTarget";
      FilesList="$FilesList ./$FileTarget";
    fi;
  done;

  cd "$TmpDir/";
  if [ ! -z "$FilesList" ]; then
    cp "$bash_android_flashable_zip" "$TmpDir/$OutFile.unsigned.zip";
    zip -g "$TmpDir/$OutFile.unsigned.zip" $FilesList;
    java -jar "$bash_android_sign_apk_dir/signapk-cm121.jar" \
         -w "$bash_android_sign_apk_dir/testkey.x509.pem" \
         "$bash_android_sign_apk_dir/testkey.pk8" \
         "$TmpDir/$OutFile.unsigned.zip" \
         "$TmpDir/$OutFile";
    rm -f "$TmpDir/$OutFile.unsigned.zip";
    cp "$TmpDir/$OutFile" "$TargetFile";
    export PackageResult="$TargetFile";
    echo "";
    echo -e " \e[1;37mPackage File:\e[0m $TargetFile";
  else
    export PackageResult="";
  fi;
  echo "";

  rm -rf "$TmpDir";
  cd "$CurDir";
}

# === Output Zip Maker ===
function packzip()
{
  CurDir=$(pwd);
  TmpDir=$(mktemp -d);
  BuildParams="$@";
  OutFile="pack-"$(date +'%Y%m%d-%H%M')"-$(basename $(readlink -f $1))-${TARGET_PRODUCT}.zip";
  TargetFile="$(xdg-user-dir DESKTOP)/Builds/$OutFile";
  mkdir -p $(dirname $TargetFile);

  echo "";
  echo -e " \e[1;37m[ Packed Zip Maker by Adrian DC - 2016 ]\e[0m";
  echo "";

  Installs=$@;
  FilesList="";
  for FilePath in ${Installs[*]}
  do
    FileTarget='';
    if [[ "$FilePath" =~ '/system' ]]; then
      FilePath=$(printf "$FilePath" | tail -1 \
               | sed "s/\x1B\[[0-9;]*[JKmsu]//g" \
               | sed "s/.*\/\([^\[]*.zip\).*/\1/g");
      FileTarget=$(echo $FilePath \
                 | sed "s/.*\(system\/.*\)/\1/g");
    elif [[ "$FilePath" =~ '/proprietary' ]]; then
      FilePath=$(printf "$FilePath" | tail -1 \
               | sed "s/\x1B\[[0-9;]*[JKmsu]//g" \
               | sed "s/.*\/\([^\[]*.zip\).*/\1/g");
      FileTarget=$(echo $FilePath \
                 | sed "s/.*proprietary\/\(.*\)/system\/\1/g");
    fi;
    if [ ! -z "$FileTarget" ]; then
      FileDir=$(dirname $FileTarget);
      if [ ! -d "$TmpDir/$FileDir" ]; then
        mkdir -p "$TmpDir/$FileDir";
      fi;
      if [ -f "$FilePath" ]; then
        cp "$FilePath" "$TmpDir/$FileTarget";
        FilesList="$FilesList ./$FileTarget";
      fi;
    fi;
  done;

  cd "$TmpDir/";
  cp "$bash_android_flashable_zip" "$TmpDir/$OutFile.unsigned.zip";
  if [ ! -z "$FilesList" ]; then
    zip -g "$TmpDir/$OutFile.unsigned.zip" $FilesList;
    java -jar "$bash_android_sign_apk_dir/signapk-cm121.jar" \
         -w "$bash_android_sign_apk_dir/testkey.x509.pem" \
         "$bash_android_sign_apk_dir/testkey.pk8" \
         "$TmpDir/$OutFile.unsigned.zip" \
         "$TmpDir/$OutFile";
    rm -f "$TmpDir/$OutFile.unsigned.zip";
    cp "$TmpDir/$OutFile" "$TargetFile";
    echo "";
    echo -e " \e[1;37mPackage File:\e[0m $TargetFile";
    export PackageResult="$TargetFile";
  fi;
  echo "";

  rm -rf "$TmpDir";
  cd "$CurDir";
}

# === Kernel Zip Maker ===
function kerzip()
{
  CurDir=$(pwd);
  TmpDir=$(mktemp -d);
  LogFile="$TmpDir/logs.txt";
  if [ ! -z "$1" ]; then FileTag="-$1"; else FileTag=""; fi;
  OutFile="kernel-"$(date +'%Y%m%d-%H%M')"-${TARGET_PRODUCT}${FileTag}.zip";
  TargetFile="$(xdg-user-dir DESKTOP)/Builds/$OutFile";
  mkdir -p $(dirname $TargetFile);
  croot;

  echo "";
  echo -e " \e[1;37m[ Flashable Kernel Builder by Adrian DC - 2016 ]\e[0m";
  echo "";
  printf "";

  rm -fv ./out/target/product/*/boot.*;
  rm -fv ./out/target/product/*/*.cpio;
  rm -fv ./out/target/product/*/*.fs;
  rm -fv ./out/target/product/*/*.img;
  echo "";

  if $(mms -v >/dev/null 2>&1); then
    mms -j$(grep -c ^processor /proc/cpuinfo) bootimage | tee $LogFile;
  else
    make -j$(grep -c ^processor /proc/cpuinfo) bootimage | tee $LogFile;
  fi;

  BootImg=$(grep -a ".*image.*boot\.img" $LogFile | head -1 \
          | sed "s/.*: \(.*boot\.img\).*/\1/g");

  if [ ! -z "$BootImg" ] && [ -f "$BootImg" ]; then
    ModulesDir=$(grep -a ".*system/lib/.*" $LogFile | head -1 \
               | sed "s/.* \(\S*system\/lib\/modules\S*\);.*/\1/g");
    Modules=$(grep -a ".*INSTALL .*\.ko.*" $LogFile \
            | sed "s/.*INSTALL \(.*\.ko\).*/\1/g" \
            | uniq);
    if [ ! -z "$Modules" ]; then
      Modules=$(echo $Modules | xargs -n 1 basename);
    fi;

    FilesList="";
    ModulesSysDir="system/lib/modules";
    ModulesTmpDir="$TmpDir/$ModulesSysDir";

    if [ ! -d "$ModulesTmpDir" ]; then
      mkdir -p "$ModulesTmpDir/";
    fi;

    for Module in ${Modules[*]}; do
      ModuleName=$(basename "$Module");
      ModuleFile=${ModulesDir}/${ModuleName};
      if [ -f "$ModuleFile" ]; then
        cp "$ModuleFile" "$ModulesTmpDir";
        FilesList="$FilesList ./$ModulesSysDir/$ModuleName";
      fi;
    done;

    cp "$BootImg" "$TmpDir/boot.img";
    FilesList="$FilesList $(basename $BootImg)";

    cd "$TmpDir/";
    cp "$bash_kernel_template_zip" "$TmpDir/$OutFile.unsigned.zip";
    zip -g "$TmpDir/$OutFile.unsigned.zip" $FilesList;
    java -jar "$bash_android_sign_apk_dir/signapk-cm121.jar" \
        -w "$bash_android_sign_apk_dir/testkey.x509.pem" \
        "$bash_android_sign_apk_dir/testkey.pk8" \
        "$TmpDir/$OutFile.unsigned.zip" \
        "$TmpDir/$OutFile";
    rm -f "$TmpDir/$OutFile.unsigned.zip";
    cp "$TmpDir/$OutFile" "$TargetFile";
    echo "";
    echo -e " \e[1;36mPackage File:\e[0m $TargetFile";
    export PackageResult="$TargetFile";
    echo "";
  fi;

  rm -rf "$TmpDir";
  cd "$CurDir";
}

# === Git Zip Maker ===
function gitzip()
{
  local file_path;
  local files_list='';
  local status;
  local tmpfile=$(mktemp);
  git diff-tree --no-commit-id --name-status -r ${1} > ${tmpfile};
  while read line; do
    status=$(echo "${line}" | awk '{ print $1 }');
    file_path=$(echo "${line}" | awk '{ print $2 }');
    if [[ "$status" =~ 'D' || "${line}" =~ '.mk' ]]; then
      continue;
    fi;
    files_list="${files_list} ${file_path}";
  done < ${tmpfile};
  packzip ${files_list};
  rm -f ${tmpfile};
}

# === Ninja Disabler ===
function noninja()
{
  export USE_NINJA=false;
  ${@};
  export USE_NINJA=;
}

# === Build Without Ninja ===
function mmo()
{
  export USE_NINJA=false;
  mmm ${@};
  export USE_NINJA=;
}

# === Build & Install Without Ninja ===
function mmi()
{
  export USE_NINJA=false;
  adbi mmm ${@};
  export USE_NINJA=;
}

# === Build & Listen Without Ninja ===
function mmil()
{
  export USE_NINJA=false;
  adbil mmm ${@};
  export USE_NINJA=;
}

# === CCache Disabler ===
function noccache()
{
  local use_ccache=${USE_CCACHE};
  export USE_CCACHE=0;
  ${@};
  export USE_CCACHE=${use_ccache};
}
