#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Rebase Helpers ===
alias gitra='git rebase --abort';
alias gitrc='git rebase --continue';
alias gitre='git rebase --edit-todo';
alias gitrs='git rebase --skip';
function gitrf() { git rebase ${1}^ -i; }
function gitr() { git rebase HEAD~${1:-5} -i; }
function gitrall() { git rebase -i HEAD~$(($(git rev-list --count HEAD) - 1)); }
function gitrfedit() { GIT_SEQUENCE_EDITOR="sed -i -e 's/pick/edit/g'" git rebase ${1} -i; }
function gitredit() { GIT_SEQUENCE_EDITOR="sed -i -e 's/pick/edit/g'" git rebase HEAD~${1:-5} -i; }

# === Git rebasing ===
function gitrb()  { branch=${1:-$(repogetbranch)}; git fetch github ${branch}; git rebase github/${branch}; }
function gitrbo() { branch=${1:-$(repogetbranch)}; git fetch origin ${branch}; git rebase origin/${branch}; }
