#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === AndroidFiles Adder ===
function androidfilesadd()
{
  # Usage
  if [ -z "${2}" ]; then
    echo '';
    echo ' Usage: androidfilesadd <file_path> <target_folder> (Add file to AndroidFiles)';
    echo '';
    return;
  fi;

  # Check ANDROID_FILES_PATH is defined
  if [ -z "${ANDROID_FILES_PATH}" ]; then
    echo '';
    echo ' You need to edit your ~/.bashrc to add :';
    echo '  # AndroidFiles';
    echo '  export ANDROID_FILES_PATH=/media/.../AndroidFiles;';
    echo '';
    return;
  fi;

  # Variables
  local path=${1};
  local target=${2};

  # Add new file to AndroidFiles
  echo '';
  echo -en  ' \e[1;33mandroidfilesadd:\e[0m ';
  mkdir -p "${ANDROID_FILES_PATH}/${target}";
  cp -fv "${path}" "${ANDROID_FILES_PATH}/${target}";
}

# === AndroidFiles Syncer ===
function androidfilessync()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: androidfilessync <--upload/--download> (Sync AndroidFiles folder)';
    echo '';
    return;
  fi;

  # Variables
  local cwd;

  # Check ANDROID_FILES_PATH is defined
  if [ -z "${ANDROID_FILES_PATH}" ]; then
    echo '';
    echo ' You need to edit your ~/.bashrc to add :';
    echo '  # AndroidFiles';
    echo '  export ANDROID_FILES_PATH=/media/.../AndroidFiles;';
    echo '';
    return;
  fi;

  # Use megamirror inside AndroidFiles folder
  cwd=$(pwd);
  cd "${ANDROID_FILES_PATH}";
  megamirror . '/Root/Android' "${1}" "${2}";
  cd "${cwd}";

  # Reload mega.nz account
  meganzreload;
}

# === AndroidFiles Download / Upload Helper ===
alias androidfilesdownload='androidfilessync --download';
alias androidfilesupload='androidfilessync --upload';

# === AndroidFiles Folder Helper ===
alias androidfilescd='cd "${ANDROID_FILES_PATH}/"';

# === AndroidFiles Folder ===
function androidfilesopen()
{
  # Usage: androidfilesopen (Open AndroidFiles folder)

  # Open AndroidFiles folder
  diropen "${ANDROID_FILES_PATH}/";
}
