#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Kernel Builder and Injector Packer===
function makekernelinjector()
{
  # Usage
  if [ -z "${1}" ]; then
    echo ' Usage: makekernelinjector <device_name>';
    return;
  fi;

  # Make the kernel
  makekernel ${1};

  # Package kernel injector
  kernelinjectorzip ${1} arch/arm/boot/zImage;
}

# === Xperia X Performance Shortcuts ===
alias doradefconf='makedefconf msm-perf dora common';
alias doracopyleft='mkcopyleft dora';
alias doraaospdefconf='makedefconf aosp_tone_dora_defconfig';
alias doraaospkernel='makekernel tone_dora';
alias dorazipkernel='kernelinjectorzip dora arch/arm64/boot/Image.gz-dtb .';
alias sonykernelrebase='git fetch https://github.com/sonyxperiadev/kernel aosp/LA.UM.5.5.r1; git rebase FETCH_HEAD; gitpa';

# === Xperia XZ Shortcuts ===
alias kaguradefconf='makedefconf msm-perf kagura common';

# === Sony AOSP Kernel Updater ===
function sonyaospkernelupdate()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: sonyaospkernelupdate <device_name>';
    echo '';
    return;
  fi;

  # Variables
  local device_name="${1}";

  # Build environment
  while [ ! -e './build/envsetup.sh' ]; do
    cd ../;
  done;
  source ./build/envsetup.sh;

  # Abort if common-kernel missing
  if [ ! -d "./device/sony/common-kernel" ]; then
    echo '';
    echo ' Error: common-kernel not found, prebuilt kernel not needed';
    echo '';
    return;
  fi;

  # Delete previous kernel images
  rm -fv ./device/sony/common-kernel/kernel-dtb-${device_name};
  rm -fv ./kernel/sony/msm/out/arch/arm64/boot/Image.gz-dtb;

  # Access kernel sources
  cd ./kernel/sony/msm/;

  # Compile kernel
  makekernel "${device_name}";

  # Copy prebuilt kernel
  croot;
  cp -v ./kernel/sony/msm/out/arch/arm64/boot/Image.gz-dtb ./device/sony/common-kernel/kernel-dtb-${device_name};

  # Commit prebuilt kernel
  cd ./device/sony/common-kernel/;
  git add -v kernel-dtb-${device_name};
  git commit --no-edit -m "sony: ${device_name}: Update prebuilt kernel";
  croot;
}
