#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Kernel Builder and Injector Packer===
function makekernelinjector()
{
  # Usage
  if [ -z "${1}" ]; then
    echo ' Usage: makekernelinjector <device_name> (Helper to makekernel with injector zip)';
    return;
  fi;

  # Make the kernel
  makekernel ${1};

  # Package kernel injector
  kernelinjectorzip ${1} .build/arch/arm/boot/zImage;
}
