#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === ROM Automatic Releaser - Option clean ===
function romautorelease-clean-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN='true'; }
function romautorelease-clean-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN=; }
function romautorelease-clean-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN}" ]; }

# === ROM Automatic Releaser - Option cleanram ===
function romautorelease-cleanram-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEANRAM='true'; }
function romautorelease-cleanram-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEANRAM=; }
function romautorelease-cleanram-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEANRAM}" ]; }

# === ROM Automatic Releaser - Option debug ===
function romautorelease-debug-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG='true'; }
function romautorelease-debug-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG=; }
function romautorelease-debug-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG}" ]; }

# === ROM Automatic Releaser - Option local ===
function romautorelease-local-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL='true'; }
function romautorelease-local-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL=; }
function romautorelease-local-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL}" ]; }

# === ROM Automatic Releaser - Option nosync ===
function romautorelease-nosync-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC='true'; }
function romautorelease-nosync-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC=; }
function romautorelease-nosync-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC}" ]; }
