export AndroidDir="$PWD/Android";
export CCacheDir="$PWD/CCache";
export GitHubDir="$PWD/GitHub";
export TargetDir="$PWD/Target";

export PhoneName="huashan";
export OutDir="$AndroidDir/out/target/product/$PhoneName";

export LogFile="$ScriptDir/script_logs.txt";

export USE_CCACHE=1;
export CCACHE_DIR=$CCacheDir;
export CCACHE_LOGFILE=$CCacheDir/ccache.log;

if [ -d "$HOME/bin" ]; then export PATH="$HOME/bin:$PATH"; fi;
if [ -d "/usr/lib/ccache" ]; then export PATH="/usr/lib/ccache:$PATH"; fi;
