#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Android Device Targets ===
function androiddevicestarget()
{
  # Variables
  local device=${TARGET_PRODUCT#*_};
  local request=${1};
  local platform='';
  local partition='';
  local target_devices="dora kagura kugo suzu huashan hayabusa mint tsubasa shuang";

  # Ignore unsupported devices
  if [[ ! "${target_devices}" =~ "${device}" ]]; then
    device='';
  fi;

  # Autodetect
  if [ -z "${device}" ]; then
    device=${KBUILD_DIFFCONFIG%_*};
  fi;
  if [ -z "${device}" ]; then
    device=${ANDROID_DEVICE_TARGET};
  fi;
  if [ -z "${device}" ]; then
    local fullpath=$(pwd);
    for devicename in ${target_devices}; do
      if [[ "${fullpath}" =~ "${devicename}" ]]; then
        device="${devicename}";
      fi;
    done;
  fi;
  if [ -z "${device}" ]; then
    >&2 echo '';
    >&2 printf " Device target [${target_devices}] : ";
    read device;
    >&2 echo '';
    export ANDROID_DEVICE_TARGET=${device};
  fi;

  # Platform
  case "${device}" in
    dora|kagura|kugo|suzu)
      platform='/dev/block/bootdevice/by-name';;
    huashan|hayabusa|mint|tsubasa|shuang|*)
      platform='/dev/block/platform/msm_sdcc.1/by-name';;
  esac;

  # Input request
  case "${request}" in

    # Device codename
    codename)
      echo "${device}";
      return;;

    # Boot partition
    boot)
      case "${device}" in
        huashan|hayabusa|mint|tsubasa)
          partition='Kernel';;
        dora|f8131|shuang|*)
          partition='boot';;
      esac;;

    # FOTAKernel partition
    fota)
      partition='FOTAKernel';;

    # Recovery partition
    recovery)
      case "${device}" in
        dora|f8131)
          partition='recovery';;
        huashan|hayabusa|mint|tsubasa|shuang|*)
          partition='FOTAKernel';;
      esac;;

    # System partition
    system)
      case "${device}" in
        huashan|hayabusa|mint|tsubasa)
          partition='System';;
        dora|f8131|shuang|*)
          partition='system';;
      esac;;

    # Unknown partition
    *)
      partition='unknown';;
  esac;

  # Result
  echo "${platform}/${partition}";
}

# === Phone Codename to Target ===
function codenametotarget()
{
  # Filter devices from input
  case "${1}" in
    dora)
      echo 'f8131';;
    kagura)
      echo 'f8331';;
    *)
      echo "${1}";;
  esac;
}
