#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === File Uploader Mega.nz ===
function fileupl()
{
  # Usage
  if [ -z "${1}" ] || [ -z "${2}" ]; then
    echo '';
    echo ' Usage: fileupl <file_path> <target_folder>';
    echo '';
    return;
  fi;

  # Ignore missing credentials
  if [ ! -f ~/.megarc ]; then
    echo '';
    echo ' megatools: ~/.megarc is missing, please read megatools documentation';
    echo '';
    return;
  fi;

  # Variables
  local path="${1}";
  local target="${2}";
  local time_start=$(date +%s);
  local time_span;

  # File full path
  if [ -f "${path}" ]; then
    path=$(readlink -f "${path}");
  fi;

  # Detect main target inclusion
  if [[ ! "${target}" =~ '/Root/' ]]; then
    target="/Root/Android/${target}";
  fi;

  # Upload header informations
  echo '';
  echo -e " \e[1;33m[ Uploading to the server - Path '${target}' ]\e[0m";

  # Use AndroidFiles to save the file
  if [ ! -z "${ANDROID_FILES_PATH}" ] && [[ "${target}" =~ 'Root/Android' ]]; then
    androidfilesadd "${path}" "${target#/Root/Android/}";
  fi;

  # Remove local megatools cache
  rm -rf /tmp/*.megatools.cache;

  # Upload file to target
  echo '';
  megarm "${target}/$(basename ${path})" 2>/dev/null;
  megamkdir "${target}" 2>/dev/null;
  megaput --path "${target}" "${path}";

  # Reload mega.nz account
  meganzreload;

  # Show upload time
  time_span=$(($(date +%s)-${time_start}));
  echo -e " \e[1;37m[ Upload done in ${time_span} secs ]\e[0m";
  echo '';
}

# === Dev File Uploader ===
function devupl()
{
  # Variables
  local filepath="${1}";
  if [ -z "${filepath}" ] && [ -f "${PackageResult}" ]; then
    filepath="${PackageResult}";
  fi;

  # File upload to Development
  fileupl "${filepath}" 'Development';
}

# === Private File Uploader ===
function privupl()
{
  # Variables
  local filepath="${1}";
  if [ -z "${filepath}" ] && [ -f "${PackageResult}" ]; then
    filepath="${PackageResult}";
  fi;

  # File upload to .private
  fileupl "${filepath}" '.private';
}

# === Fast File Uploader ===
function fastupl()
{
  # File upload to Private
  fileupl "${1}" '/Root/Private';

  # File download command
  local filename=$(basename "${1}");
  local cmd="fileget '/Root/Private/${filename}';";

  # Additional install commands
  if [ "${2}" = 'zip' ]; then
    cmd="${cmd} adbside '${filename}' true;";
  elif [ "${2}" = 'bootimage' ]; then
    cmd="${cmd} fboot '${filename}';";
  fi;

  # Command outputs
  echo -e '  \e[1;32mDirect download:\e[0m';
  echo "${cmd}" | xclip -selection c;
  echo "   ${cmd}";
  echo '';
}

# === Make and upload ===
function mmmupl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: mmmupl <packageorpath> [bool_partial_build]';
    echo '';
    return;
  fi;

  # Build and package zip
  export MMMZIP_BUILD_PARTIAL=${2:-true};
  mmmzip "${1}";
  export MMMZIP_BUILD_PARTIAL=;

  # Upload to Private
  fastupl "${PackageResult}" 'zip';
}

# === Bootimage File Uploader ===
function devuplboot()
{
  # Variables
  local cwd=$(pwd);
  local device="${1}";
  croot;

  # Rename and upload
  mv "./out/target/product/${device}/boot.img" "./out/target/product/${device}/boot-${device}.img";
  devupl "./out/target/product/${device}/boot-${device}.img";

  # Restore path
  cd "${cwd}/";
}

# === ROM Device Upload ===
function devuplrom()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: devuplrom device [folder_path]';
    echo '';
    return;
  fi;

  # Variables
  local cwd=$(pwd);
  local device="${1}";
  local upload="${2}";
  local target=$(codenametotarget "${device}");
  local romfiles;
  local romfile;
  if [ -z "${upload}" ]; then
    upload="Development";
  fi;

  # ROM detection
  croot;
  romfiles=$(find "./out/target/product/${device}/"*"${device}"*".zip" \
                  "./out/target/product/${device}/"*"${target}"*".zip" \
                  -mtime -1 | sort);
  romfile='';
  for romfiletest in ${romfiles}; do
    if [ -f "${romfiletest}.md5sum" ]; then
      romfile="${romfiletest}";
    fi;
  done;
  if [ -z "${romfile}" ]; then
    romfile=$(echo "${romfiles}" | head -n1 | awk '{ print $NF }');
  fi;

  # ROM upload
  if [ ! -z "${romfile}" ]; then
    fileupl "${romfile}" "${upload}";
    export bash_android_uploaded_file="${romfile}";
  else
    export bash_android_uploaded_file='';
  fi;

  # End of process
  cd "${cwd}";
}

# === Adaptive Device Upload ===
function autodevupl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: autodevupl device [folder_path [file_path]]';
    echo '';
    return;
  fi;

  # Variables
  local rom_device="${1}";
  local rom_phone="${rom_device^}";
  local rom_target="${2}";
  local rom_files="${3}";

  # Target not final
  if [[ ! "${rom_target}" =~ "${rom_phone}" ]]; then

    # LineageOS
    if [[ "${rom_target}" =~ 'lineage' ]]; then
      rom_target="${rom_phone}/LineageOS-14.1";

    # Development
    else
      rom_target='Development';
    fi;
  fi;

  # Upload files
  if [ -z "${rom_files}" ]; then
    devuplrom "${rom_device}" "${rom_target}";
  else
    fileupl "${rom_files}" "${rom_target}";
  fi;
}

# === File Downloader Mega.nz ===
function fileget()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: fileget <remote_path> [boot_remove_remote]';
    echo '';
    return;
  fi;

  # Ignore missing credentials
  if [ ! -f ~/.megarc ]; then
    echo '';
    echo ' megatools: ~/.megarc is missing, please read megatools documentation';
    echo '';
    return;
  fi;

  # Variables
  local path="${1}";
  local remove_remote="${2}";
  local file_name=$(basename "${path}");
  local time_start=$(date +%s);
  local time_span;

  # Detect main target inclusion
  if [[ ! "${path}" =~ '/Root/' ]]; then
    path="/Root/Android/${path}";
  fi;

  # Upload header informations
  echo '';
  echo -e " \e[1;33m[ Download from the server - Path '${path#/Root/Android/}' ]\e[0m";

  # Remove local megatools cache
  rm -rf /tmp/*.megatools.cache;

  # Save local file
  if [ -f "${file_name}" ]; then
    rm -f "${file_name}.tmp";
    mv "${file_name}" "${file_name}.tmp";
  fi;

  # Download file from target
  echo '';
  megaget --path ./ "${path}";

  # Delete remote file
  if [ "${remove_remote}" = 'true' ] && [ -f "${file_name}" ]; then
    megarm "${path}";
  fi;

  # Clean saved file
  if [ -f "${file_name}" ]; then
    rm -f "${file_name}.tmp";

  # Warn about failed download
  else
    echo '';
    echo -e " \e[1;31m[ Download failed ]\e[0m";
    echo '';
    return;
  fi;

  # Show download time
  echo '';
  time_span=$(($(date +%s)-${time_start}));
  echo -e " \e[1;37m[ Download done in ${time_span} secs ]\e[0m";
  echo '';
}

# === Pushbullet ROM Status ===
function pushbrom()
{
  # Access ROM root
  local cwd=$(pwd);
  croot;

  # Variables
  local device="${1}";
  local rom="${2:-ROM}";
  local host=$(hostname);

  # ROM file
  romfile=$(find "./out/target/product/${device}/"*"${device}"*".zip" -mmin -30 | tail -n 1);
  if [ ! -z "${romfile}" ]; then
     pushb "${host}: ${rom} for ${device} ready";
  else
     pushb "${host}: ${rom} for ${device} failed";
  fi;

  # Restore ROM path
  cd "${cwd}";
}

# === AndroidFiles Adder ===
function androidfilesadd()
{
  # Check ANDROID_FILES_PATH is defined
  if [ -z "${ANDROID_FILES_PATH}" ]; then
    echo '';
    echo ' You need to edit your ~/.bashrc to add :';
    echo '  # AndroidFiles';
    echo '  export ANDROID_FILES_PATH=/media/.../AndroidFiles;';
    echo '';
    return;
  fi;

  # Usage
  if [ -z "${2}" ]; then
    echo '';
    echo ' Usage: androidfilesadd <file_path> <target_folder>';
    echo '';
    return;
  fi;

  # Variables
  local path="${1}";
  local target="${2}";

  # Add new file to AndroidFiles
  echo '';
  printf ' \e[1;33mandroidfilesadd:\e[0m ';
  mkdir -p "${ANDROID_FILES_PATH}/${target}";
  cp -fv "${path}" "${ANDROID_FILES_PATH}/${target}";
}

# === AndroidFiles Syncer ===
function androidfilessync()
{
  # Check ANDROID_FILES_PATH is defined
  if [ -z "${ANDROID_FILES_PATH}" ]; then
    echo '';
    echo ' You need to edit your ~/.bashrc to add :';
    echo '  # AndroidFiles';
    echo '  export ANDROID_FILES_PATH=/media/.../AndroidFiles;';
    echo '';
    return;
  fi;

  # Use megamirror inside AndroidFiles folder
  local cwd=$(pwd);
  cd "${ANDROID_FILES_PATH}";
  megamirror . '/Root/Android' "${1}" "${2}";
  cd "${cwd}";

  # Reload mega.nz account
  meganzreload;
}

# === AndroidFiles Folder ===
function androidfilesopen()
{
  # Open AndroidFiles folder
  xdg-open "${ANDROID_FILES_PATH}/";
}
