#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Git Projects Statistics ===
function gitstat()
{
  # Usage
  if [ -z "${2}" ]; then
    echo " Usage: gitstat remote branch [stats_only]";
    return;
  fi;

  # Informations
  echo "git fetch ${1} ${2}; git rev-list --left-right --count HEAD...FETCH_HEAD;";

  # Request
  git fetch ${1} ${2};
  if [ ! -z "${3}" ]; then
    git --no-pager diff --stat HEAD FETCH_HEAD;
  else
    git --no-pager diff HEAD...FETCH_HEAD;
  fi;

  # Comparison
  echo '';
  printf ' New changes - missing : ';
  git rev-list --left-right --count HEAD...FETCH_HEAD;
}

# === Git Projects Statistics (shortcuts) ===
alias gitst='gitstat origin cm-14.1';
alias gitst13='gitstat origin cm-13.0';
alias gitst140='gitstat origin cm-14.0';
alias gitsto='gitstat origin $(git rev-parse --abbrev-ref HEAD)';
alias gitsta='gitstat AdrianDC cm-14.1';
alias gitsta6='gitstat AdrianDC aosp-6.0';
alias gitstaa6='gitstat AdrianDC android-6.0';
alias gitstam='gitstat AdrianDC master';
alias gitstatw='gitstat AdrianDC twrp';
alias gitstg='gitstat github';
alias gitsti='gitstat aicp mm6.0';
alias gitstt='gitstat twrp android-6.0';
alias gitsts13='gitstat origin stable/cm-13.0-ZNH5Y';
alias gitstaosp='gitstat aosp master';
alias gitstsony='gitstat origin aosp/LA.UM.5.5.r1';
alias gitstf13='gitrao; gitstat origin cm-13.0 true';
alias gitstfs13='gitrao; gitstat origin stable/cm-13.0-ZNH5Y true';
