#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Repo Changelog (Base code from AICP repos 2015) ===
function repochangelog()
{
  # Usage: repochangelog <days_count> [project1_path,project2_path,...] (Generate ROM changelogs)

  # Load colors
  export red=$(tput setaf 1);             #  red
  export grn=$(tput setaf 2);             #  green
  export ylw=$(tput setaf 3);             #  yellow
  export blu=$(tput setaf 4);             #  blue
  export ppl=$(tput setaf 5);             #  purple
  export cya=$(tput setaf 6);             #  cyan
  export txtbld=$(tput bold);             #  Bold
  export bldred=${txtbld}$(tput setaf 1); #  red
  export bldgrn=${txtbld}$(tput setaf 2); #  green
  export bldylw=${txtbld}$(tput setaf 3); #  yellow
  export bldblu=${txtbld}$(tput setaf 4); #  blue
  export bldppl=${txtbld}$(tput setaf 5); #  purple
  export bldcya=${txtbld}$(tput setaf 6); #  cyan
  export txtrst=$(tput sgr0);             #  Reset
  export rev=$(tput rev);                 #  Reverse color
  export pplrev=${rev}$(tput setaf 5);
  export cyarev=${rev}$(tput setaf 6);
  export ylwrev=${rev}$(tput setaf 3);
  export blurev=${rev}$(tput setaf 4);
  export normal='tput sgr0';

  # Repo detection
  if [ -z "${ANDROID_BUILD_TOP}" ] || [ -z "${OUT}" ]; then
    echo ' repochangelog can only be used in a build ready environment';
    echo '';
    return;
  fi;

  # Variables
  local cwd=$(pwd);
  local changelogname=Changelog.txt;
  local changelog=${OUT}/${changelogname};

  # Repo root
  cd ${ANDROID_BUILD_TOP};

  local changelogdays=5;
  if [ ! -z "${1}" ]; then
    changelogdays=${1};
  fi;

  # Prepare and clean the log
  mkdir -p "${OUT}/";
  if [ -f "${changelog}" ]; then
    rm -f "${changelog}";
  fi;
  touch "${changelog}";

  # Print something to build output
  echo '';
  echo ${bldppl}' Generating changelog...'${txtrst};

  for i in $(seq ${changelogdays}); do
    export After_Date=$(date --date="${i} days ago" +%m-%d-%Y);
    export Until_Date=$(date --date="$(expr ${i} - 1) days ago" +%m-%d-%Y);

    # Line with after --- until was too long for a small ListView
    echo ${ylw}"  Processing ${Until_Date}..."${txtrst};
    echo ' ======================' >> "${changelog}";
    echo '  ChangeLog '${Until_Date} >> "${changelog}";
    echo ' ======================' >> "${changelog}";

    # Handle the usage of repochangelog days_count project1_path,project2_path,...
    command="git log --oneline --pretty=\"tformat:    %h - %s (%cr) <%an>\" --after=${After_Date} --until=${Until_Date}";
    if [ ! -z "${2}" ]; then
      # Cycle through the selected projects to find commits between 2 dates
      for projectpath in $(echo "${2}" | sed 's/,/ /g'); do
        if [ -d "${projectpath}" ]; then
          cd ${projectpath}/;
          echo '' >> "${changelog}";
          echo "project ${projectpath}/" >> "${changelog}";
          git log --oneline --pretty="tformat:    %h - %s (%cr) <%an>" --after=${After_Date} --until=${Until_Date} >> "${changelog}";
          cd ${ANDROID_BUILD_TOP};
        fi;
      done;
    else
      # Cycle through every repo to find commits between 2 dates
      repo forall -pc "git log --oneline --pretty=\"tformat:    %h - %s (%cr) <%an>\" --after=${After_Date} --until=${Until_Date}" >> "${changelog}";
    fi;
    echo >> "${changelog}";
  done;

  sed -i 's/project \(.*\)\// * \1\n/g' "${changelog}";

  # Copy change to system/etc/
  mkdir -p "${OUT}/system/etc/";
  if [ -e "${OUT}/system/etc/${changelogname}" ]; then
    rm "${OUT}/system/etc/${changelogname}";
  fi;
  cp "${changelog}" "${OUT}/system/etc/";
  cd ${cwd};

  echo ${bldcya}" ChangeLog saved:"${txtrst}" "${txtbld}"${changelog}"${txtrst};
  echo '';
}
