#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === ADB Shell Root ===
function adbsu()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: adbsu <command...> (Run on root adb shell)';
    echo '';
    return;
  fi;

  # Run on root adb shell
  if [ -z $(adb shell type su | grep 'no found') ]; then
    adbro;
    adb shell ${@};
  else
    adb shell su -c "${@}";
  fi;
}
