#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === ROM Automatic Releaser - Option clean ===
function romautorelease-clean-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN='true'; }
function romautorelease-clean-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN=; }
function romautorelease-clean-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_CLEAN}" ]; }

# === ROM Automatic Releaser - Option debug ===
function romautorelease-debug-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG='true'; }
function romautorelease-debug-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG=; }
function romautorelease-debug-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_DEBUG}" ]; }

# === ROM Automatic Releaser - Option local ===
function romautorelease-local-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL='true'; }
function romautorelease-local-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL=; }
function romautorelease-local-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_LOCAL}" ]; }

# === ROM Automatic Releaser - Option nosync ===
function romautorelease-nosync-enable()  { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC='true'; }
function romautorelease-nosync-disable() { export ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC=; }
function romautorelease-nosync-active()  { [ ! -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_AUTORELEASE_NOSYNC}" ]; }
