#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_rom_projects.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_rom_aosp_sony8960.rc)

# === AOSP 8960 N Patcher ===
function aosp8960npatcher()
{
  # Usage: aosp8960npatcher [specific_paths] (AOSP 8960 Nougat Patcher)

  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_n' 'aosp_sony8960_n' '' "${*}";
}

# === AOSP 8960 O Patcher ===
function aosp8960opatcher()
{
  # Usage: aosp8960opatcher [specific_paths] (AOSP 8960 O Patcher)

  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_o' 'aosp_sony8960_o' '' "${*}";
}

# === AOSP 8960 Master Patcher ===
function aosp8960masterpatcher()
{
  # Usage: aosp8960masterpatcher [specific_paths] (AOSP 8960 Master Patcher)

  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_master' 'aosp_sony8960_master' '' "${*}";
}
