#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Stash Helpers ===
alias gits='git stash';
alias gitsp='git stash -p';
alias gitsu='git stash -u';
alias gitspop='git stash pop';

# === Git Clean Tags ===
function gitcleantags()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: gitcleantags <branch_to_keep>';
    echo '';
    return;
  fi;

  # Variables
  local branch_keep=${1};

  # Delete tags
  git tag | grep -v ${branch_keep} | xargs git tag -d;
}

# === Git One Branch Keeper ===
function gitonebranch()
{
  # Usage: gitonebranch (Git remove non-default remote branches)

  # Fetch remotes
  local username=$(githubusername);
  git fetch ${username};
  git fetch ${username} refs/heads/*:refs/heads/*;
  git fetch ${username} refs/tags/*:refs/tags/*;

  # Remove branches
  git branch -r | sed "s/${username}\/\(.*\)/\1/" \
                | grep -v "HEAD" \
                | grep -v $(git rev-parse --abbrev-ref HEAD) \
                | xargs -I {} sh -c "printf \" Removing branch {} : \"; git push ${username} :{};";

  # Remove tags
  git tag -l | xargs -I {} sh -c "printf \" Removing tag {} : \"; git push ${username} :{}; printf "  "; git tag -d {};";
}
