#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === AOSP M Patcher ===
function aospmpatcher()
{
  # Repo root
  if [ -z "$(type -t croot)" ]; then
    while [ ! -e './build/envsetup.sh' ]; do
      cd ../;
    done;
    source ./build/envsetup.sh;
  fi;
  croot;

  # ==========================================================
  # Java 8

    # build: Allow all possible JDK editions by default
    croot;
    cd build/;
    git fetch http://review.cyanogenmod.org/a/CyanogenMod/android_build refs/changes/02/155502/6 && git cherry-pick FETCH_HEAD;
    git reset --hard HEAD; git stash -u;

    # doclava: Workaround for breaking change in OpenJDK 8 javadoc
    croot;
    cd external/doclava/;
    git fetch http://review.cyanogenmod.org/a/CyanogenMod/android_external_doclava refs/changes/58/139358/1 && git cherry-pick FETCH_HEAD;
    git reset --hard HEAD; git stash -u;

    # guava: Backport Java 8 compile time break workaround.
    croot;
    cd external/guava/;
    git fetch http://review.cyanogenmod.org/a/CyanogenMod/android_external_guava refs/changes/60/139360/1 && git cherry-pick FETCH_HEAD;
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # art
  croot;
  cd art/;
  git fetch https://github.com/CyanogenMod/android_art cm-13.0;

    # Art: disable host clang by default
    git cherry-pick e5c6b049f3c716be60bc82d79c44c451f49b4ad5;

    # ART: Disable Clang for arm
    git cherry-pick d43903f4094c4791dc7664cf981086e608174bff;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # bionic
  croot;
  cd bionic/;
  git fetch https://github.com/CyanogenMod/android_bionic cm-13.0;
  git reset --hard HEAD; git stash -u;

    # linker: Add support for dynamic "shim" libs
    git cherry-pick 8a044e6e632b6221b8a0dc2df918d7b01a77fb98;

    # linker: Fix the fact that shim libs do not properly call constructors
    git cherry-pick 9b6d9ca81013be18cb104b0e1587b503d70cca7c;

    # Revert: Revert: linker: Reset the active shim libs each time we do a dlopen
    git cherry-pick 91d934ac73ae5a198ae0db4203c8fcf79e4df288;

    # linker: Don't try to walk the g_active_shim_libs when doing dlsym
    git cherry-pick 81105204fbb28ca97408a5dfe9608c6982317f24;

    # Make shim lib load failure non-fatal.
    git cherry-pick d45ca0d9b66a91a3758a8907b9d0f1e4e4f66447;

    # bionic: Do not allow LD_SHIM_LIBS for setuid executables
    git cherry-pick 6d79500f5342edd505f0139db71527b1a0a72f1f;

    # bionic: linker: Load shim libs *before* the self-linked libs
    git cherry-pick 02b1d48d51ffed14442390c80e773f3ac89396ff;

    # Don't leak sockets if setsockopt() or fchown() fail.
    git cherry-pick e31f2d8c7de0d3f38329695afc12a7a74711dd26;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # build
  croot;
  cd build/;
  git reset --hard HEAD; git stash -u;
  git fetch https://github.com/CyanogenMod/android_build cm-13.0;

    # build: ota_from_target_files remove symlink
    mv tools/releasetools/ota_from_target_files tools/releasetools/ota_from_target_files.symlink;
    mv tools/releasetools/ota_from_target_files.py tools/releasetools/ota_from_target_files;
    git add tools/releasetools/ota_from_target_files* tools/releasetools/ota_from_target_files.py;
    git commit -m "build: Remove ota_from_target_files symlink" --no-edit;

    # make bacon and custom releasetool (for squished zips)
    git cherry-pick e8ee3f996ef310cf587a71a7efdaf6d165bddbc5;

    # add support for overriding build.prop settings.
    git cherry-pick def216d463d0e3dde32b8e7c028ba7d19e3f0b81;

    # build: custom releasetools
    git cherry-pick b25f91401f31f75b752827b15f97f46809063732;

    # Add otapackage support for backuptool
    git cherry-pick ae9f61b6717553eff9295ca93a959000306381ee 2>/dev/null;
    sed -i '/<<<<\|====\|>>>>/d' tools/releasetools/ota_from_target_files;
    git add tools/releasetools/ota_from_target_files;
    git commit --no-edit;

    # Allow override of device asserts, including multi-device support.
    git cherry-pick 1831340dcc85742281bc0794a4bf95b4667d9f13;

    # Edify: Add AssertSomeBaseband
    git cherry-pick c2467343801228fd5560d64f5312e45384425f5c;

    # Remove nulls from the edify generator.
    git cherry-pick a8d8e49b2efbc031caab7fcc0ca32d08f384240b;

    # ota: Remove cruft we don't care about
    git cherry-pick 80ed6ec048dfeb2e5c4c8e3432898c6cc89f05c0;

    # build: Ensure /system unmounted at install start
    git cherry-pick 0792a21ceb5e3db8cb27415b4f44b118e315adea;

    # build: recovery: Support adding device-specific items
    git cherry-pick c5a85c5a2dc8ae4d580838fe789c97bc518163c8;

    # Add ext2, ext3, and vfat to releasetools
    git cherry-pick 470ea4cc706087ff859f30d13e9f1077f07e5329;

    # build: Run squisher for the bacon target
    git cherry-pick 94c346a75214129ba3ac32ebe238b2956c5988d5;

    # Allow devices to specify certain ro. props via TARGET_UNIFIED_DEVICE
    git cherry-pick 2be98b8f472f3f4b85aafbbf96ff868e47c9d3be;

    # Redo BOARD_CUSTOM_BOOTIMG_MK support
    git cherry-pick 409f818fccdee9147812b2cb06e703808f55a57a;

    # recovery: build uncompressed ramdisk
    git cherry-pick 1cebb700f3418540b119f2cce6db37e40a3ba0a7;

    # build: Fix extreneous endif.
    git cherry-pick 5e5e9e625168cee80bfee7efba6adf0e1c429487;

    # core: Add recovery image target
    git cherry-pick 158f13a1aec30df43efaa6c6969edfa38d9c2831;

    # build: Handle custom boot images properly
    git cherry-pick 3b0fd614f1ec0894bead7f058f502b11d2105299;

    # Fix syntax issues and recovery generation
    git cherry-pick 9f6575829056a12259e77a79d6e4f81a4b0f4ee3;

    # Revert vboot_signer: Add kernel subkey required for signing kernel keyblock
    git revert e8c212235fc4a83a20cb9bd25f17897a75b15440 --no-edit;

    # build: Fix BOARD_CUSTOM_BOOTIMG_MK for recovery target.
    sed -i 's/@echo ----- Made recovery image: $(1) --------/@echo -e ${CL_CYN}"Made recovery image: $@"${CL_RST}/' core/Makefile;
    git add core/Makefile;
    git commit -m "build: Temp colors to Made recovery image" --no-edit;
    git cherry-pick 95bd379a8481ba14bf066ba4a59de8760b525a1d;
    sed -i 's/@echo -e ${CL_CYN}"Made recovery image: $@"${CL_RST}/@echo ----- Made recovery image: $(1) --------/' core/Makefile;
    git add core/Makefile;
    git commit -m "build: Remove colors to Made recovery image" --no-edit;

    # build: Inline kernel building as a buildtime task
    git fetch https://github.com/CyanogenMod/android_build cm-13.0;
    git checkout FETCH_HEAD core/tasks/kernel.mk;
    git add core/tasks/kernel.mk;
    git commit -m "build: Inline kernel building as a buildtime task (updated)" --no-edit;

    # envsetup: set OUT_DIR to an absolute path always
    git cherry-pick 0eddc2fe7fdc230bb035e4621d5a92b32052db91;

    # build: work around missing readlink -f on Mac
    git cherry-pick 9a26f6e690247a672bb6382e0927e3be2739b68f;

    # envsetup: use $(CURDIR) for getting current directory
    git cherry-pick 7cb6092e5b3316950390f39e5fa78011aa5e02c5;

    # Allow a device to generically define its own headers
    git cherry-pick 8d442bdde929c68480a53cb06d91ad431b829b0a;

    # build: ota_from_target_files restore symlink
    mv tools/releasetools/ota_from_target_files tools/releasetools/ota_from_target_files.py;
    mv tools/releasetools/ota_from_target_files.symlink tools/releasetools/ota_from_target_files;
    git add tools/releasetools/ota_from_target_files* tools/releasetools/ota_from_target_files.symlink;
    git commit -m "build: Restore ota_from_target_files symlink" --no-edit;

    # build: Always include backup tool
    sed -i 's/ifneq ($(CM_BUILD),)/ifeq (true,true)/' ./core/Makefile;
    git add ./core/Makefile;
    git commit -m 'build: Always include backup tool' --no-edit;

    # Add suffix .so to use directly libart.so
    git cherry-pick ba2f19309d6a7473b67188294b6371bec0a6f4c0;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # frameworks/base
  croot;
  cd frameworks/base/;
  git fetch https://github.com/CyanogenMod/android_frameworks_base cm-13.0;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # audio: HAL update
  croot;
  cd hardware/qcom/audio/;
  git fetch https://github.com/RonGokhale/android_hardware_qcom_audio.git && git checkout FETCH_HEAD;
  git reset --hard HEAD; git stash -u;

  # ==========================================================
  # hardware/qcom/display
  croot;
  cd hardware/qcom/display/;
  git fetch https://github.com/CyanogenMod/android_hardware_qcom_display cm-13.0;

    # copybit: Fix type conversion error for GCC 4.7
    git cherry-pick 0bd8fe85ae1ca5d19f540fd0fabefe1a456f9d13;

    # display: add TARGET_PROVIDES_LIBLIGHT
    git cherry-pick d380233cdf16d782d003469786be7761260544e5;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # libril: allow board to provide libril
  croot;
  cd hardware/ril/;
  git fetch http://review.cyanogenmod.org/a/CyanogenMod/android_hardware_ril refs/changes/31/76431/1 && git cherry-pick FETCH_HEAD;
  git reset --hard HEAD; git stash -u;

  # ==========================================================
  # system/core
  croot;
  cd system/core/;

    # healthd: charger: Add board overrides in mode_charger
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=f10412c2d00547b82d26461c71a032d083562e5d \
      | git apply -v --index && git commit -m 'healthd: charger: Add board overrides in mode_charger' --no-edit;

    # healthd: increase healthd fast timer to 10mins instead of 1min
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=84fd4732680e00bf63fdf7af1f7046cc81608240 \
      | git apply -v --index && git commit -m 'healthd: increase healthd fast timer to 10mins instead of 1min' --no-edit;

    # Allocate a new AIDs for RFS module
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=3337032ecae37488f5f64a8a00260f27c31bfd73 \
      | git apply -v --index && git commit -m 'Allocate a new AIDs for RFS module' --no-edit;

    # diag: Add new qcom_diag group to access /dev/diag
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=b198304a56bad86a08b5dd647113c61489dcb564 \
      | git apply -v --index && git commit -m 'diag: Add new qcom_diag group to access /dev/diag' --no-edit;

    # ueventd: Add bootdevice symlink for boot storage device
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=22abdc3934cc255a136ba7050c0aa49cb0a0f9ba \
      | git apply -v --index && git commit -m 'ueventd: Add bootdevice symlink for boot storage device' --no-edit;

    # RIL: Add qcom_diag permission to rild
    curl https://source.codeaurora.org/quic/la/platform/system/core/patch/?id=4b01b9096df50ad53153059cde05245f4108afd0 \
      | git apply -v --index && git commit -m 'RIL: Add qcom_diag permission to rild' --no-edit;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # external/toybox
  croot;
  cd external/toybox/;
  git fetch https://github.com/CyanogenMod/android_external_toybox cm-13.0;

    # Explain why attempts to remove the libc++ dependency are futile.
    git cherry-pick 18ed9c765096a1a9b993b29df74749f7e811315a;

    # toybox: Build a static library version
    git cherry-pick d54a3e00b746d0a18f27a5191a3983abecd84fa2;

    # Build a static utility executable
    git cherry-pick fabff830e03bde9a8740f0bf95d2e3b34a8a8947 2>/dev/null;
    sed -i '/<<<<\|====\|>>>>/d' Android.mk;
    git add Android.mk;
    git commit --no-edit;

    # Remove executable ELF relocations
    sed -i 's/LOCAL_MODULE := toybox_static/LOCAL_PACK_MODULE_RELOCATIONS := false\n&/' Android.mk;
    git add Android.mk;
    git commit -m 'toybox_static: Remove execution ELF relocations' --no-edit;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # gatekeeper: Revert Disable sanitizer coverage flags for gatekeeper.
  croot;
  cd system/gatekeeper/;
  git revert 22febf8e7b6aed20db450b5967a63790562f7c6d --no-edit;
  git reset --hard HEAD; git stash -u;

  # ==========================================================
  # frameworks/av
  croot;
  cd frameworks/av/;
  git fetch https://github.com/CyanogenMod/android_frameworks_av cm-13.0;

    # camera: allow device to append camera parameters
    git cherry-pick 70e359f102a3c40cad45ff9ce5a2b3bcdb429658;

    # audio policy: move output handle to AudioOutputDescriptor base class
    curl https://source.codeaurora.org/quic/la/platform/frameworks/av/patch/?id=ceaf083e01baf6c7549d58f3abe1f45dd5a12148 \
      | git apply -v --index && git commit -m 'audio policy: move output handle to AudioOutputDescriptor base class' --no-edit;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # frameworks/support
  croot;
  cd frameworks/support/;
  git reset --hard HEAD; git stash -u;
  git fetch https://github.com/CyanogenMod/android_frameworks_support cm-13.0;

    # fix "find: `dummy': No such file or directory"
    git cherry-pick e05dca1bdb2e49bb22d4d158bee10d22360f83d9;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # system/core
  croot;
  cd system/core/;
  git fetch https://github.com/CyanogenMod/android_system_core cm-13.0;
  git reset --hard HEAD; git stash -u;

    # Disable flash_recovery service
    sed -i '/service flash_recovery \/system\/bin\/install-recovery/a \ \ \ \ disabled' ./rootdir/init.rc;
    git add ./rootdir/init.rc;
    git commit -m 'Disable flash_recovery service' --no-edit;

    # liblog: build log_event_write regardless of TARGET_USES_LOGD
    git cherry-pick fb7e634f3d725728d65e0c32c5d20c99d91a158e;

    # Clean project
    git reset --hard HEAD; git stash -u;

  # ==========================================================
  # repo root
  croot;
}
