#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Android Device Targets ===
function androiddevicestarget()
{
  # Variables
  local device=${TARGET_PRODUCT#*_};
  local request=${1};
  local platform='';
  local partition='';
  local target_devices="dora kagura suzu huashan hayabusa mint tsubasa";

  # Autodetect
  if [ -z "${device}" ]; then
    device=${KBUILD_DIFFCONFIG%_*};
  fi;
  if [ -z "${device}" ]; then
    device=${ANDROID_DEVICE_TARGET};
  fi;
  if [ -z "${device}" ]; then
    local fullpath=$(pwd);
    for devicename in ${target_devices}; do
      if [[ "${fullpath}" =~ "${devicename}" ]]; then
        device="${devicename}";
      fi;
    done;
  fi;
  if [ -z "${device}" ]; then
    >&2 echo '';
    >&2 printf " Device target [${target_devices}] : ";
    read device;
    >&2 echo '';
    export ANDROID_DEVICE_TARGET=${device};
  fi;

  # Platform
  case "${device}" in
    dora|kagura|suzu)
      platform='/dev/block/bootdevice/by-name';;
    huashan|hayabusa|mint|tsubasa|*)
      platform='/dev/block/platform/msm_sdcc.1/by-name';;
  esac;

  # Input request
  case "${request}" in

    # Device codename
    codename)
      echo "${device}";
      return;;

    # Boot partition
    boot)
      case "${device}" in
        huashan|hayabusa|mint|tsubasa)
          partition='Kernel';;
        dora|f8131|*)
          partition='boot';;
      esac;;

    # FOTAKernel partition
    fota)
      partition='FOTAKernel';;

    # Recovery partition
    recovery)
      case "${device}" in
        dora|f8131)
          partition='recovery';;
        huashan|hayabusa|mint|tsubasa|*)
          partition='FOTAKernel';;
      esac;;

    # System partition
    system)
      case "${device}" in
        huashan|hayabusa|mint|tsubasa)
          partition='System';;
        dora|f8131|*)
          partition='system';;
      esac;;

    # Unknown partition
    *)
      partition='unknown';;
  esac;

  # Result
  echo "${platform}/${partition}";
}
