#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Bashs Folder ===
bash_android_dir=$(dirname ${BASH_SOURCE[0]});

# === Bashs Update ===
function bashup()
{
  source "${bash_android_dir}/android_bash.rc";
  echo '';
  echo -e ' \e[1;33mandroid_shell_tools by AdrianDC: \e[0;33mFunctions loaded properly\e[0m';
  echo '';
}

# === Bashs Sources ===
bash_android_sources="\
  \
  ${bash_android_dir}/android_adb.rc \
  ${bash_android_dir}/android_adb_assets.rc \
  ${bash_android_dir}/android_adb_flash.rc \
  ${bash_android_dir}/android_adb_installers.rc \
  ${bash_android_dir}/android_adb_logs.rc \
  \
  ${bash_android_dir}/android_changelog.rc \
  \
  ${bash_android_dir}/android_colors.rc \
  \
  ${bash_android_dir}/android_devices.rc \
  \
  ${bash_android_dir}/android_edit.rc \
  \
  ${bash_android_dir}/android_fetch.rc \
  \
  ${bash_android_dir}/android_gerrit.rc \
  ${bash_android_dir}/android_gerritssh.rc \
  \
  ${bash_android_dir}/android_git.rc \
  ${bash_android_dir}/android_git_pick.rc \
  ${bash_android_dir}/android_git_stats.rc \
  \
  ${bash_android_dir}/android_grep.rc \
  \
  ${bash_android_dir}/android_kernel_builders.rc \
  ${bash_android_dir}/android_kernel_defconfig.rc \
  ${bash_android_dir}/android_kernel_editors.rc \
  ${bash_android_dir}/android_kernel_helpers.rc \
  ${bash_android_dir}/android_kernel_tools.rc \
  \
  ${bash_android_dir}/android_linux.rc \
  \
  ${bash_android_dir}/android_push.rc \
  \
  ${bash_android_dir}/android_pushbullet.rc \
  \
  ${bash_android_dir}/android_release_builders.rc \
  ${bash_android_dir}/android_release_helpers.rc \
  ${bash_android_dir}/android_release_packages.rc \
  \
  ${bash_android_dir}/android_remotes.rc \
  \
  ${bash_android_dir}/android_repo_builders.rc \
  ${bash_android_dir}/android_repo_changes.rc \
  ${bash_android_dir}/android_repo_cleaners.rc \
  ${bash_android_dir}/android_repo_compare.rc \
  ${bash_android_dir}/android_repo_helpers.rc \
  ${bash_android_dir}/android_repo_init.rc \
  ${bash_android_dir}/android_repo_referenced.rc \
  \
  ${bash_android_dir}/android_rom_aicp.rc \
  ${bash_android_dir}/android_rom_aosp_sony8960.rc \
  ${bash_android_dir}/android_rom_aosp_sonyaosp.rc \
  ${bash_android_dir}/android_rom_aospoms.rc \
  ${bash_android_dir}/android_rom_legacyxperia.rc \
  ${bash_android_dir}/android_rom_lineageos.rc \
  ${bash_android_dir}/android_rom_projects.rc \
  \
  ${bash_android_dir}/android_shortcuts.rc \
  \
  ${bash_android_dir}/android_tools.rc \
  \
  ${bash_android_dir}/android_uploads.rc \
";

# === Bash Importations ===
for bash_source in ${bash_android_sources};
do
  source ${bash_source};
done;

# === Build Prebuilt Files ===
export bash_files_strace_32=${bash_android_dir}/android_files/strace_arm32;
export bash_files_strace_64=${bash_android_dir}/android_files/strace_arm64;
export bash_flashable_android_base=${bash_android_dir}/android_files/flashable_android_base.zip;
export bash_scripts_kernel_injector=${bash_android_dir}/android_files/scripts_kernel_injector;
export bash_sign_apk_dir=${bash_android_dir}/android_signapk;
export bash_updater_flash_boot=${bash_android_dir}/android_files/updater_script_flash_boot;
export bash_updater_flash_fota=${bash_android_dir}/android_files/updater_script_flash_fota;
export bash_updater_install_system=${bash_android_dir}/android_files/updater_script_install_system;
export bash_updater_kernel_injector=${bash_android_dir}/android_files/updater_script_kernel_injector;
export bash_updater_multirom_secondary=${bash_android_dir}/android_files/updater_script_multirom_secondary;

# === Bashs Helper ===
function bashhelp()
{
  for bash_source in ${bash_android_sources};
  do
    grep -ai "alias.*=\|function.*)" "${bash_source}" | grep -i "${1}";
  done;
}

# === Bashs ROMs Editor ===
function bashea()
{
  gedit ${bash_android_dir}/android_rom_*.rc;
  bashup;
}

# === Bashs Functions Editor ===
function bashe()
{
  # Variables
  local files='';

  # Study all script files
  for bash_source in ${bash_android_sources}; do
    for word in ${@}; do
      grep -aiq "${word}" "${bash_source}";

      # List found files
      if [ ${?} -eq 0 ]; then
        files="${files} ${bash_source}";
        continue;
      fi;
    done;
  done;

  # Open listed files
  if [ ! -z "${files}" ]; then
    gedit ${files};
  fi;
}

# === Bashs Syncer ===
function bashsync()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git fetch origin;
  git reset origin/$(git rev-parse --abbrev-ref HEAD);
  git stash;
  git submodule init;
  git submodule update;
  cd "${currentdir}/";
  bashup;
}

# === Bashs Pusher ===
function bashpush()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git add . -Ap;
  git commit -s;
  git push -f origin HEAD:$(git rev-parse --abbrev-ref HEAD);
  cd "${currentdir}/";
  bashup;
}

# === Bashs Amend ===
function bashamend()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git add . -Ap;
  git commit -s --amend;
  git push -f origin HEAD:$(git rev-parse --abbrev-ref HEAD);
  cd "${currentdir}/";
  bashup;
}

# === Bashs Merger ===
function bashmerge()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git fetch origin;
  git reset origin/$(git rev-parse --abbrev-ref HEAD);
  git add -Ap;
  git commit --amend --no-edit;
  git push -f origin HEAD:$(git rev-parse --abbrev-ref HEAD);
  git stash;
  cd "${currentdir}/";
  bashup;
}

# === Bashs Differ ===
function bashdiff()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git fetch origin;
  git diff HEAD origin/$(git rev-parse --abbrev-ref HEAD);
  git diff HEAD;
  cd "${currentdir}/";
}

# === Bashs Log ===
function bashlog()
{
  local currentdir=${PWD};
  cd "${bash_android_dir}/";
  git log --pretty=oneline -n 10;
  cd "${currentdir}/";
}

# === Bashs Reset ===
function bashreset()
{
  cd "${bash_android_dir}/";
  git fetch origin;
  git reset origin/$(git rev-parse --abbrev-ref HEAD);
  git diff --stat HEAD;
}
