#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Git Push User ===
function gitpu()
{
  # Variables
  local remote=${1:-github};
  local branch=${2:-$(repogetbranch)};
  local cmd;

  # Get remote stats
  echo '';
  gitstat ${remote} ${branch} true;

  # Introduction
  echo '';
  local cmd="git push -f ${remote} HEAD:refs/heads/${branch}";
  printf "  ${cmd} [Y/n] ? ";
  read key;
  echo '';

  # Abort push
  if [[ "${key}" == 'n' ]] || [[ "${key}" == 'N' ]]; then
    return;
  fi;

  # Fetch and push
  git fetch ${remote} ${branch};
  ${cmd};
  echo '';
}

# === Git Push Helpers ===
alias gitpa='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername)';
alias gitpa14='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) cm-14.1';
alias gitpa6='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) aosp-6.0';
alias gitpaa6='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) android-6.0';
alias gitpala='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) LA.UM.5.5_rb1.10';
alias gitpal='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) local_manifests'
alias gitpam='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) multirom';
alias gitpama='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) master';
alias gitpamm='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) marshmallow';
alias gitpalineage='gitremoteverify lineage gitrao && gitpu lineage cm-14.1';
alias gitpan='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) nougat';
alias gitpat='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) twrp';
alias gitpaicp='gitremoteverify aicp gitrai && gitpu aicp mm6.0';
alias gitpb='gitremoteverify backup gitrab && gitpu backup';
alias gitpold='gitremoteverify old false && gitpu old';
alias gitpoms='gitremoteverify oms gitraoms && gitpu oms nougat';
alias gitpp='gitremoteverify project false && gitpu project master';
alias gitpx='gitremoteverify xperia gitrax && gitpu xperia';
