#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === LineageOS Rebaser ===
function laosrebaser()
{
  # Repo root
  if [ -z "$(type -t croot)" ]; then
    while [ ! -e './build/envsetup.sh' ]; do
      cd ../;
    done;
    source ./build/envsetup.sh;
  fi;
  croot;

  # ==========================================================
  # Constants
  local projects_branch='cm-14.1';
  local projects_paths='
    device/sony/huashan
    device/sony/blue-common
    device/sony/hayabusa
    device/sony/mint
    device/sony/tsubasa
    kernel/sony/msm8960t
    kernel/sony/msm8x60
    vendor/sony
    ';

  # ==========================================================
  # Variables
  local git_revs_count;
  local git_revs_count_local;
  local path_name;
  local project_github;
  local project_unfinished;
  local push_command;

  # Projects loader
  for path in ${1:-${projects_paths}}; do

    # Project selection
    echo '';
    echo " === ${path} [${projects_branch}] ===";
    croot;

    # Ignore non-git projects
    if [ ! -d ${path}/.git ]; then
      echo '  .git project not found, ignoring...';
      continue;
    fi;
    cd ${path}/;

    # Loop until project ready
    project_unfinished=1;
    while [ ${project_unfinished} -eq 1 ]; do

      # Check origin remote
      git ls-remote --exit-code origin >/dev/null 2>&1;
      if [ $? -ne 0 ]; then
        echo ' Branch origin was not found...';
        gitrao;
        continue;
      fi;

      # Check private remote
      git ls-remote --exit-code AdrianDC >/dev/null 2>&1;
      if [ $? -ne 0 ]; then
        echo ' Branch AdrianDC was not found...';
        gitraa;
        continue;
      fi;

      # Fetch and compare
      git fetch origin ${projects_branch};
      git_revs_count=$(git rev-list --left-right --count HEAD...FETCH_HEAD | tail -n 1);
      git_revs_count_local=$(echo "${git_revs_count}" | awk '{ print $1 }');
      git_revs_count_remote=$(echo "${git_revs_count}" | awk '{ print $2 }');
      echo " Differences: ${git_revs_count}";

      # Handle unupdated projects
      if [ ${git_revs_count_remote} -ne 0 ]; then
        echo '';
        printf '  > Rebase onto newest changes [y/N] ? ';
        read key;

        # Rebase the tree
        if [[ "${key}" == 'y' ]] || [[ "${key}" == 'Y' ]]; then
          git rebase --abort;
          git rebase FETCH_HEAD;
          push_command="git push -f AdrianDC HEAD:refs/heads/${projects_branch}";
          echo '';
          printf "  > ${push_command} [Enter] ? ";
          read key;
          echo '';
          ${push_command};
        fi;

      # Project is ready, break the loop
      else
        project_unfinished=0;
      fi;

    done;

    # Cleanup
    git reset --hard HEAD;
    git stash -u;

  done;

  # ==========================================================
  # repo root
  echo '';
  croot;
}
