#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_git_remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_rom_projects.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_rom_lineageos.rc)

# === LineageOS Commits Patcher ===
function lineagepatcher()
{
  # Usage: lineagepatcher [specific_paths] (LineageOS WiP Patcher)

  # Build environment
  while [ ! -e './build/envsetup.sh' ]; do
    cd ../;
  done;
  source ./build/envsetup.sh;

  # Import commits from topic "network-traffic"
  repopick -i -t network-traffic;

  # Import commits from topic "long-press-power-torch"
  repopick -i -t long-press-power-torch;
}

# === LineageOS Web Jekyll ===
function lineagewebjekyll()
{
  # Usage: lineagewebjekyll [bool_install] (Jekyll web helper)

  # Load all gem elements
  sudo gem install bundler;

  # Installation mode
  if [ ! -z "${1}" ]; then
    sudo apt-get install ruby-dev;
    bundle;
  fi;

  # Open webviewer
  xdg-open "http://127.0.0.1:4001" &

  # Launch Jekyll
  bundle exec jekyll serve --incremental --port 4001;
}
