#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === ROM Output Cleaner ===
function outdevcl()
{
  # Function usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outdevcl devicename';
    echo '';
    return;
  fi;

  # Out path
  out_device_path="./out/target/product/${1}";

  # Rebuild the build properties
  if [ -f "${out_device_path}/obj/ETC/system_build_prop_intermediates/build.prop" ]; then
    rm -f "${out_device_path}/obj/ETC/system_build_prop_intermediates/build.prop";
  fi;
  if [ -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop" ]; then
    rm -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop";
  fi;
  if [ -f "${out_device_path}/recovery/root/default.prop" ]; then
    rm -f "${out_device_path}/recovery/root/default.prop";
  fi;

  # Delete relevant outputs
  rm -rfv "${out_device_path}/"*${1}*".zip";
  rm -rfv "${out_device_path}/"*${1}*".zip.md5sum";
  rm -rfv "${out_device_path}/boot"*;
  rm -rfv "${out_device_path}/combinedroot";
  rm -rfv "${out_device_path}/data";
  rm -rfv "${out_device_path}/install";
  rm -rfv "${out_device_path}/kernel";
  rm -rfv "${out_device_path}/obj/ETC/system_build_prop_intermediates";
  rm -rfv "${out_device_path}/obj/PACKAGING/target_files_intermediates";
  rm -rfv "${out_device_path}/ota_temp/RECOVERY/RAMDISK";
  rm -rfv "${out_device_path}/"*"ota"*".zip";
  rm -rfv "${out_device_path}/recovery";
  rm -rfv "${out_device_path}/root";
  rm -rfv "${out_device_path}/system";
  rm -rfv "${out_device_path}/utilities";
  rm -rfv "${out_device_path}/combined"*;
  rm -rfv "${out_device_path}/ramdisk"*;
  rm -rfv "${out_device_path}/recovery"*;
  rm -rfv "${out_device_path}/system"*;
}

# === Ninja Disabler ===
function noninja()
{
  export USE_NINJA=false;
  ${@};
  export USE_NINJA=;
}

# === Build Without Ninja ===
function mmo()
{
  export USE_NINJA=false;
  mmm ${@};
  export USE_NINJA=;
}

# === Build & Install Without Ninja ===
function mmi()
{
  export USE_NINJA=false;
  adbi mmm ${@};
  export USE_NINJA=;
}

# === Build & Listen Without Ninja ===
function mmil()
{
  export USE_NINJA=false;
  adbil mmm ${@};
  export USE_NINJA=;
}

# === CCache Disabler ===
function noccache()
{
  local use_ccache=${USE_CCACHE};
  export USE_CCACHE=0;
  ${@};
  export USE_CCACHE=${use_ccache};
}
