# ======================================
#  Original code by Akhil Narang - 2015
#      Reworked by Adrian DC - 2016
# ======================================

# === Shell Colors ===
function loadcolors()
{
  export red=$(tput setaf 1);             #  red
  export grn=$(tput setaf 2);             #  green
  export ylw=$(tput setaf 3);             #  yellow
  export blu=$(tput setaf 4);             #  blue
  export ppl=$(tput setaf 5);             #  purple
  export cya=$(tput setaf 6);             #  cyan
  export txtbld=$(tput bold);             #  Bold
  export bldred=${txtbld}$(tput setaf 1); #  red
  export bldgrn=${txtbld}$(tput setaf 2); #  green
  export bldylw=${txtbld}$(tput setaf 3); #  yellow
  export bldblu=${txtbld}$(tput setaf 4); #  blue
  export bldppl=${txtbld}$(tput setaf 5); #  purple
  export bldcya=${txtbld}$(tput setaf 6); #  cyan
  export txtrst=$(tput sgr0);             #  Reset
  export rev=$(tput rev);                 #  Reverse color
  export pplrev=${rev}$(tput setaf 5);
  export cyarev=${rev}$(tput setaf 6);
  export ylwrev=${rev}$(tput setaf 3);
  export blurev=${rev}$(tput setaf 4);
  export normal='tput sgr0';
}

