#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === ADB MultiROM List ===
function adbmromlist()
{
  # Usage: adbmromlist (List available MultiROM installations)

  # Variables
  local path;
  local roms;

  # List all MultiROM installations
  roms=$(mktemp);
  adb shell 'find \
             /sdcard/multirom/roms/* \
             /sdcard1/multirom-*/* \
             /external_sd/multirom-*/* \
             -maxdepth 0 -type d 2> /dev/null' \
    | grep -v '/sdcard/multirom/roms/Internal' \
    > ${roms};

  # Create ROMs list
  path='';
  echo '';
  echo -e " \e[1;37m[ MultiROM installations ]\e[0m";
  echo '';
  while read path; do
    echo "   ${path}";
  done < ${roms};
  echo '';
}

# === ADB MultiROM Selector ===
function adbmromselect()
{
  # Usage: adbmromselect (Select MultiROM installation for path)

  # Variables
  local cnt;
  local key;
  local options;
  local path;
  local roms;

  # List all MultiROM installations
  roms=$(mktemp);
  adb shell 'find \
             /sdcard/multirom/roms/* \
             /sdcard1/multirom-*/* \
             /external_sd/multirom-*/* \
             -maxdepth 0 -type d 2> /dev/null' \
    | grep -v '/sdcard/multirom/roms/Internal' \
    > ${roms};

  # Create ROMs selector list
  cnt=0;
  options=('None');
  path='';
  >&2 echo '';
  >&2 echo -e " \e[1;37m[ Select MultiROM installation ]\e[0m";
  >&2 echo '';
  >&2 echo "   ${cnt}: ${options[${cnt}]}";
  while read path; do
    cnt=$((${cnt} + 1));
    options[${cnt}]=${path};
    >&2 echo "   ${cnt}: ${options[${cnt}]}";
  done < ${roms};
  >&2 echo '';
  >&2 printf " \e[1;33mROM to use [0 to ${cnt}] :\e[0m ";
  >&2 read key;
  >&2 echo '';

  # Return selected ROM path
  if [ ${key} -gt 0 ] && [ ${key} -le ${cnt} ]; then
    echo ${options[${key}]};
  fi;
}
