#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_grep.rc)

# === Grep Helpers ===
function grepb()
{
  # Usage: grepb [inputs] (Grep through sources)

  # Grep through files
  GREP_COLORS='fn=1;1' grep -air --exclude={*.o,*.a,*.cmd,*.ko} --exclude-dir="\.git" --exclude-dir="\.repo" "${*}" .;
}
alias g='grepb';

# === Grep Binaries Helpers ===
function grepbs()
{
  # Usage: grepbs [inputs] (Grep through sources and binaries)

  # Grep through files
  GREP_COLORS='fn=1;1';
  for file in $(find . -type f -not -path "*.git/*" -not -path "*.repo/*" | sort); do
    if [ -f "${file}" ]; then
      found=$(strings "$(readlink -f ${file})" | grep -ai "${*}");
      if [ ! -z "${found}" ]; then
        echo -e "\e[1;31m${file} :\e[0m ${found}";
      fi;
    fi;
  done;
}
alias gs='grepbs';

# === Grep Kernel Configurations ===
function gck()
{
  # Usage: gck [inputs] (Grep through kernel configurations)

  # Grep through files
  GREP_COLORS='fn=1;1';
  for file in $(find . -name "Kconfig" -o -name "Makefile" -not -path "*.git/*" -not -path "*.repo/*" | sort); do
    found=$(strings $(readlink -f ${file}) | grep -ai "${*}");
    if [ ! -z "${found}" ]; then
      echo -e "\e[1;31m${file} :\e[0m ${found}";
    fi;
  done;
}

# === Grep Android Makefiles ===
function gca()
{
  # Usage: gca [inputs] (Grep through Android makefiles)

  # Grep through files
  GREP_COLORS='fn=1;1';
  for file in $(find . -name "*.mk" -o -name "*.bp" -not -path "*.git/*" -not -path "*.repo/*" | sort); do
    found=$(strings $(readlink -f ${file}) | grep -ai "${*}");
    if [ ! -z "${found}" ]; then
      echo -e "\e[1;31m${file} :\e[0m ${found}";
    fi;
  done;
}

# === Grep Search Helpers ===
alias grepi='grep -i';
function glc() { GREP_COLORS='fn=1;1' grep --include \*.c --include \*.cpp --include \*.h -anr '.\{80,\}' .; }
function glj() { GREP_COLORS='fn=1;1' grep --include \*.java -anr '.\{100,\}' .; }
function gle() { GREP_COLORS='fn=1;1' grep --include \*.c --include \*.cpp --include \*.h --include \*.java -anr '.* $' .; }

# === Grep Android Modules ===
function gcmodules()
{
  # Usage: gcmodules (List all LOCAL_MODULE elements)

  # Search all build definitions
  for file in $(find . -name "*.mk" -o -name "*.bp" -not -path "*.git/*" -not -path "*.repo/*" | sort); do
    strings $(readlink -f ${file}) \
      | grep -ai "LOCAL_MODULE:=\|LOCAL_MODULE :=" \
      | sed 's/[ \t]*\(LOCAL_MODULE:=\|LOCAL_MODULE :=\)[ \t]*//g';
  done;
}
