#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_rom_projects.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_shell_tools/raw/master/android_rom_aosp_sony8960.rc)

# === AOSP 8960 N Patcher ===
function aosp8960npatcher()
{
  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_n' 'aosp_sony8960_n' '
    bionic
    bootable/recovery
    build
    device/qcom/common
    device/sony/blue-common
    device/sony/hayabusa
    device/sony/huashan
    device/sony/mint
    device/sony/tsubasa
    external/e2fsprogs
    external/libnfc-nxp
    external/toybox
    frameworks/av
    frameworks/base
    frameworks/native
    frameworks/opt/telephony
    hardware/qcom/audio
    hardware/qcom/display
    hardware/qcom/fm
    hardware/qcom/media
    hardware/ril
    packages/apps/Browser
    packages/apps/CellBroadcastReceiver
    packages/apps/DeskClock
    packages/apps/Music
    packages/apps/Launcher3
    packages/apps/Nfc
    packages/apps/Settings
    packages/inputmethods/LatinIME
    packages/providers/DownloadProvider
    packages/providers/MediaProvider
    system/core
    system/sepolicy
    system/vold
    ' "${1}";
}

# === AOSP 8960 O Patcher ===
function aosp8960opatcher()
{
  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_o' 'aosp_sony8960_o' '
    bionic
    bootable/recovery
    build/make
    device/qcom/common
    device/qcom/sepolicy
    device/sony/blue-common
    device/sony/common
    device/sony/hayabusa
    device/sony/huashan
    device/sony/mint
    device/sony/tsubasa
    external/e2fsprogs
    external/libnfc-nxp
    external/selinux
    external/toybox
    frameworks/av
    frameworks/base
    frameworks/native
    frameworks/opt/telephony
    hardware/qcom/audio
    hardware/qcom/display
    hardware/qcom/fm
    hardware/qcom/gps
    hardware/qcom/media
    hardware/ril
    packages/apps/Browser
    packages/apps/CellBroadcastReceiver
    packages/apps/DeskClock
    packages/apps/Music
    packages/apps/Launcher3
    packages/apps/Nfc
    packages/apps/Settings
    packages/inputmethods/LatinIME
    packages/providers/DownloadProvider
    packages/providers/MediaProvider
    system/core
    system/sepolicy
    system/vold
    ' "${1}";
}

# === AOSP 8960 Master Patcher ===
function aosp8960masterpatcher()
{
  # Use the androidprojectpatcher helper
  androidprojectpatcher 'aosp_development_sony8960_master' 'aosp_sony8960_master' '
    bionic
    bootable/recovery
    build/make
    device/qcom/common
    device/qcom/sepolicy
    device/sony/blue-common
    device/sony/common
    device/sony/hayabusa
    device/sony/huashan
    device/sony/mint
    device/sony/tsubasa
    external/e2fsprogs
    external/libnfc-nxp
    external/selinux
    external/toybox
    frameworks/av
    frameworks/base
    frameworks/native
    frameworks/opt/telephony
    hardware/qcom/audio
    hardware/qcom/display
    hardware/qcom/fm
    hardware/qcom/gps
    hardware/qcom/media
    hardware/ril
    packages/apps/Browser
    packages/apps/CellBroadcastReceiver
    packages/apps/DeskClock
    packages/apps/Music
    packages/apps/Launcher3
    packages/apps/Nfc
    packages/apps/Settings
    packages/inputmethods/LatinIME
    packages/providers/DownloadProvider
    packages/providers/MediaProvider
    system/core
    system/sepolicy
    system/vold
    ' "${1}";
}
