#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Git Push User ===
function gitpu()
{
  # Variables
  local remote=${1:-github};
  local branch=${2:-$(repogetbranch)};
  local cmd;

  # Get remote stats
  echo '';
  gitstat ${remote} ${branch} true;

  # Introduction
  echo '';
  local cmd="git push -f ${remote} HEAD:refs/heads/${branch}";
  printf "  ${cmd} [Y/n] ? ";
  read key;
  echo '';

  # Abort push
  if [[ "${key}" == 'n' ]] || [[ "${key}" == 'N' ]]; then
    return;
  fi;

  # Fetch and push
  git fetch ${remote} ${branch};
  ${cmd};
  echo '';
}

# === Git Push Helpers ===
alias gitpa='gitpu $(githubusername)';
alias gitpa14='gitpu $(githubusername) cm-14.1';
alias gitpa6='gitpu $(githubusername) aosp-6.0';
alias gitpaa6='gitpu $(githubusername) android-6.0';
alias gitpala='gitpu $(githubusername) LA.UM.5.5_rb1.10';
alias gitpam='gitpu $(githubusername) multirom';
alias gitpama='gitpu $(githubusername) master';
alias gitpamm='gitpu $(githubusername) marshmallow';
alias gitpalaos='gitpu laos cm-14.1';
alias gitpan='gitpu $(githubusername) nougat';
alias gitpat='gitpu $(githubusername) twrp';
alias gitpaicp='gitpu aicp mm6.0';
alias gitpb='gitpu backup';
alias gitpold='gitpu old';
alias gitpoms='gitpu oms nougat';
alias gitpp='gitpu project master';
alias gitpx='gitpu xperia';
