#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Repo References Variables ===
export bash_android_referenced_aosp='huashan blue sony';
export bash_android_referenced_lineage='huashan mint hayabusa tsubasa sony dora z3 lx fusion3';

# === Repo Referenced AOSP Devices ===
function reporeferencedaosp()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: reporeferencedaosp "{command_to_run}" "[device1 device2 ...]"';
    echo '';
    return;
  fi;

  # Variables
  local repocommon;
  local command_to_run=${1};
  local referenced_devices=${2:-${bash_android_referenced_aosp}};

  # Execute on common repo
  cdaosp;
  source ./build/envsetup.sh;
  repocommon=$(pwd);
  ${command_to_run};

  # Walk through devices
  for device in ${referenced_devices}; do

    # Select and verify the path existence
    cdaosp ${device};
    if [ ! "$(pwd)" = "${repocommon}" ]; then

      # Execute on device repo
      source ./build/envsetup.sh;
      ${command_to_run};

    fi;

  done;
}

# === Repo Referenced LineageOS Devices ===
function reporeferencedlineage()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: reporeferencedlineage "{command_to_run}" "[device1 device2 ...]"';
    echo '';
    return;
  fi;

  # Variables
  local repocommon;
  local command_to_run=${1};
  local referenced_devices=${2:-${bash_android_referenced_lineage}};

  # Execute on common repo
  cdlineage;
  source ./build/envsetup.sh;
  repocommon=$(pwd);
  ${command_to_run};

  # Walk through devices
  for device in ${referenced_devices}; do

    # Select and verify the path existence
    cdlineage ${device};
    if [ ! "$(pwd)" = "${repocommon}" ]; then

      # Execute on device repo
      source ./build/envsetup.sh;
      ${command_to_run};

    fi;

  done;
}

# === Repo References Updater ===
function reporefupdate()
{
  # Path backup
  local current_dir=$(pwd);

  # Detect and update AOSP references
  for project in sony8960 sonyaosp aospcaf sony8960_test; do
    cddevaosp ${project};
    if [ ${?} -eq 0 ] && ! git diff-index --quiet HEAD --; then
      echo '';
      echo " Updating AOSP ${project} references...";
      git add -Ap;
      git commit --amend;
      gitpu origin local_manifests;
    fi;
  done;

  # Detect and update LineageOS references
  for project in sony8960 sony8996 sonyaosp; do
    cddevlineage ${project};
    if [ ${?} -eq 0 ] && ! git diff-index --quiet HEAD --; then
      echo '';
      echo " Updating LineageOS ${project} references...";
      git add -Ap;
      git commit --amend;
      gitpu origin local_manifests;
    fi;
  done;

  # Detect and update MultiROM references
  cddevmrom;
  if [ ${?} -eq 0 ] && ! git diff-index --quiet HEAD --; then
    echo '';
    echo " Updating MultiROM ${project} references...";
    git add -Ap;
    git commit --amend;
    gitpu origin local_manifests;
  fi;

  # Detect and update TWRP references
  cddevtwrp;
  if [ ${?} -eq 0 ] && ! git diff-index --quiet HEAD --; then
    echo '';
    echo " Updating TWRP ${project} references...";
    git add -Ap;
    git commit --amend;
    gitpu origin local_manifests;
  fi;

  # Path restore
  cd ${current_dir};
}

# === Repo References Syncer ===
function reporefsync()
{
  # Path backup
  local current_dir=$(pwd);

  # Fetch and update AOSP references
  for project in sony8960 sonyaosp aospcaf sony8960_test; do
    cddevaosp ${project};
    if [ ${?} -eq 0 ]; then
      echo '';
      echo " Syncing AOSP ${project} references...";
      git fetch origin local_manifests;
      git diff FETCH_HEAD;
      git reset FETCH_HEAD;
      git stash -u;
    fi;
  done;

  # Fetch and update LineageOS references
  for project in sony8960 sony8996 sonyaosp; do
    cddevlineage ${project};
    if [ ${?} -eq 0 ]; then
      echo '';
      echo " Syncing LineageOS ${project} references...";
      git fetch origin local_manifests;
      git diff FETCH_HEAD;
      git reset FETCH_HEAD;
      git stash -u;
    fi;
  done;

  # Fetch and update MultiROM references
  cddevmrom;
  if [ ${?} -eq 0 ]; then
    echo '';
    echo " Syncing MultiROM ${project} references...";
    git fetch origin local_manifests;
    git diff FETCH_HEAD;
    git reset FETCH_HEAD;
    git stash -u;
  fi;

  # Fetch and update TWRP references
  cddevtwrp;
  if [ ${?} -eq 0 ]; then
    echo '';
    echo " Syncing TWRP ${project} references...";
    git fetch origin local_manifests;
    git diff FETCH_HEAD;
    git reset FETCH_HEAD;
    git stash -u;
  fi;

  # Path restore
  cd ${current_dir};
}
