#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2016
# ======================================

# === Device AICP Syncer ===
function gitcpaicp()
{
  # Variables
  local branch_origin='cm-14.1';
  local branch_target='n7.1';

  # Fetch remotes
  git fetch aicp ${branch_target};
  git reset --hard aicp/${branch_target};
  git fetch origin ${branch_origin};

  # Log branches
  echo '';
  echo -e "  \e[1;34m\e[4;34mBranch : origin/${branch_origin}\e[0m";
  git log --pretty=oneline -n 6 origin/${branch_origin};
  echo '';
  echo -e "  \e[1;34m\e[4;34mBranch : aicp/${branch_target}\e[0m";
  git log --pretty=oneline -n 6 aicp/${branch_target};
  echo '';

  # Process cherry-picks request
  printf '  \e[1;34m\e[4;34mNumber of commits :\e[0m ';
  read cnt;
  git cherry-pick FETCH_HEAD~${cnt}..FETCH_HEAD;

  # Diff branches
  echo '';
  printf "  \e[1;34m\e[4;34mPress Enter to diff with origin/${branch_origin} :\e[0m ";
  read key;
  git diff HEAD origin/${branch_origin};

  # Upload changes
  echo '';
  local headsha1=$(git log --max-count=1 --format=format:%H -- .);
  for i in `seq $((${cnt}-1)) -1 0`; do
    echo -e " \e[1;34m\e[4;34m===[ ${headsha1}~${i} ]===\e[0m";
    echo '';
    git reset --hard ${headsha1}~${i};
    git show HEAD;
    gitremoteverify aicp gitrai;
    gitstat aicp ${branch_target};
    gitpushreview http://gerrit.aicp-rom.com AICP 'for' ${branch_target};
    gitpushreview http://gerrit.aicp-rom.com AICP 'heads' ${branch_target};
    echo '';
  done;
}
