# === Repo FullSync ===
reposa()
{
  source ./build/envsetup.sh;

  repo sync --current-branch --detach --force-broken --force-sync;

  repolist=( # QCom
             111644 \

             # RIL
             "-t legacy_ril" \

             # Clang fixes
             118349 118478 \
             118591 \

             # Optimization
             118201 \

             # Performance
             # 120153 \

             # Settings
             120041 118893 120339 120355 120785 \

             # SystemUI
             119631 \

             # Migrations
             120825 120419 120413 120834 \

             # Media av
             # 120486 120487 120488 120489 120490 \

             # WiFi Country Code
             119667 \

             # Daynight
             # "-t daynight" \

             # Permissions
             "-t permissions-cleanup" \
           );

  for i in "${repolist[@]}";
  do
    echo "";
    echo " V=========== RepoPick $i ===========V";
    echo "";
    repopick $i;
  done;

  echo "Done syncing !";
  echo "";
}

export -f reposa;

