#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === Build paths ===
export android_development_shell_tools_tools_megacmd=${android_development_shell_tools_dir}/android_tools/mega-cmd;

# === Mega.nz Reload ===
function meganzreload()
{
  # Usage
  if [ ! -f ~/.megarc ] || [ ! -z "${1}" ]; then
    echo '';
    echo ' Usage: meganzreload (Reload MEGA.nz account and keys)';
    echo '  ~/.megarc from megatools has to be configured';
    echo '  Dependencies: sudo apt-get install libc-ares-dev libcrypto++-dev libfreeimage-dev';
    echo '';
    return;
  fi;

  # Prepare environment variables
  local env_ld_library_path=${LD_LIBRARY_PATH};
  local env_path=${PATH};
  export LD_LIBRARY_PATH=${android_development_shell_tools_tools_megacmd};
  export PATH=${android_development_shell_tools_tools_megacmd}:${PATH};

  # Start mega-cmd server
  echo '';
  nohup ${android_development_shell_tools_tools_megacmd}/mega-cmd >/dev/null 2>&1 &
  local proc_id=${!};
  sleep 3;

  # Login with .megarc credentials
  local username=$(grep 'Username' ~/.megarc | sed 's/.*= //');
  local password=$(grep 'Password' ~/.megarc | sed 's/.*= //');
  ${android_development_shell_tools_tools_megacmd}/mega-login "${username}" "${password}";

  # Launch mega-reload
  ${android_development_shell_tools_tools_megacmd}/mega-reload;

  # Stop mega-cmd server
  kill -9 "${proc_id}";
  kill "${proc_id}";

  # Restore environment variables
  export LD_LIBRARY_PATH=${env_ld_library_path};
  export PATH=${env_path};
  echo '';
}
