#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Build paths ===
export android_development_shell_tools_tools_megacmd=${android_development_shell_tools_dir}/android_tools/mega-cmd;

# === Mega.nz Reload ===
function meganzreload()
{
  # Usage
  if [ ! -f ~/.megarc ] || [ ! -z "${1}" ]; then
    echo '';
    echo ' Usage: meganzreload (Reload MEGA.nz account and keys)';
    echo '  ~/.megarc from megatools has to be configured';
    echo '  Dependencies: sudo apt-get install libc-ares-dev libcrypto++-dev libfreeimage-dev';
    echo '';
    return;
  fi;

  # Prepare environment variables
  local env_ld_library_path=${LD_LIBRARY_PATH};
  local env_path=${PATH};
  export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${android_development_shell_tools_tools_megacmd};
  export PATH=${PATH}:${android_development_shell_tools_tools_megacmd};

  # Start mega-cmd server
  echo '';
  nohup mega-cmd >/dev/null 2>&1 &
  local proc_id=${!};
  sleep 3;

  # Login with .megarc credentials
  local username=$(grep 'Username' ~/.megarc | sed 's/.*= //');
  local password=$(grep 'Password' ~/.megarc | sed 's/.*= //');
  mega-login "${username}" "${password}";

  # Launch mega-reload
  mega-reload;

  # Stop mega-cmd server
  kill -9 "${proc_id}";
  kill "${proc_id}";

  # Restore environment variables
  export LD_LIBRARY_PATH=${env_ld_library_path};
  export PATH=${env_path};
  echo '';
}
