#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/sources/git/remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/sources/git/stats.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/sources/git/tools.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/sources/git/push.rc)

# === Git Push Helpers ===
alias gitpf='git push -f';

# === Git Push Validated Remote ===
function gitpu()
{
  # Variables
  local branch;
  local cmd;
  local commits_remote;
  local getbranch;
  local input;
  local option;
  local params=("${@}");
  local remote;

  # Validate parameters
  if [ "${#}" -le 0 ]; then
    input='';
  elif [ "${#}" -le 3 ]; then
    input=${params[$((${#}-1))]};
    params=("${params[@]:0:$((${#}-1))}");
  else
    input='-h';
  fi;
  option="${input}";

  # Validate options
  case "${input}" in

    # Help option
    -h|--help)
      echo '';
      echo "Usage: gitpu [remote] [branch] [-y/-n/-d/-f] (Git push to validated remote)";
      echo '';
      return;;

    # Yes option
    -y|-Y)
      option='-y';;

    # No option
    -n|-N)
      option='-n';;

    # Delete option
    -d|-D)
      option='-d';;

    # Force option
    -f|-F)
      option='-f';;

    # No option or unknown option
    *)
      if [ ! -z "${3}" ]; then
        echo '';
        echo -e " \e[1;33mgitpu: \e[1;31mUnknown '${3}' option...\e[0m";
        echo '';
        return;
      fi;
      option='';
      params=("${@}");;

  esac;
  input=${option};

  # Variables detection
  getbranch=$(gitgetrepobranch);
  remote=${params[0]:-$(gitgetremote "${getbranch}")};
  branch=${params[1]:-${getbranch}};

  # Variables fallbacks
  remote=${remote:-origin};
  branch=${branch:-master};

  # Header information
  echo '';
  echo -e " \e[1;32m=== gitpu - Pushing to branch '${branch}' ===\e[0m";
  echo '';

  # Get remote stats
  gitstat "${remote}" "${branch}" true;

  # Validate force pushing
  commits_remote=$(git rev-list --left-right HEAD...FETCH_HEAD | grep -c '^>');
  case "${option}" in
    -d)
      ;;
    -f)
      if [ "${commits_remote}" -ne 0 ]; then
        echo '';
        echo -e " \e[1;33mgitpu: \e[1;31m${commits_remote} commits will be lost on the remote.\e[0m";
      else
        option='-y';
      fi;;
    *)
      if [ "${commits_remote}" -ne 0 ]; then
        echo '';
        echo -en " \e[1;33mgitpu: \e[1;31m${commits_remote} commits will be lost on the remote. Continue ? [Enter] \e[0m";
        read -r;
        option='-f';
      fi;;
  esac;

  # Prefix
  echo '';
  echo -en ' \e[1;33mgitpu: ';

  # Push force command
  case "${option}" in

    # Delete push
    -d)
      cmd="git push -f ${remote} :refs/heads/${branch}";
      key='';
      echo -en "\e[0;31m${cmd} \e[1;31m# Delete: Y/n ? \e[0m";;

    # Force push
    -f)
      cmd="git push -f ${remote} HEAD:refs/heads/${branch}";
      case "${input}" in
        -f) key='y';;
        *) key='';;
      esac;
      echo -en "\e[0;31m${cmd} \e[1;31m# Rewrite: Y/n ? \e[0m";;

    # Regular push
    -y|-n|'')
      cmd="git push ${remote} HEAD:refs/heads/${branch}";
      key=${option:1};
      echo -en "\e[0;32m${cmd} \e[1;32m# Update: Y/n ? \e[0m";;

  esac;

  # Push validation
  if [ -z "${key}" ]; then
    read -n1 -r key;
    echo '';
  else
    echo "${key}";
  fi;
  echo '';

  # Abort push
  if [[ "${key}" == 'n' ]] || [[ "${key}" == 'N' ]]; then
    return;
  fi;

  # Push to remote
  ${cmd};
  echo '';
}

# === Git Full Url Push ===
function gitpurl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: gitpurl <url> (Git pull to full url)';
    echo '';
    return;
  fi;

  # Variables
  local url=${1};
  local branch;

  # Prepare url
  branch=${url};
  url=${url%/commits/*};
  url=${url%/tree/*};
  branch=${branch#*/commits/};
  branch=${branch#*/tree/};

  # Git push to full url
  gitpu "${url}" "${branch}";
}

# === Git Push Validated Username Helpers ===
alias gitpa='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername)';
alias gitpama='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) master';
alias gitpa14='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) cm-14.1';
alias gitpa15='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) lineage-15.1';
alias gitpal='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) local_manifests'
alias gitpaman='gitremoteverify $(githubusername) gitraa && gitpu $(githubusername) manifests'

# === Git Push Validated Origin Helpers ===
alias gitpo='gitremoteverify origin false && gitpu origin';
alias gitpom='gitremoteverify origin false && gitpu origin master';

# === Git Push Validated Project Helpers ===
alias gitpp='gitremoteverify project gitrap && gitpu project';
alias gitppm='gitremoteverify project gitrap && gitpu project master';

# === Git Push Validated Private Helpers ===
alias gitppriv='gitremoteverify private false && gitpu private';
alias gitpprivm='gitremoteverify private false && gitpu private master';
