export MainFolder=/media/adriandc/AndroidDev;
export ScriptsDir="$MainFolder/Scripts/";
export ServerDir=$MainFolder/Server/;
export LogsDir="$MainFolder/Logs";

source $ServerDir/ScriptUser.rc;

export ScriptTerminal="$LogsDir/ScriptTerminal.pid";
export ScriptsJob="$LogsDir/Job.log";
export ScriptsLog="$LogsDir/Build";

export ScriptBuildAddons="$ServerDir/ScriptBuildAddons.sh";
export ScriptBuildCM121="$ServerDir/ScriptBuildCM121.sh";
export ScriptBuildCM130="$ServerDir/ScriptBuildCM130.sh";
export ScriptBuildAICP="$ServerDir/ScriptBuildAICP.sh";
export ScriptBuildAOSP="$ServerDir/ScriptBuildAOSP.sh";

