export MainFolder=/media/adriandc/AndroidDev;
export ScriptsDir="$MainFolder/Scripts";
export ServerDir=$MainFolder/Server;
export BashsDir="$MainFolder/Bash";
export LogsDir="$MainFolder/Logs";

# PushBullet API Credentials
export PushBulletToken="token";
export PushBulletUser="user";
export PushBulletNoteUrl="url";

# Create  ~/.bash_android.pushbullet.rc with the exports to override the credentials
if [ -f ~/.bash_android.pushbullet.rc ]; then
  source ~/.bash_android.pushbullet.rc;
fi;

export ScriptTerminal="$LogsDir/ScriptTerminal.pid";
export ScriptsJob="$LogsDir/Job.log";
export ScriptsLog="$LogsDir/Build";

export ScriptBuildAddons="$ServerDir/BuildAddons.sh";
export ScriptBuildCM121="$ServerDir/BuildCM121.sh";
export ScriptBuildCM130="$ServerDir/BuildCM130.sh";
export ScriptBuildAICP="$ServerDir/BuildAICP.sh";
export ScriptBuildAOSP="$ServerDir/BuildAOSP.sh";

