#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Android Development Shell Tools Path Getter ===
function shtoolsget()
{
  # Usage: shtoolsget (Get the project path)

  # Get the project path
  echo "${ANDROID_DEVELOPMENT_SHELL_TOOLS_DIR}";
}

# === Android Development Shell Tools Path Access ===
function shtoolscd()
{
  # Usage: shtoolscd (Access the project path)

  # Access the project path
  cd "$(shtoolsget)";
}

# === Android Development Shell Tools Files ===
function shtoolsfiles()
{
  # Usage: shtoolsfiles [entrypoint,sources,scripts] (List the project files @Hide)

  # Present entrypoint path
  if [ -z "${1}" ] || [[ "${1}" == *"entrypoint"* ]]; then
    echo "${ANDROID_DEVELOPMENT_SHELL_TOOLS_ENTRYPOINT}";
  fi;

  # Present sources paths
  if [ -z "${1}" ] || [[ "${1}" == *"sources"* ]]; then
    shtoolssources;
  fi;

  # Present scripts paths
  if [ -z "${1}" ] || [[ "${1}" == *"scripts"* ]]; then
    shtoolsscripts;
  fi;
}

# === Android Development Shell Tools Syncer ===
function shtoolssync()
{
  # Usage: shtoolssync (Synchronize the project new changes)

  # Variables
  local currentdir=${PWD};

  # Access Android Development Shell Tools folder
  cd "${ANDROID_DEVELOPMENT_SHELL_TOOLS_DIR}/";

  # Download upstream changes
  git fetch origin "${ANDROID_DEVELOPMENT_SHELL_TOOLS_BRANCH}" &&
      git reset FETCH_HEAD;
  gitsu;

  # Init and update submodules
  git submodule init;
  git submodule update;

  # Restore current path
  cd "${currentdir}/";

  # Reload the project
  shtoolsup;
}

# === Android Development Shell Tools Update ===
function shtoolsup()
{
  # Usage: shtoolsup (Reloads the project scripts)

  # Reload the project sources
  source "${ANDROID_DEVELOPMENT_SHELL_TOOLS_ENTRYPOINT}";
  echo '';
  echo -e ' \e[1;33mandroid_development_shell_tools by AdrianDC: \e[0;33mFunctions loaded properly\e[0m';
  echo '';
}
