#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Android Development Shell Tools Menu ===
function shtools()
{
  # Usage: shtools (Entrypoint menu to android_development_shell_tools)

  # Variables
  local cnt=0;
  local key;
  local line_function;
  local line_usage;
  local list_functions=('');

  # Function header
  echo '';
  echo -e " \e[1;37m[ Android Development Shell Tools - Menu ]\e[0m";
  echo '';

  # Display shtools* menu
  for line_function in $(typeset -F | grep shtools | cut -d' ' -f 3 | grep -v '^shtools$\|^__'); do

    # Parse usage
    line_usage=$(grep -a "Usage: ${line_function} " "${ANDROID_DEVELOPMENT_SHELL_TOOLS_PROJECT_DIR}/"*);
    if [ -z "${line_usage}" ]; then
      continue;
    fi;
    line_usage=${line_usage#*\(};
    line_usage=${line_usage%\)*};
    list_functions+=("${line_function}");

    # Item choice
    cnt=$((cnt + 1));
    echo -e "  \e[1;33m${cnt}: \e[1;37m${line_function} \e[1;32m[${line_usage}]\e[0m";

  done;
  echo '';

  # Request user input
  echo -n " > Command to run [1-${cnt}] : ";
  read -r key;
  echo '';

  # Execute requested function
  ${list_functions[${key}]};
}

# === Android Development Shell Tools Options Menu ===
function shtools-()
{
  # Usage: shtools- (Options menu for android_development_shell_tools)

  # Variables
  local active;
  local cnt;
  local key;
  local line_function;
  local line_option;
  local line_usage;
  local list_functions;

  # Loop until user exits
  key=-1;
  echo '';
  while [ ! "${key}" = '0' ] && [ ! "${key}" = 'q' ]; do

    # Function header
    echo '';
    echo -e " \e[1;37m[ Android Development Shell Tools - Options ]\e[0m";
    echo '';

    # Reset containers
    active=0;
    cnt=0;
    list_functions=('');

    # Display __shtools-* active options
    for line_function in $(typeset -F | grep '__shtools-' | cut -d' ' -f 3 \
                         | grep -v '^__shtools-$' \
                         | grep '\-enable$'); do

      # Verify if the option is active
      cnt=$((cnt + 1));
      line_option=${line_function%-enable};
      line_option=${line_option#__shtools-};
      if [ ! "${line_option}" = "${line_function}" ] && "__shtools-${line_option}-active" 2> /dev/null; then

        # Parse usage
        line_usage=$(shtoolsfiles 'entrypoint,sources' | xargs grep -a "Usage: ${line_function} ");
        if [ -z "${line_usage}" ]; then
          continue;
        fi;
        line_usage=${line_usage#*\(};
        line_usage=${line_usage%\)*};

        # Present active option
        active=$((active + 1));
        echo -e "  \e[1;33mOption ${cnt} active: \e[1;37m${line_option} \e[1;32m[${line_usage}]\e[0m";

      fi;
    done;

    # Detected active options
    if [ "${active}" -ne 0 ]; then
      echo '';
    fi;
    cnt=0;

    # Display exit item
    echo -e "  \e[1;33m0: \e[1;37mKeep current options \e[1;32m[Exit the configuration]\e[0m";

    # Display __shtools-* menu
    for line_function in $(typeset -F | grep '__shtools-' | cut -d' ' -f 3 \
                         | grep -v '^__shtools-$' \
                         | grep -v '\-active$'); do

      # Verify if the option is active
      line_option=${line_function%-enable};
      if [ ! "${line_option}" = "${line_function}" ] && "${line_option}-active" 2> /dev/null; then
        continue;
      fi;

      # Verify if the option is inactive
      line_option=${line_function%-disable};
      if [ ! "${line_option}" = "${line_function}" ] && ! "${line_option}-active" 2> /dev/null; then
        continue;
      fi;

      # Parse usage
      line_usage=$(shtoolsfiles 'entrypoint,sources' | xargs grep -a "Usage: ${line_function} ");
      if [ -z "${line_usage}" ]; then
        continue;
      fi;
      line_usage=${line_usage#*\(};
      line_usage=${line_usage%\)*};
      list_functions+=("${line_function}");

      # Item choice
      cnt=$((cnt + 1));
      echo -e "  \e[1;33m${cnt}: \e[1;37m${line_function#__shtools-} \e[1;32m[${line_usage}]\e[0m";

    done;
    echo '';

    # Request user input
    echo -n " > Command to run [0-${cnt}] : ";
    read -r key;
    echo '';

    # Execute requested function
    if [ "${key}" -eq "${key}" ] 2> /dev/null && [ "${key}" -ge 1 ] && [ "${key}" -le "${cnt}" ]; then
      ${list_functions[${key}]};
    fi;

  done;
}

# === Android Development Shell Tools Toolkits Menu ===
function shtoolskits()
{
  # Usage: shtoolskits [init] (Toolkits selection for android_development_shell_tools)

  # Variables
  local cnt;
  local file_path;
  local key=-1;
  local list;
  local name;
  local toolkits;

  # First time usage
  if [ -z "${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS}" ] || [ ! -z "${1}" ]; then

    # Function header
    echo '';
    echo -e " \e[1;37m[ Android Development Shell Tools - Toolkits ]\e[0m";
    echo '';
    echo -e ' \e[1;33mshtoolskits:\e[0m This function is meant to select which parts of';
    echo '              android_development_shell_tools you want to load';
    echo '';

    # Choices list
    echo -e ' \e[1;33mYou are: \e[1;37m1.\e[0m An Android developer or beginner';
    echo -e '          \e[1;37m2.\e[0m A developer working with Git';
    echo -e '          \e[1;37m3.\e[0m Another type of developer or user';
    echo '';

    # Choices input
    key='0';
    while [ -z "${key}" ] || [ ! -z "${key//[0-9]}" ] || [ "${key}" -lt 1 ] || [ "${key}" -gt "3" ]; do
      echo -en " \e[1;33m> \e[1;37mToolkits to use [1-3] :\e[0m ";
      read -r key;
    done;

    # Choices selection
    case "${key}" in
      1) toolkits=${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS_ANDROID};;
      2) toolkits=${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS_GIT};;
      3) toolkits=${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS_HOST};;
    esac;

    # Initialize default toolkits
    sed -i "/^# Toolkits:.*/d" "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}";
    export ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS="# Toolkits: ${toolkits}";
    echo "${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS}" >> "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}";
    echo '';

  fi;

  # Loop until user exits
  while [ ! "${key}" = '0' ] && [ ! "${key}" = 'q' ]; do

    # Function header
    echo '';
    echo -e " \e[1;37m[ Android Development Shell Tools - Toolkits ]\e[0m";
    echo '';

    # Reset containers
    cnt=0;
    key='';
    list=('');
    toolkits='|';

    # Display __shtools-* menu
    while read -r file_path; do

      # Group variables
      name=$(cat "${file_path}/.name" 2>/dev/null);
      file_path=${file_path#${ANDROID_DEVELOPMENT_SHELL_TOOLS_DIR}/};
      if [ "${file_path}" = 'project' ]; then
        continue;
      fi;
      list+=("${file_path}");

      # Status output
      if [[ "${ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS}" == *"|${file_path}|"* ]]; then
        echo -en '  \e[1;32m[x]';
        toolkits="${toolkits}${file_path}|";
      else
        echo -en '  \e[1;31m[.]';
      fi;

      # Item choice
      cnt=$((cnt + 1));
      echo -e "\e[1;33m ${cnt}: \e[1;37m${name:-[Unknown Folder Name]} \e[1;32m[${file_path}]\e[0m";

    done < <(shtoolsfiles 'sources' | xargs dirname | uniq);
    echo '';

    # Display exit item
    echo -e "      \e[1;33m0: \e[1;37mStore current toolkits \e[1;32m[Exit the configuration]\e[0m";
    echo '';

    # Request user input
    echo -en " \e[1;33m> \e[1;37mToolkit to toggle [0-${cnt}] :\e[0m ";
    read -r key;
    if [ -z "${key}" ]; then
      key='0';
    fi;
    echo '';

    # Execute requested function
    if [ "${key}" -eq "${key}" ] 2> /dev/null && [ "${key}" -ge 1 ] && [ "${key}" -le "${cnt}" ]; then
      file_path=${list[${key}]};
      if [[ "${toolkits}" == *"${file_path}"* ]]; then
        toolkits="${toolkits/${file_path}|/}"
      else
        toolkits="${toolkits}${file_path}|";
      fi;
      export ANDROID_DEVELOPMENT_SHELL_TOOLS_TOOLKITS="# Toolkits: ${toolkits}";
    fi;

  done;

  # Update new toolkits
  sed -i "s/\(# Toolkits: \).*/\1${toolkits//\//\\\/}/g" "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}";

  # Reload the project
  shtoolsup >/dev/null 2>&1;
}

# === Android Development Shell Tools News ===
function shtoolsnews()
{
  # Usage: shtoolsnews (Display android_development_shell_tools news notifications)

  # Variables
  local commits_local_count;
  local commits_remote_count;
  local currentdir=${PWD};
  local timestamp_current;
  local timestamp_last;

  # Direct call output
  if [ -z "${1}" ]; then
    echo '';

  # Ignore automated news based on timestamp
  else

    # Validate timestamp from configuration
    timestamp_current=$(date +%Y-%m-%d);
    timestamp_last=$(grep '^# News timestamp: ' "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}");
    if [ -z "${timestamp_last}" ]; then
      echo "# News timestamp: ${timestamp_current}" >> "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}";
    elif echo "${timestamp_last}" | grep -q "${timestamp_current}"; then
      return;
    fi;

    # Update new timestamp configuration
    sed -i "s/\(# News timestamp: \).*/\1${timestamp_current}/g" "${ANDROID_DEVELOPMENT_SHELL_TOOLS_CONFIGURATION}";
  fi;

  # Access Android Development Shell Tools folder
  cd "${ANDROID_DEVELOPMENT_SHELL_TOOLS_DIR}/";

  # Fetch remote project and ignore if unavailable
  echo -en ' \e[1;33mshtoolsnews: \e[1;33mChecking remote upgrades...\e[0m';
  if ! git fetch --quiet origin "${ANDROID_DEVELOPMENT_SHELL_TOOLS_BRANCH}" >/dev/null 2>&1; then
    echo -en '\r\033[K \e[1;33mshtoolsnews: \e[1;31mInternet access not available...\e[0m';
    if [ -z "${1}" ]; then
      echo '';
    else
      sleep 3;
    fi;
    echo -en "\r\033[K";
    cd "${currentdir}/";
    return;
  fi;

  # Ignore if unchanged
  if git diff --quiet HEAD FETCH_HEAD \
      && git diff-index --quiet HEAD; then
    echo -en "\r\033[K";
    cd "${currentdir}/";
    return;
  fi;

  # Header
  echo -e "\r\033[K";
  echo -e ' \e[1;33m===[ android_development_shell_tools by AdrianDC ]===\e[0m';
  echo '';

  # Present local diffs
  if ! git diff-index --quiet HEAD; then
    echo -e " \e[1;33mshtoolsnews: \e[1;37mLocal differences detected\e[0m";
    echo '';
    git diff --stat HEAD;
    echo '';
  fi;

  # Acquire commits counts
  commits_local_count=$(git rev-list --left-only --count HEAD...FETCH_HEAD);
  commits_remote_count=$(git rev-list --right-only --count HEAD...FETCH_HEAD);

  # Present remote commits
  if [ "${commits_remote_count}" -ne 0 ]; then
    echo -e " \e[1;33mshtoolsnews: \e[1;37m${commits_remote_count} new commits available upstream\e[0m";
    echo '';

    # Present remote commits log
    git log --abbrev-commit --color=always --pretty=oneline -n "${commits_remote_count}" FETCH_HEAD \
        | nl -n rn -s '  ' -w 3;

    # Present upgrade hint
    echo '';
    echo -e ' \e[1;33m> \e[1;37mUse \e[1;32mshtoolssync\e[1;37m to upgrade the local project\e[0m';
    echo '';
  fi;

  # Present local commits
  if [ "${commits_local_count}" -ne 0 ]; then
    echo -e " \e[1;33mshtoolsnews: \e[1;37m${commits_local_count} local commits missing\e[0m";
    echo '';

    # Present local commits log
    git log --abbrev-commit --color=always --pretty=oneline -n "${commits_local_count}" HEAD \
        | nl -n rn -s '  ' -w 3;
    echo '';
  fi;

  # Delay input on automatic notifications
  if [ ! -z "${1}" ]; then
    echo -en '\r\033[K \e[1;37m> Resuming input in 3 seconds...\e[0m';
    sleep 3;
    echo -en '\r\033[K';
  fi;

  # Restore current path
  cd "${currentdir}/";
}
