#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Advanced Development Shell Tools Functions Editor ===
function shtoolse()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: shtoolse <words> <to> <search> (Direct access to related sources)';
    echo '';
    return;
  fi;

  # Variables
  local file_source;
  local files=();
  local tmp_list;
  local word;

  # Study all script files
  tmp_list=$(mktemp);
  shtoolsfiles 'entrypoint,sources,scripts' > "${tmp_list}";
  while read -r file_source; do
    for word in "${@}"; do

      # List found files
      if grep -aiq -- "${word}" "${file_source}"; then
        files+=("${file_source}");
        continue;
      fi;

    done;
  done < "${tmp_list}";
  rm -f "${tmp_list}";

  # Open listed files
  if [ ! -z "${files[*]}" ]; then
    fileedit "${files[@]}";
  fi;
}

# === Advanced Development Shell Tools Functions Editor ===
function shtoolsf()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: shtoolsf <function_or_alias> (Direct access to related function or alias sources)';
    echo '';
    return;
  fi;

  # Launch shtoolse with function or alias syntax
  shtoolse "${1}()" "${1}=";
}
