#!/bin/bash
#
# Copyright 2015-2020 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls1 https://github.com/AdrianDC/advanced_development_shell_tools/raw/master/sources/android_adb/tools.rc)
# source <(curl -Ls1 https://github.com/AdrianDC/advanced_development_shell_tools/raw/master/sources/android_adb/logs.rc)

# === ADB Logcat Reader ===
function adbl()
{
  # Variables
  local adb_log=${2:-adb.log};
  local buffer;
  local logcat;

  # Buffer selection
  case "${1}" in
    '')     buffer='';;
    all)    buffer='all';;
    crash)  buffer='crash';;
    events) buffer='events';;
    main)   buffer='main';;
    radio)  buffer='radio';;
    system) buffer='system';;
    help|*)
      >&2 echo '';
      >&2 echo ' Usage: adbl [all/crash/events/main/radio/system] [file_output] [bool_clean] (adb Logcat helper)';
      >&2 echo '';
      return;;
  esac;

  # Verify adb is ready
  adbready;

  # Check buffer available
  logcat=$(adb shell "if [ -d /dev/log ] && [ ! -e /dev/log/${buffer} ]; then echo false; fi;");
  if [ ! -z "${logcat}" ]; then

    # Recursive call when without parameter
    if [ -z "${1}" ]; then
      adbl 'main' "${2}" "${3}";
      return;
    fi;

    # Abort on missing buffer
    >&2 echo '';
    >&2 echo " adbl: Buffer '${buffer}' is not available. Use 'adbl help' to list possible buffers";
    >&2 echo '';
    return;
  fi;

  # Logcat command
  if [ -z "${buffer}" ]; then
    logcat="adb logcat";
  else
    logcat="adb logcat -b ${buffer}";
  fi;

  # Logcat read
  while true; do
    cls;
    echo -n '' > "${adb_log}";

    # Logs clean output
    if [ ! -z "${3}" ]; then
      ${logcat} -v threadtime '*:V' \
        | cut -c 32- \
        | sed -E "s/[0-9]{8}/00000000/g" \
        | sed -E "s/\[[0-9]*\]/[...]/g" \
        | sed -E "s/@[0-9a-f]{6,8}/@......./g" \
        | sed -E "s/\{[0-9a-f]{6,8}\}/{.......}/g" \
        | tee -a "${adb_log}";

    # Logs clean output
    else
      ${logcat} -v threadtime '*:V' \
        | tee -a "${adb_log}";
    fi;

    # End of logs
    >&2 echo '';
    >&2 echo -n 'Press Enter to continue... ';
    read -r;
  done;
}

# === ADB Logcat Relevant Reader ===
function adblr()
{
  # Usage: adblr (Logcat output relevant reader)

  # Verify adb is ready
  adbready;

  # Logcat output relevant reader
  adbl | grep -av 'Diag_Lib:\|MediaScanner: Error opening\|MediaProvider: object removed';
}

# === ADB Logcat Public Cleaner ===
function adblpcln()
{
  # Usage: adblpcln [file_adb.log] (Logcat output public cleaner)

  # Clean input file
  filename=${1:-adb.log};
  mv -f "${filename}" "${filename}.orig";
  grep -v chatty "${filename}.orig" \
      | cut -c "${2:-32}-" \
      | sed -E "s/[0-9]{8}/00000000/g" \
      | sed -E "s/\[[0-9]*\]/[...]/g" \
      | sed -E "s/(@|>)[0-9a-fA-F]{6,8}/\1......./g" \
      | sed -E "s/\{[0-9a-fA-F]{6,8}\}/{.......}/g" \
      | tee "${filename}";
}

# === ADB Logcat Cleaner ===
function adblcln()
{
  # Usage: adblcln [file_adb.log] (Logcat output cleaner)

  # Clean input file
  mv -f "${1}" "${1}.orig";
  cut -c 32- "${1}.orig" | tee "${1}";
}

# === ADB Dmesg Cleaner ===
function adbdcln()
{
  # Usage: adbdcln [file_adb.log] (dmesg output cleaner)

  # Clean input file
  mv -f "${1}" "${1}.orig";
  cut -d']' -f 2- "${1}.orig" | tee "${1}";
}

# === ADB Kernel Logs Cleaner ===
function adbkcln()
{
  # Usage: adbkcln [file_kmsg] (Kernel logs output cleaner)

  # Clean input file
  mv -f "${1}" "${1}.orig";
  cut -c 15- "${1}.orig" | tee "${1}";
}

# === ADB Strace Cleaner ===
function adbstcln()
{
  # Usage: adbstcln [file_adb.log] (strace output cleaner)

  # Clean input file
  filename=${1:-adb.log};
  mv -f "${filename}.orig" "${filename}";
  grep -v chatty "${filename}.orig" \
      | sed -E "s/[0-9]{8}/00000000/g" \
      | sed -E "s/\[[0-9]*\]/[...]/g" \
      | sed -E "s/@[0-9a-f]{6,8}/@......./g" \
      | sed -E "s/0x[0-9a-f]{6,8}/0x......./g" \
      | sed -E "s/\{[0-9a-f]{6,8}\}/{.......}/g" \
      | tee "${filename}";
}

# === ADB Loggers Helpers ===
function adblc() { adb logcat -c; adbl; }
function adbk() { echo -n '' > kmsg; adbready; adbsu cat /proc/kmsg | tee -a kmsg; }
function adbdm() { echo -n '' > dmesg; adbready; adbsu dmesg | tee -a dmesg; }
function adbkd() { echo -n '' > kmsg; adbready; adbsu cat /proc/kmsg | tee -a kmsg; }
function adbkl() { cls; echo -n '' > last_kmsg; adbready; adbsu cat /proc/last_kmsg | tee -a last_kmsg; }
function adbpl() { cls; echo -n '' > last_kmsg; adbready; adbsu cat /sys/fs/pstore/console-ramoops | tee -a last_kmsg; }
function adbrl() { cls; echo -n '' > recovery_log; adbready; adbsu cat /tmp/recovery.log | tee -a recovery_log; }
function adbdumpsensors() { adbsu dumpsys sensorservice; }
function adbtrampoline() { adbsu 'dmesg | grep -i trampoline'; }

# === ADB Ramoops Compressed Logger ===
function adbple()
{
  # Usage: adbple (ADB Ramoops Compressed Logger)
  # Prepare last_kmsg
  cls;
  echo -n '' > last_kmsg;

  # Pull logs file
  adb pull /sys/fs/pstore/dmesg-ramoops-0.enc.z;

  # Decompress and display logs content
  sed -i '1d' ./dmesg-ramoops-0.enc.z;
  zlib-flate -uncompress  < ./dmesg-ramoops-0.enc.z;
}
