#!/bin/bash
#
# Copyright 2015-2020 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Make with Packages Installs ===
function makei()
{
  # Usage: makei [module] (Make Android modules and install them)

  # Make Android modules and install them
  adbi makes "${@:-installed-file-list}";
}

# === Make with Packages Results ===
function makel()
{
  # Usage: makel [module] (Make Android modules and list them)

  # Make Android modules and list them
  adbil makes "${@:-installed-file-list}";
}

# === Make with Packages Zip ===
function makez()
{
  # Usage: makez [module] (Make Android modules and zip them)

  # Make Android modules and zip them
  adbil makes "${@:-installed-file-list}";
  packzippr;
}
