#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === AOSP Sony SODP Automatic Releaser ===
function autoreleaseaospsodp8996()
{
  # Usage: autoreleaseaospsodp8996 [devices] (Automated AOSP Sony SODP 8996 releaser)

  # AndroidDev
  cdand;

  # Repository sync
  if [ -z "${1}" ]; then
    cdaosp;
    reposy;
  fi;

  # Access project repository
  cdaosp sony;

  # When option enabled, sync tree
  if ! romautorelease-nosync-active; then
    reposy;
  fi;

  # Patch and rebase project
  aospsonysodprebaser n-mr1;
  aospsonysodppatcher;

  # Devices to build
  local devices=${1:-dora};

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    romautorelease ${device} aosp;

  done;

  # When option enabled, clean out folder
  if romautorelease-clean-active; then
    rm -rfv out;
  fi;
}
