#!/bin/bash
# ======================================
#   Developed by Adrian DC - 2015-2017
# ======================================

# === AOSP Sony SODP Automatic Releaser ===
function autoreleaseaospsodp8996()
{
  # Usage: autoreleaseaospsodp8996 [devices] [nosync,outclean] (Automated AOSP Sony SODP 8996 releaser)

  # AndroidDev
  cdand;

  # Repository sync
  if [ -z "${1}" ]; then
    cdaosp;
    reposy;
  fi;

  # Project selection, sync and patch
  cdaosp sony;
  if [[ ! "${2}" =~ 'nosync' ]]; then
    reposy;
  fi;
  aospsonysodprebaser;
  aospsonysodppatcher;

  # Devices to build
  local devices=${1:-dora};

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    romautorelease ${device} aosp "${2}";

  done;
}
