#!/bin/bash
#
# Copyright 2015-2017 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_git_remotes.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/android_rom_projects.rc)
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/extensions/sony_msm8996/android_rom_lineageos_sonysodp.rc)

# === LineageOS Sony SODP Patcher ===
function lineagesonysodppatcher()
{
  # Usage: lineagesonysodppatcher [specific_paths] (LineageOS SONY SODP Patcher)

  # Use the androidprojectpatcher helper
  androidprojectpatcher 'lineage_development_sonysodp' 'lineageos_sony' '' "${*}" 'gitraplineagesonysodp';
}

# === LineageOS Sony SODP Rebaser ===
function lineagesonysodprebaser()
{
  # Usage: lineagesonysodprebaser [specific_paths] (LineageOS SONY SODP Rebaser)

  # Use the androidprojectrebaser helper
  androidprojectrebaser 'sonyxperiadev' 'cm-14.1' '
    hardware/sony/camera::camera::aosp/LA.UM.5.5.r1
    hardware/sony/dataservices::vendor-qcom-opensource-dataservices::master
    kernel/sony/msm::kernel::aosp/LA.UM.5.5.r1
    ' "${*}";
}
