#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls https://github.com/AdrianDC/android_development_shell_tools/raw/master/sources/android_release/cleaners.rc)

# === ROM Output Cleaner ===
function outdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outdevcl <devicename> [bool_minimal] (Advanced ROM output cleaner for rebuilds)';
    echo '';
    return;
  fi;

  # Header
  echo '';
  echo -e " \e[1;33moutdevcl:\e[0;33m Cleaning up ROM outputs for '${1}'\e[0m";

  # Run bootimage output cleaner
  outbootdevcl "${1}" 'nested';

  # Run OTA output cleaner
  outotadevcl "${1}" 'nested';

  # Run system output cleaner
  outsystemdevcl "${1}" "${2}" 'nested';

  # Run common output cleaner
  outcommoncl 'nested';

  # Footer
  echo '';
}

# === ROM Output Boot Cleaner ===
function outbootdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outbootdevcl <devicename> (ROM output cleaner for bootimage rebuilds)';
    echo '';
    return;
  fi;

  # Header
  [ -z "${2}" ] && echo '';
  echo -e " \e[1;33moutbootdevcl:\e[0;33m Cleaning up bootimage outputs for '${1}'\e[0m";
  [ -z "${2}" ] && echo '';

  # Out path
  out_device_path=./out/target/product/${1};

  # Rebuild the default properties
  if [ -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop" ]; then
    rm -f "${out_device_path}/ota_temp/RECOVERY/RAMDISK/default.prop";
  fi;
  if [ -f "${out_device_path}/recovery/root/default.prop" ]; then
    rm -f "${out_device_path}/recovery/root/default.prop";
  fi;

  # Delete relevant outputs
  rm -rf "${out_device_path}/boot"*;
  rm -rf "${out_device_path}/combinedroot";
  rm -rf "${out_device_path}/combined"*;
  rm -rf "${out_device_path}/install";
  rm -rf "${out_device_path}/kernel";
  rm -rf "${out_device_path}/ramdisk"*;
  rm -rf "${out_device_path}/recovery";
  rm -rf "${out_device_path}/recovery"*;
  rm -rf "${out_device_path}/root";
  rm -rf "${out_device_path}/utilities";
}

# === ROM Output OTA Cleaner ===
function outotadevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outotadevcl <devicename> (ROM output cleaner for OTA rebuilds)';
    echo '';
    return;
  fi;

  # Header
  [ -z "${2}" ] && echo '';
  echo -e " \e[1;33moutotadevcl:\e[0;33m Cleaning up OTA outputs for '${1}'\e[0m";
  [ -z "${2}" ] && echo '';

  # Out path
  out_device_path=./out/target/product/${1};

  # Delete relevant outputs
  rm -rf "${out_device_path}/"*"${1}"*".zip";
  rm -rf "${out_device_path}/"*"${1}"*".zip.md5sum";
  rm -rf "${out_device_path}/data";
  rm -rf "${out_device_path}/obj/ETC/system_build_prop_intermediates";
  rm -rf "${out_device_path}/obj/PACKAGING/target_files_intermediates";
  rm -rf "${out_device_path}/ota_temp/RECOVERY/RAMDISK";
  rm -rf "${out_device_path}/"*"ota"*".zip";
}

# === ROM Output Sepolicies Cleaner ===
function outsepdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outsepdevcl <devicename> (ROM output cleaner for sepolicies rebuilds)';
    echo '';
    return;
  fi;

  # Header
  [ -z "${2}" ] && echo '';
  echo -e " \e[1;33moutsepdevcl:\e[0;33m Cleaning up sepolicy outputs for '${1}'\e[0m";
  [ -z "${2}" ] && echo '';

  # Out path
  out_device_path=./out/target/product/${1};

  # Delete relevant outputs
  rm -f "${out_device_path}/root/file_contexts"*;
  rm -f "${out_device_path}/root/"*"_contexts";
  rm -f "${out_device_path}/root/sepolicy";
  rm -f "${out_device_path}/combinedroot/file_contexts"*;
  rm -f "${out_device_path}/combinedroot/"*"_contexts";
  rm -f "${out_device_path}/combinedroot/sepolicy";
  rm -f "${out_device_path}/recovery/root/file_contexts"*;
  rm -f "${out_device_path}/recovery/root/"*"_contexts";
  rm -f "${out_device_path}/recovery/root/sepolicy";
}

# === ROM Output System Cleaner ===
function outsystemdevcl()
{
  # Usage
  if [ -z "${1}" ]; then
    echo '';
    echo ' Usage: outsystemdevcl <devicename> [bool_minimal] (ROM output cleaner for system rebuilds)';
    echo '';
    return;
  fi;

  # Header
  [ -z "${3}" ] && echo '';
  echo -e " \e[1;33moutsystemdevcl:\e[0;33m Cleaning up system outputs for '${1}'\e[0m";
  [ -z "${3}" ] && echo '';

  # Out path
  out_device_path=./out/target/product/${1};

  # Delete relevant outputs
  if [ -z "${2}" ]; then
    rm -rf "${out_device_path}/system";

  # Delete relevant outputs while keeping heavy ones
  elif [ -d "${out_device_path}/system" ]; then
    find "${out_device_path}/system" -type f \
        -not -iname '*.apk' -and -not -iname '*.jar' \
        -delete;
  fi;
}

# === ROM Output Sepolicies Cleaner ===
function outcommoncl()
{
  # Usage: outcommoncl (ROM output cleaner for common rebuilds)

  # Header
  [ -z "${1}" ] && echo '';
  echo -e " \e[1;33moutbootdevcl:\e[0;33m Cleaning up common outputs\e[0m";
  [ -z "${1}" ] && echo '';

  # Delete build temporary outputs
  rm -rf './out/soong/.bootstrap';
  rm -rf './out/soong/.minibootstrap';
}
