#!/bin/bash
#
# Copyright 2015-2019 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === Standalone Source Helper ===
# source <(curl -Ls1 https://github.com/AdrianDC/advanced_development_shell_tools/raw/master/sources/host/common.rc)
# source <(curl -Ls1 https://github.com/AdrianDC/advanced_development_shell_tools/raw/master/sources/host/terminal.rc)

# === Shell Configuration Path ===
function shconfig()
{
  # Usage: shconfig (Get ~/.<shell>rc configuration)

  # Get current shell configuration path
  case "$(shpath)" in

    # Z-Shell
    *zsh*)
      echo "${HOME}/.zshrc";;

    # Bash Shell
    *bash*)
      echo "${HOME}/.bashrc";;

    # Unknown Shell
    *)
      >&2 echo '';
      >&2 echo ' shconfig: ERROR: Shell detection failed';
      >&2 echo '';;
  esac;
}

# === Shell Configuration Reload ===
function shup()
{
  # Usage: shup (Reload ~/.<shell>rc configuration)

  # Reload ~/.<shell>rc configuration
  source "$(shconfig)";
}

# === Shell Configuration Edit ===
function she()
{
  # Usage: she (Edit ~/.<shell>rc configuration)

  # Edit ~/.<shell>rc configuration
  FILEEDIT_TOUCH_NEW_FILE=true fileedit "$(shconfig)";
}

# === Shell Path ===
function shpath()
{
  # Usage: shpath (Shell path getter)

  # Variables
  local command;

  # Get current shell command
  command=$(ps -o command= -p $$ 2>/dev/null);
  if [ -z "${command}" ]; then
    command=$(ps -p $$);
    command=/usr/${command##*/usr/};
  fi;

  # Return current shell command
  echo "${command}";
}

# === Shell Minimal Instance ===
function shminimal()
{
  # Usage: shminimal (Shell with SH_MINIMAL defined)

  # Variables
  local command;

  # Shell with SH_MINIMAL defined
  command=$(shpath);
  SH_MINIMAL=true "${command}";
}

# === Clear Screen ===
function cls()
{
  # Usage: cls (Clean terminal screen)

  # Clean terminal screen
  echo -e \\033c;
  clear;

  # Clean tmux history
  if type tmux >/dev/null 2>&1 && [ ! -z "${TMUX}" ]; then
    tmux clear-history;
  fi;
}
