---
---

@import "{{ site.theme }}";

.wrapper {
  width:auto;
  margin:0 auto;
}

header {
  width:240px;
  word-wrap: break-word;
}

section {
  width:auto;
  margin-left:270px;
  float:none;
}

footer {
  width:240px;
}

@media print, screen and (max-width: 960px) {
  header {
    width:auto;
    padding-right:0px;
  }
  section {
    margin-left:0px;
  }
  footer {
    width:auto;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    padding: 25px;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 6px;
  }
}

.anchor-item:hover > a:last-child {
  visibility: visible !important;
}

.groupheader {
  font-weight: bold;
}

.grouplabel {
  color: #267CB9;
}

details {
  margin-left: 20px;
  margin-bottom: 5px;
}

details > summary > h4 {
  cursor: help;
  display: inline;
}

details > blockquote {
  font-style: inherit;
}

details > pre, details > blockquote > pre {
  margin-left: 10px;
}

details > pre, details > ul {
  margin-top: 10px;
}

details > blockquote {
  margin-top: 20px;
}
