---
---

@import "{{ site.theme }}";

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: auto;
  margin: 0 auto;
}

header {
  width: 240px;
  word-wrap: break-word;
}

section {
  float: none;
  margin-left: 270px;
  padding-bottom: 0px;
  width: auto;
}

footer {
  width: 240px;
}

hr {
  max-width: 650px;
}

section > ul {
  max-width: 600px;
}

.group_header {
  font-weight: bold;
}

.group_category {
  color: #555555;
  font-size: small;
}

.group_label {
  color: #267CB9;
}

details {
  margin-left: 20px;
  margin-bottom: 5px;
}

details > summary > h4 {
  cursor: help;
  display: inline;
}

details > blockquote {
  font-style: inherit;
  margin-top: 20px;
}

details > blockquote > .standalone-import {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

details > blockquote:hover > .standalone-import {
  max-height: 200px;
}

details > pre, details > blockquote > pre {
  margin-left: 10px;
}

.anchor-item {
  word-wrap: normal;
}

.anchor-item:hover > a:last-child {
  visibility: visible !important;
}

details > pre, details > ul {
  margin-top: 10px;
}

details > blockquote > ul > li > a > em {
  word-wrap: normal;
}

.group_footer > p {
  margin-bottom: 0px;
}

@media print, screen and (max-width: 960px) {
  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  header {
    width: auto;
    padding-right: 0px;
    text-align: center;
  }
  section {
    margin-left: 0px;
  }
  footer {
    width: auto;
  }
  .header_bar {
    display: none;
  }
  .header_view {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 20px;
  }
  details {
    margin-left: 8px;
  }
  details > blockquote {
    padding-left: 12px;
  }
  details > blockquote > ul {
    padding-left: 24px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding-left: 6px;
    padding-right: 6px;
  }
}
