#!/bin/bash
#
# Copyright 2015-2018 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === AOSP 8960 Oreo Automatic Releaser ===
function autoreleaseaospsony8960o()
{
  # Usage: autoreleaseaospsony8960o [devices] (Automated AOSP Oreo Sony 8960 releaser)

  # AndroidDev
  cdand;

  # When option enabled, sync repository tree
  if ! __shtools-builds-nosync-active && [ -z "${*}" ]; then
    cdaosp;
    reposy;
  fi;

  # Devices to build
  local devices=${*:-huashan mint hayabusa tsubasa};

  # Access device repository and when option enabled, sync tree
  if ! pathchanged cdaosp 8960 && ! __shtools-builds-nosync-active; then
    reposy;
  fi;

  # ROM patcher
  if ! aospsony8960omr1patcher 'a'; then
    return;
  fi;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    ROM_RELEASE=8.x romautorelease "${device}" aosp;

  done;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # When option enabled and not local, clean out folder
  if __shtools-builds-clean-active && ! __shtools-builds-local-active; then
    repoclean;
  fi;
}

# === AOSP 8960 Pie Automatic Releaser ===
function autoreleaseaospsony8960p()
{
  # Usage: autoreleaseaospsony8960p [devices] (Automated AOSP Oreo Sony 8960 releaser)

  # AndroidDev
  cdand;

  # When option enabled, sync repository tree
  if ! __shtools-builds-nosync-active && [ -z "${*}" ]; then
    cdaosp;
    reposy;
  fi;

  # Devices to build
  local devices=${*:-huashan mint hayabusa tsubasa};

  # Access device repository and when option enabled, sync tree
  if ! pathchanged cdaosp 8960 && ! __shtools-builds-nosync-active; then
    reposy;
  fi;

  # ROM patcher
  if ! aospsony8960ppatcher 'a'; then
    return;
  fi;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    ROM_RELEASE=9 romautorelease "${device}" aosp;

  done;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # When option enabled and not local, clean out folder
  if __shtools-builds-clean-active && ! __shtools-builds-local-active; then
    repoclean;
  fi;
}

# === LineageOS Oreo Automatic Releaser ===
function autoreleaselineagesony8960o()
{
  # Usage: autoreleaselineagesony8960o [devices] (Automated LineageOS Oreo Sony 8960 releaser)

  # AndroidDev
  cdand;

  # When option enabled, sync repository tree
  if ! __shtools-builds-nosync-active && [ -z "${1}" ]; then
    cdlineage;
    reposy;
  fi;

  # Devices to build
  local devices=${*:-huashan mint hayabusa tsubasa};

  # Access device repository and when option enabled, sync tree
  if ! pathchanged cdlineage 8960 && ! __shtools-builds-nosync-active; then
    reposy;
  fi;

  # ROM patcher
  if ! lineagesony8960patcher 'a'; then
    return;
  fi;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    ROM_RELEASE=15.x romautorelease "${device}" lineage;

  done;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # When option enabled and not local, clean out folder
  if __shtools-builds-clean-active && ! __shtools-builds-local-active; then
    repoclean;
  fi;
}

# === LineageOS Pie Automatic Releaser ===
function autoreleaselineagesony8960p()
{
  # Usage: autoreleaselineagesony8960p [devices] (Automated LineageOS Pie Sony 8960 releaser)

  # AndroidDev
  cdand;

  # When option enabled, sync repository tree
  if ! __shtools-builds-nosync-active && [ -z "${1}" ]; then
    cdlineage;
    reposy;
  fi;

  # Devices to build
  local devices=${*:-huashan mint hayabusa tsubasa};

  # Access device repository and when option enabled, sync tree
  if ! pathchanged cdlineage 8960 && ! __shtools-builds-nosync-active; then
    reposy;
  fi;

  # ROM patcher
  if ! lineagesony8960patcher 'a'; then
    return;
  fi;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # Walk through devices
  for device in ${devices}; do

    # ROM build and release
    ROM_RELEASE=16.x romautorelease "${device}" lineage;

  done;

  # When option enabled and not local, reinit CCache
  if __shtools-builds-cleanccache-active && ! __shtools-builds-local-active; then
    repocache 'reinit';
  fi;

  # When option enabled and not local, clean out folder
  if __shtools-builds-clean-active && ! __shtools-builds-local-active; then
    repoclean;
  fi;
}
