#!/bin/bash
#
# Copyright 2015-2020 Adrian DC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# === MultiROM Sony 8960 Automatic Releaser ===
function autoreleasemultiromsony8960()
{
  # Usage: autoreleasemultiromsony8960 [devices] (Automated MultiROM Sony 8960 releaser)

  # Automated MultiROM releaser
  cdand;
  cdmultirom;
  repomrom 'huashan';
  for device in mint hayabusa tsubasa; do
    repomrom "${device}" 'nosync';
  done;
}

# === TWRP Sony 8960 Automatic Releaser ===
function autoreleasetwrpsony8960()
{
  # Usage: autoreleasetwrpsony8960 [devices] (Automated TWRP Sony 8960 releaser)

  # Automated TWRP releaser
  cdand;
  cdtwrp;
  repotwrp 'huashan';
  for device in mint hayabusa tsubasa; do
    repotwrp "${device}" 'nosync';
  done;
}
